/*!
* Tourist Town
* Date: Mon Jan 02 2017 17:00:00 PST
* http://touristtown.ca
*
* Copyright 2017, 2018 TouristTown.
*
*/

/* Font
-----------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'ArcherPro-Bold_0';
    src: url('font/ArcherPro-Bold_0.eot');
    src: url('font/ArcherPro-Bold_0.eot?#iefix') format('embedded-opentype'),
        url('font/ArcherPro-Bold_0.woff') format('woff'),
        url('font/ArcherPro-Bold_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ArcherPro-Semibold';
    src: url('font/ArcherPro-Semibold.eot');
    src: url('font/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('font/ArcherPro-Semibold.woff') format('woff'),
        url('font/ArcherPro-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'ArnoPro-Caption';
    src: url('font/ArnoPro-Caption.eot');
    src: url('font/ArnoPro-Caption.eot?#iefix') format('embedded-opentype'),
        url('font/ArnoPro-Caption.woff') format('woff'),
        url('font/ArnoPro-Caption.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Light-Pro';
    src: url('font/IdealSans-Light-Pro.eot');
    src: url('font/IdealSans-Light-Pro.eot?#iefix') format('embedded-opentype'),
        url('font/IdealSans-Light-Pro.woff') format('woff'),
        url('font/IdealSans-Light-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Semibold-Pro';
    src: url('font/IdealSans-Semibold-Pro.eot');
    src: url('font/IdealSans-Semibold-Pro.eot?#iefix') format('embedded-opentype'),
        url('font/IdealSans-Semibold-Pro.woff') format('woff'),
        url('font/IdealSans-Semibold-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('font/MyriadPro-Regular.eot');
    src: url('font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/MyriadPro-Regular.woff') format('woff'),
        url('font/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NewsGothicStd';
    src: url('font/NewsGothicStd.eot');
    src: url('font/NewsGothicStd.eot?#iefix') format('embedded-opentype'),
        url('font/NewsGothicStd.woff') format('woff'),
        url('font/NewsGothicStd.ttf') format('truetype');
}
@font-face {
    font-family: 'BlairMdITC-TT-Medium';
    src: url('font/BlairMdITC-TT-Medium.eot');
    src: url('font/BlairMdITC-TT-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/BlairMdITC-TT-Medium.woff') format('woff'),
        url('font/BlairMdITC-TT-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'ITC-Franklin-Gothic-Book';
    src: url('font/ITC-Franklin-Gothic-Book.eot');
    src: url('font/ITC-Franklin-Gothic-Book.eot?#iefix') format('embedded-opentype'),
        url('font/ITC-Franklin-Gothic-Book.woff') format('woff'),
        url('font/ITC-Franklin-Gothic-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Cantina';
    src: url('font/Cantina.otf');
}
@font-face {
    font-family: 'Ashwood';
    src: url('font/Ashwood.ttf') format('truetype');
}
@font-face {
    font-family: 'Georgia';
    src: url('font/Georgia.ttf') format('truetype');
}
@font-face {
    font-family: 'Georgia-Bold';
    src: url('font/Georgia-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nyala';
    src: url('font/Nyala.ttf') format('truetype');
}
@font-face {
    font-family: 'Nexa-Rust-Sans-Black';
    src: url('font/Nexa-Rust-Sans-Black.otf');
}
@font-face {
    font-family: 'Swiss';
    src: url('font/Swiss.ttf') format('truetype');
}
@font-face {
    font-family: 'Aller';
    src: url('font/Aller.ttf') format('truetype');
}
@font-face {
    font-family: 'Aileron-Black';
    src: url('font/Aileron-Black.otf');
}
@font-face {
    font-family: 'Aileron-BlackItalic';
    src: url('font/Aileron-BlackItalic.otf');
}
@font-face {
    font-family: 'Aileron-Bold';
    src: url('font/Aileron-Bold.otf');
}
@font-face {
    font-family: 'Aileron-BoldItalic';
    src: url('font/Aileron-BoldItalic.otf');
}
@font-face {
    font-family: 'Aileron-Heavy';
    src: url('font/Aileron-Heavy.otf');
}
@font-face {
    font-family: 'Aileron-HeavyItalic';
    src: url('font/Aileron-HeavyItalic.otf');
}
@font-face {
    font-family: 'Aileron-Italic';
    src: url('font/Aileron-Italic.otf');
}
@font-face {
    font-family: 'Aileron-Light';
    src: url('font/Aileron-Light.otf');
}
@font-face {
    font-family: 'Aileron-LightItalic';
    src: url('font/Aileron-LightItalic.otf');
}
@font-face {
    font-family: 'Aileron-Regular';
    src: url('font/Aileron-Regular.otf');
}
@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('font/Aileron-SemiBold.otf');
}
@font-face {
    font-family: 'Aileron-SemiBoldItalic';
    src: url('font/Aileron-SemiBoldItalic.otf');
}
@font-face {
    font-family: 'Aileron-Thin';
    src: url('font/Aileron-Thin.otf');
}
@font-face {
    font-family: 'Aileron-ThinItalic';
    src: url('font/Aileron-ThinItalic.otf');
}
@font-face {
    font-family: 'Aileron-UltraLight';
    src: url('font/Aileron-UltraLight.otf');
}
@font-face {
    font-family: 'Aileron-UltraLightItalic';
    src: url('font/Aileron-UltraLightItalic.otf');
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('font/Nexa-Bold.otf');
}
@font-face {
    font-family: 'CooperHewitt-Bold';
    src: url('font/CooperHewitt-Bold.otf');
}
@font-face {
    font-family: 'CooperHewitt-BoldItalic';
    src: url('font/CooperHewitt-BoldItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Book';
    src: url('font/CooperHewitt-Book.otf');
}
@font-face {
    font-family: 'CooperHewitt-BookItalic';
    src: url('font/CooperHewitt-BookItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Heavy';
    src: url('font/CooperHewitt-Heavy.otf');
}
@font-face {
    font-family: 'CooperHewitt-HeavyItalic';
    src: url('font/CooperHewitt-HeavyItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Light';
    src: url('font/CooperHewitt-Light.otf');
}
@font-face {
    font-family: 'CooperHewitt-LightItalic';
    src: url('font/CooperHewitt-LightItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Medium';
    src: url('font/CooperHewitt-Medium.otf');
}
@font-face {
    font-family: 'CooperHewitt-MediumItalic';
    src: url('font/CooperHewitt-MediumItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Semibold';
    src: url('font/CooperHewitt-Semibold.otf');
}
@font-face {
    font-family: 'CooperHewitt-SemiboldItalic';
    src: url('font/CooperHewitt-SemiboldItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Thin';
    src: url('font/CooperHewitt-Thin.otf');
}
@font-face {
    font-family: 'CooperHewitt-ThinItalic';
    src: url('font/CooperHewitt-ThinItalic.otf');
}
/* Font

/*FANCYBOX(jquery.fancybox.min.css)*/
.fancybox-enabled{
    overflow:hidden
}
.fancybox-enabled body{
    overflow:visible;
    height:100%
}
.fancybox-container{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99993;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.fancybox-container~.fancybox-container{
    z-index:99992
}
.fancybox-bg{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:#0f0f11;
    opacity:0;
    transition-timing-function:cubic-bezier(.55,.06,.68,.19);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.fancybox-container--ready .fancybox-bg{
    opacity:.87;
    transition-timing-function:cubic-bezier(.22,.61,.36,1)
}
.fancybox-controls{
    position:absolute;
    top:0;
    left:0;
    right:0;
    text-align:center;
    opacity:0;
    z-index:99994;
    transition:opacity .2s;
    pointer-events:none;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    direction:ltr
}
.fancybox-show-controls .fancybox-controls{
    opacity:1
}
.fancybox-infobar{
    display:none
}
.fancybox-show-infobar .fancybox-infobar{
    display:inline-block;
    pointer-events:all
}
.fancybox-infobar__body{
    display:inline-block;
    width:70px;
    line-height:44px;
    font-size:13px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align:center;
    color:#ddd;
    background-color:rgba(30,30,30,.7);
    pointer-events:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing:subpixel-antialiased
}
.fancybox-buttons{
    position:absolute;
    top:0;
    right:0;
    display:none;
    pointer-events:all
}
.fancybox-show-buttons .fancybox-buttons{
    display:block
}
.fancybox-slider-wrap{
    overflow:hidden;
    direction:ltr
}
.fancybox-slider,.fancybox-slider-wrap{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    padding:0;
    margin:0;
    z-index:99993;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-tap-highlight-color:transparent
}
.fancybox-slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:auto;
    outline:none;
    white-space:normal;
    box-sizing:border-box;
    text-align:center;
    z-index:99994;
    -webkit-overflow-scrolling:touch
}
.fancybox-slide:before{
    content:"";
    height:100%;
    width:0
}
.fancybox-slide:before,.fancybox-slide>*{
    display:inline-block;
    vertical-align:middle
}
.fancybox-slide>*{
    position:relative;
    padding:24px;
    margin:44px 0;
    border-width:0;
    text-align:left;
    background-color:#fff;
    overflow:auto;
    box-sizing:border-box
}
.fancybox-slide--image{
    overflow:hidden
}
.fancybox-slide--image:before{
    display:none
}
.fancybox-content{
    display:inline-block;
    position:relative;
    margin:44px auto;
    padding:0;
    border:0;
    width:80%;
    height:calc(100% - 88px);
    vertical-align:middle;
    line-height:normal;
    text-align:left;
    white-space:normal;
    outline:none;
    font-size:16px;
    font-family:Arial,sans-serif;
    box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-overflow-scrolling:touch
}
.fancybox-iframe{
    display:block;
    margin:0;
    padding:0;
    border:0;
    width:100%;
    height:100%;
    background:#fff
}
.fancybox-slide--video .fancybox-content,.fancybox-slide--video .fancybox-iframe{
    background:transparent
}
.fancybox-placeholder{
    z-index:99995;
    background:transparent;
    cursor:default;
    overflow:visible;
    -webkit-transform-origin:top left;
    transform-origin:top left;
    background-size:100% 100%;
    background-repeat:no-repeat;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.fancybox-image,.fancybox-placeholder,.fancybox-spaceball{
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    border:0
}
.fancybox-image,.fancybox-spaceball{
    width:100%;
    height:100%;
    max-width:none;
    max-height:none;
    background:transparent;
    background-size:100% 100%
}
.fancybox-controls--canzoomOut .fancybox-placeholder{
    cursor:zoom-out
}
.fancybox-controls--canzoomIn .fancybox-placeholder{
    cursor:zoom-in
}
.fancybox-controls--canGrab .fancybox-placeholder{
    cursor:-webkit-grab;
    cursor:grab
}
.fancybox-controls--isGrabbing .fancybox-placeholder{
    cursor:-webkit-grabbing;
    cursor:grabbing
}
.fancybox-spaceball{
    z-index:1
}
.fancybox-tmp{
    position:absolute;
    top:-9999px;
    left:-9999px;
    visibility:hidden
}
.fancybox-error{
    position:absolute;
    margin:0;
    padding:40px;
    top:50%;
    left:50%;
    width:380px;
    max-width:100%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    background:#fff;
    cursor:default
}
.fancybox-error p{
    margin:0;
    padding:0;
    color:#444;
    font:16px/20px Helvetica Neue,Helvetica,Arial,sans-serif
}
.fancybox-close-small{
    position:absolute;
    top:0;
    right:0;
    width:44px;
    height:44px;
    padding:0;
    margin:0;
    border:0;
    border-radius:0;
    outline:none;
    background:transparent;
    z-index:999;
    cursor:pointer
}
.fancybox-close-small:after{
    content:"×";
    position:absolute;
    top:5px;
    right:5px;
    width:30px;
    height:30px;
    font:20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;
    color:#888;
    font-weight:300;
    text-align:center;
    border-radius:50%;
    border-width:0;
    background:#fff;
    transition:background .2s;
    box-sizing:border-box;
    z-index:2
}
.fancybox-close-small:focus:after{
    outline:1px dotted #888
}
.fancybox-slide--video .fancybox-close-small{
    top:-36px;
    right:-36px;
    background:transparent
}
.fancybox-close-small:hover:after{
    color:#555;
    background:#eee
}
.fancybox-caption-wrap{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:60px 30px 0;
    z-index:99998;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    box-sizing:border-box;
    background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.6) 80%,rgba(0,0,0,.8));
    opacity:0;
    transition:opacity .2s;
    pointer-events:none
}
.fancybox-show-caption .fancybox-caption-wrap{
    opacity:1
}
.fancybox-caption{
    padding:30px 0;
    border-top:1px solid hsla(0,0%,100%,.4);
    font-size:14px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    color:#fff;
    line-height:20px;
    -webkit-text-size-adjust:none
}
.fancybox-caption a,.fancybox-caption button{
    pointer-events:all
}
.fancybox-caption a{
    color:#fff;
    text-decoration:underline
}
.fancybox-button{
    display:inline-block;
    position:relative;
    width:44px;
    height:44px;
    line-height:44px;
    margin:0;
    padding:0;
    border:0;
    border-radius:0;
    cursor:pointer;
    background:transparent;
    color:#fff;
    box-sizing:border-box;
    vertical-align:top;
    outline:none
}
.fancybox-button--disabled{
    cursor:default;
    pointer-events:none
}
.fancybox-button,.fancybox-infobar__body{
    background:rgba(30,30,30,.6)
}
.fancybox-button:hover{
    background:rgba(0,0,0,.8)
}
.fancybox-button:after,.fancybox-button:before{
    content:"";
    pointer-events:none;
    position:absolute;
    border-color:#fff;
    background-color:currentColor;
    color:currentColor;
    opacity:.9;
    box-sizing:border-box;
    display:inline-block
}
.fancybox-button--disabled:after,.fancybox-button--disabled:before{
    opacity:.5
}
.fancybox-button--left:after{
    left:20px;
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg)
}
.fancybox-button--left:after,.fancybox-button--right:after{
    top:18px;
    width:6px;
    height:6px;
    background:transparent;
    border-top:2px solid currentColor;
    border-right:2px solid currentColor
}
.fancybox-button--right:after{
    right:20px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.fancybox-button--left{
    border-bottom-left-radius:5px
}
.fancybox-button--right{
    border-bottom-right-radius:5px
}
.fancybox-button--close{
    float:right
}
.fancybox-button--close:after,.fancybox-button--close:before{
    content:"";
    display:inline-block;
    position:absolute;
    height:2px;
    width:16px;
    top:calc(50% - 1px);
    left:calc(50% - 8px)
}
.fancybox-button--close:before{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.fancybox-button--close:after{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.fancybox-loading{
    border:6px solid hsla(0,0%,39%,.4);
    border-top:6px solid hsla(0,0%,100%,.6);
    border-radius:100%;
    height:50px;
    width:50px;
    -webkit-animation:a .8s infinite linear;
    animation:a .8s infinite linear;
    background:transparent;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-25px;
    z-index:99999
}
@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@media (max-width:800px){
    .fancybox-controls{
        text-align:left
    }
    .fancybox-button--left,.fancybox-button--right,.fancybox-buttons button:not(.fancybox-button--close){
        display:none!important
    }
    .fancybox-caption{
        padding:20px 0;
        margin:0
    }
}
.fancybox-button--fullscreen:before{
    width:15px;
    height:11px;
    left:15px;
    top:16px;
    border:2px solid;
    background:none
}
.fancybox-button--play:before{
    top:16px;
    left:18px;
    width:0;
    height:0;
    border-top:6px inset transparent;
    border-bottom:6px inset transparent;
    border-left:10px solid;
    border-radius:1px;
    background:transparent
}
.fancybox-button--pause:before{
    top:16px;
    left:18px;
    width:7px;
    height:11px;
    border-style:solid;
    border-width:0 2px;
    background:transparent
}
.fancybox-button--thumbs span{
    font-size:23px
}
.fancybox-button--thumbs:before{
    top:20px;
    left:21px;
    width:3px;
    height:3px;
    box-shadow:0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0
}
.fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{
    right:220px
}
.fancybox-thumbs{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:auto;
    width:220px;
    margin:0;
    padding:5px 5px 0 0;
    background:#fff;
    z-index:99993;
    word-break:normal;
    -webkit-overflow-scrolling:touch;
    -webkit-tap-highlight-color:transparent;
    box-sizing:border-box
}
.fancybox-thumbs>ul{
    list-style:none;
    position:absolute;
    position:relative;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y:auto;
    font-size:0
}
.fancybox-thumbs>ul>li{
    float:left;
    overflow:hidden;
    max-width:50%;
    padding:0;
    margin:0;
    width:105px;
    height:75px;
    position:relative;
    cursor:pointer;
    outline:none;
    border:5px solid #fff;
    border-top-width:0;
    border-right-width:0;
    -webkit-tap-highlight-color:transparent;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    box-sizing:border-box
}
li.fancybox-thumbs-loading{
    background:rgba(0,0,0,.1)
}
.fancybox-thumbs>ul>li>img{
    position:absolute;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    max-width:none;
    max-height:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.fancybox-thumbs>ul>li:before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    border-radius:2px;
    border:4px solid #4ea7f9;
    z-index:99991;
    opacity:0;
    transition:all .2s cubic-bezier(.25,.46,.45,.94)
}
.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{
    opacity:1
}
@media (max-width:800px){
    .fancybox-thumbs{
        display:none!important
    }
    .fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{
        right:0
    }
}
/*FANCYBOX(jquery.fancybox.min.css)*/

/*MAINSCREEN(mainscreen.css)*/
/* Global
-----------------------------------------------------------------------------------------------------------*/
html {
    font-size: 100%;
}
body {
    float:left;
    width:96%;
    margin: 0;
    padding: 0 2%;
}
body.map_page {
    width:100%;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6 { margin: 0; }
ul { margin: 0; padding: 0; }
a { text-decoration: none; color: #008886; font-weight: normal }
img { max-width: 100%; }
.heading-text { font-family: ArcherPro-Bold_0; color: #009999; font-weight: normal }
.site-text { font-family: IdealSans-Light-Pro; color: #644B4B; font-weight: normal }
.theme-paragraph ul li { margin-left: 40px; margin-bottom: 15px; }
.site-text.ckeditor-anchors a { padding: 0 !important; }
.ckeditor-anchors p { margin-bottom: 15px; }
.description .description-wrapper .description-inner .site-text.ckeditor-anchors p { margin-bottom: 15px; }
.padding-bottom-none { padding-bottom: 0 !important}
.padding-none { padding: 0 !important}
.margin-bottom-none { margin-bottom: 0 !important}
.border-none { border: none !important}
.sub-cat-margin  {margin-bottom: 45px !important}
/* pagination styles */
.pagination { margin-top: 80px; text-align: center; width: 900px; float: left; border-bottom: 1px solid #525252; border-top: 1px solid #525252; padding: 30px;}
.pull-left { float: left;  margin-top: 5px; }
.pull-right { float: right;  }
.page { float: left; padding: 6px 11px 7px 11px; margin-right: 5px; margin-bottom: 5px; background: #afaea7; text-decoration: none; color: #fff; }
.page.arrows { color: #525252; background: none; float: left; }
.page-active { background-color: #525252; }
.pagination-inside-div
{
    width: 800px;
    margin: 0 auto;
}
label.label-hidden {
    display: none;
}
.drop-down-arrow { width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 8px solid #D7FAF8; margin: 0; float: left; margin-top: 11px; margin-left: 9px; position: absolute; z-index: 990; }
.drop-down-arrow.explore { border-left: 8px solid #525252;}
.drop-down-arrow.listing { border-left: 8px solid #525252; margin-top: 8px;}
/* Global
-----------------------------------------------------------------------------------------------------------*/

/* Header
-----------------------------------------------------------------------------------------------------------*/

.main-header {
    width: 100%;
    float: left;
}
.search-icon-and-logo{
    float:left;
    width:100%;
    margin: 20px 0;
}
.pdf-story-front-view{
    float: left;
}
.search-icon {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.header-top-nav .search-icon-inner{
    float: left;
    margin-right: 5px;
    position: relative;
}
#search_form{
    display: none;
}
.search_header{
    position: absolute;
    left: 0;
    width: 220px;
    text-align: left;
    margin: -50px 0px 0px 22%;
    background-color: #e8f1f9;
    box-shadow: 1px 2px 1px #e0e0e0;
    padding: 10px;
}
.search_header .search_field {
    float: left;
}
.search_header .search_field input {
    background: transparent;
    border: 1px solid #aad1e9;
    padding: 5px;
    width: 160px;
}
.search_header .search_button input {
    background-color: #0078be;
    border: none;
    color: #FFF;
    padding: 6px;
    margin-left: 10px;
}
.logo {
    width: 50%;
    display: inline-block;
    margin: 20px 0;
    vertical-align: middle;
    text-align: center;
}
.logo-top-nav {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    font-family: IdealSans-Semibold-Pro;
    text-transform: uppercase;
    font-size: 17px;
    padding: 3px 0;
}
.logo-top-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.logo-top-nav ul li{
    float: right;
}
.noStory{ width: 100%; text-align: center; }
.logo-top-nav ul li a {
    float: left;
    padding: 20px 40px;
}
img.story-image-mobile {
    min-width: 100%;
}
.logo-top-nav ul li:first-child a {
    float: left;
    padding: 20px 10px 20px 40px;
}
/* Main Navigation */
.navigation {
    float: left;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin: 0 0 20px 0;
    background: #FFF;
}
.navigation ul {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.navigation ul li {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.ul-navigation li:first-child {
    margin-left: 0;
}
.navigation ul li a {
    text-decoration: none;
    font-family: IdealSans-Light-Pro;
    color: #b2b2b2;
}
/* Main Navigation End*/
/* Header End
-----------------------------------------------------------------------------------------------------------*/
/* Footer Start
-----------------------------------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    float: left;
}
.footer-outer {
    float:left;
    width: 100%;
}
.footer-images {
    width: 96%;
    padding: 35px 2%;
    float: left;
    border-bottom: 1px solid #d8d8d8;
}
.footer-margin-auto {
    min-height: 60px;
    display: table;
    margin: 0px auto;
    width: 100%;

}
.footer-margin-auto div img {
    min-height: 35px;
    display: inline-block;
    vertical-align: middle;
}
.footer-margin-auto div
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.footer-margin-auto div a {
    margin-right: 10px;
}
.footer-margin-auto a img {
    max-width: 100%;
}
.footer-anchors a {
    display: inline-block;
    width: 45%;
    margin: 15px 0;
}
.footer-urls {
    width: 100%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
}
.footer-urls ul{
    padding: 20px 0;
    list-style: none;
    display: inline-block;
    text-align: initial;
    position: relative;
    color: #525252;
    font-family: 'IdealSans-Light-Pro';
}
.footer-urls ul li{
    float: left;
    padding: 0 15px;
    border-right: 1px solid #525252;
}
.footer-urls ul li:last-child{
    border: none;
}
.footer-urls ul li a{
    color: #0078c0;
}
.footer-copyrights {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #00010d;
    font-family: NewsGothicStd;
    margin: 40px 0 20px 0;
}
.map-footer {
    width: 100%;
    float: left;
    padding: 20px 0;
    text-align: center;
}
.map-footer-outer {
    float:left;
    width: 100%;
}
.map-footer-outer .footer-logo,
.map-footer-outer .footer-home {
    width: 50%;
    float: left;
    text-align: center;
}
.map-footer-outer .footer-home a.footer-button {
    padding: 15px 50px;
    display: inline-block;
    background: #0069cf;
    color: #fff;
    font-size: 20px;
    font-family: IdealSans-Light-Pro;
}
/*Map thumbnails*/
.gm-style-iw {
    width: 280px !important;
    background-color: #fff;
    top: 14px !important;
    left: 29px !important;
}
.gm-style-iw > div {
    max-width: 280px !important;
}
#iw-container {
    width: 280px !important;
}
#iw-container .iw-content {
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}
#iw-container .iw-content .tooltip-title {
    padding: 10px 0px 2px 0px;
    float: left;
    text-align: center;
    width: 260px;
}
#iw-container .iw-content tooltip-title a {
    float: none;
    text-align: center;
}
#iw-container .iw-content .thumbnail img {
    width: 260px;
    height: 193px;
}
.gm-ui-hover-effect{
    margin: 0 !important;
}
/*Map thumbnails*/
/* Footer End
-----------------------------------------------------------------------------------------------------------*/
/* Main image
-----------------------------------------------------------------------------------------------------------*/
.main_image {
    float: left;
    width: 100%;
    position: relative;
}
.main_image .title p {
    margin: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40%;
    font-size: 44px;
    font-family: ArcherPro-Bold_0;
    color: #fff;
    z-index: 999;
}
.main_image img {
    float: left;
    width: 100%;
}
.main_image .image_overlay_img {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.main_image .image_overlay_img .image_overlay {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 333;
}
.main_slider .image_overlay_img .image_overlay img {
    float: left;
}
/* Main image
-----------------------------------------------------------------------------------------------------------*/
/* Main title
-----------------------------------------------------------------------------------------------------------*/
.main_title {
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #d5faf8;
    color: #008886;
    font-family: 'ArcherPro-Bold_0';
    font-size: 15px;
    float: left;
    text-align: center;
    margin-bottom: 25px;
}
.main_title p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Main title
-----------------------------------------------------------------------------------------------------------*/
/* Description after slider
-----------------------------------------------------------------------------------------------------------*/
.description {
    float: left;
    padding: 25px 5%;
    width: 90%;
    background-color: #e8e8e8;
    font-size: 16px;
    line-height: 2em;
    font-family: IdealSans-Light-Pro;
    margin-bottom: 10px;
}
.description p {
    color: #525255;
    line-height: 1.8;
    margin: 5px 0;
}
/* Description after slider End
-----------------------------------------------------------------------------------------------------------*/
/* Feature Stories
-----------------------------------------------------------------------------------------------------------*/
.feature-items {
    float: left;
    width: 100%;
    padding-top: 25px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d8d8d8;
}
.feature-items .feature {
    float: left;
    width: 100%;
    padding: 15px 0 30px 0;
}
.feature-items .feature .feature-title {
    float: left;
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 40px 0 0 0;
    font-family: ArcherPro-Bold_0;
    font-size: 22px;
    color: #008886;
    font-weight: normal;
}
.feature-items .feature .description {
    float: left;
    width: 80%;
    padding: 0 10%;
    background-color: white !important;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    font-family: IdealSans-Light-Pro;
    background-color: white;
    margin: 0;
    padding-top: 25px;
}
.feature-items .feature .description p {
    font-size: 18px;
    line-height: 1.5em;
    font-family: IdealSans-Light-Pro;
    background-color: white;
    margin: 0 0 15px 0;
}
.feature-items .feature .description p:last-of-type {
    display: inline;
}
.feature-items .feature .description .read-more {
    border: none;
    box-shadow: none;
    width: auto;
    padding: 0;
    font-weight: normal;
    color: #008886;
    display: inline;
    background: none;
}
/* Feature Stories
-----------------------------------------------------------------------------------------------------------*/
/* Thumbnails on all pages
-----------------------------------------------------------------------------------------------------------*/
.thumbnails {
    float: left;
    width: 100%;
}
.thumbnails.secondary-stories{
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d8d8d8;
}
.thumbnails .title {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font-family: ArcherPro-Bold_0;
    font-size: 44px;
    color: #008886;
}
.thumbnails .thumbnails-inner {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    background: #FFF;
}
.thumbnails .thumbnails-inner .thumbnail, .thumbnails .thumbnails-inner .thumbnail a, .thumbnails .thumbnails-inner .thumbnail img {
    float: left;
    width: 100%;
}
.thumbnails .thumbnails-inner .thumbnail .title {
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #008886;
    color: #fff;
    font-family: 'ArcherPro-Bold_0';
    font-size: 15px;
    float: left;
    text-align: left;
}
.thumbnails .thumbnails-inner .thumbnail .title p {
    margin: 0;
    margin-left: 5%;
    width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url(images/Thumbnail-Arrow-Right.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 12px;
}
.thumbnails .thumbnails-inner .thumbnail p.listing {
    text-align: center;
    color: #525255;
    font-family: 'IdealSans-Light-Pro';
}
/* Thumbnails on all pages
-----------------------------------------------------------------------------------------------------------*/
/* Detail page
-----------------------------------------------------------------------------------------------------------*/
.detail-page {
    float: left;
    width: 100%;
    background: #FFF;
}
/*Story Detail page*/
.detail-page .story-title{
    float: left;
    width: 90%;
    text-align: left;
    padding: 0 5%;
    margin: 30px 0;
}
.detail-page .story-title .title {
    float: left;
    width: 100%;
    font-family: ArcherPro-Bold_0;
    font-size: 44px;
    color: #008886;
    margin-bottom: 5px;
}
.detail-page .share-this-story {
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #d5faf8;
    color: #008886;
    font-family: 'ArcherPro-Bold_0';
    font-size: 15px;
    float: left;
    margin-bottom: 25px;
}
.detail-page .share-this-story-inner {
    width: 320px;
    margin: auto;
}
.detail-page .share-this-story .share-this-story-inner p{
    float: left;
    margin: 2px 10px 0 0;
}
.detail-page .content-title {
    float: left;
    width: 90%;
    text-align: left;
    padding: 0 5%;
    margin: 20px 0 10px 0;
}
.detail-page .content-title p {
    float: left;
    width: 100%;
    font-family: ArcherPro-Bold_0;
    font-size: 20px;
    color: #008886;
    margin-bottom: 5px;
}
.margin-none{
    margin: 0px !important;
}
.detail-page .content-description {
    float: left;
    padding: 0 5%;
    padding-bottom: 30px;
    width: 90%;
    font-size: 18px;
    line-height: 2em;
    font-family: IdealSans-Light-Pro;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.detail-page .content-description p {
    margin: 0 0 10px 0;
}
/*Story Detail page*/

/*Listing Detail Page*/
.detail-page .listing-main{
    float: left;
    width: 90%;
    text-align: left;
    padding: 0 5%;
    margin: 30px 0;
}
.detail-page .listing-main .title {
    float: left;
    width: 100%;
    font-family: ArcherPro-Bold_0;
    font-size: 44px;
    color: #525252;
    margin-bottom: 5px;
}
.detail-page .listing-main .other {
    font-family: IdealSans-Light-Pro;
    color: #525252;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.detail-page .listing-description {
    float: left;
    padding: 0 5%;
    padding-bottom: 30px;
    width: 90%;
    font-size: 20px;
    line-height: 2em;
    font-family: IdealSans-Light-Pro;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.detail-page .listing-description p {
    margin: 0 0 10px 0;
}
.detail-page .gallery {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 10px 0;
}
.detail-page .gallery img {
    float: left;
    width: 100%;
    margin: 5px 0;
}
.detail-page .social-media {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin: 0 0 40px 0;
    background: #e8f1f9;
}
.detail-page .social-media a {
    display: inline-block;
    margin: 0 3%;
}
.detail-page .listing-address {
    float: left;
    width: 100%;
    text-align: left;
}
.detail-page .listing-address .listing-address-inner {
    width: 75%;
    margin: auto;
}
.detail-page .listing-address .listing-address-inner .info {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.detail-page .listing-address .listing-address-inner .info .icon {
    float: left;
    width: 20%;
    margin-top: 2px;
}
.detail-page .listing-address .listing-address-inner .info .icon img {
    width: 25px;
}
.detail-page .listing-address .listing-address-inner .info .address-heading {
    float: left;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    font-size: 30px;
    width: 80%;
}
.detail-page .listing-address .listing-address-inner .info .address-heading a {
    color: #525252;
    cursor: pointer;
}
.detail-page .listing-address .listing-address-inner .info .address-heading .accordion {
    display: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
}
.detail-page .listing-address .listing-address-inner .info .address-heading .accordion .accordion-heading{
    font-size: 18px;
    color: rgb(224, 167, 101);
    font-family: ArcherPro-Bold_0;
}
.detail-page .listing-address .listing-address-inner .info .address-heading .accordion .accordion-data {
    font-size: 20px;
    color: rgb(148, 94, 33);
    font-family: ArcherPro-Bold_0;
    margin-bottom: 10px;
}
/*Listing Detail Page*/
/* Detail page
-----------------------------------------------------------------------------------------------------------*/
/* Event Start
-----------------------------------------------------------------------------------------------------------*/
.event-detail-container
{
    width: 100%;
    padding: 25px 0;
    background: #008886;
    color: #fff;
    font-family: 'ArcherPro-Bold_0';
    font-size: 30px;
    float: left;
}
.event-title
{
    float: left;
    width: 100%;
}
.event-title a
{
    float:left;
    margin: 0 10px 0 50px;
    color: #fff;
}
.event-date p
{
    margin: 0 0px 0 50px;
    font-size: 15px;
}
.event-detail-item-container
{
    float: left;
    width: 96%;
    padding: 0 2%;
    margin-bottom: 30px;
}
.event-items-content-container
{
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee;
    color: #525252;
}
.event-detail-heading
{
    float: left;
    width: 30%; 
    padding: 15px 0;
    font-size: 15px;
}
.event-detail-content
{
    float: left;
    width: 70%; 
    padding: 15px 0;
    font-size: 15px;
}
/* Event End
-----------------------------------------------------------------------------------------------------------*/
/*MAINSCREEN(mainscreen.css)*/

/*SWEETALERT(sweetalert.css)*/
body.stop-scrolling {
    height: 100%;
    overflow: hidden; }

.sweet-overlay {
    background-color: black;
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    /* IE8 */
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 10000; }

.sweet-alert {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999; }
@media all and (max-width: 540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px; } }
.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
.sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: 22px; }
.sweet-alert fieldset {
    border: none;
    position: relative; }
.sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
.sweet-alert .sa-error-container.show {
    padding: 10px 0;
    max-height: 100px;
    webkit-transition: padding 0.2s, max-height 0.2s;
    transition: padding 0.25s, max-height 0.25s; }
.sweet-alert .sa-error-container .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ea7d7d;
    color: white;
    line-height: 24px;
    text-align: center;
    margin-right: 3px; }
.sweet-alert .sa-error-container p {
    display: inline-block; }
.sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: #f06e57;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -9px; }
.sweet-alert .sa-input-error::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .sa-input-error::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.sweet-alert .sa-input-error.show {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
.sweet-alert input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
.sweet-alert input:focus {
    outline: none;
    box-shadow: 0px 0px 3px #c4e6f5;
    border: 1px solid #b4dbed; }
.sweet-alert input:focus::-moz-placeholder {
    transition: opacity 0.3s 0.03s ease;
    opacity: 0.5; }
.sweet-alert input:focus:-ms-input-placeholder {
    transition: opacity 0.3s 0.03s ease;
    opacity: 0.5; }
.sweet-alert input:focus::-webkit-input-placeholder {
    transition: opacity 0.3s 0.03s ease;
    opacity: 0.5; }
.sweet-alert input::-moz-placeholder {
    color: #bdbdbd; }
.sweet-alert input:-ms-input-placeholder {
    color: #bdbdbd; }
.sweet-alert input::-webkit-input-placeholder {
    color: #bdbdbd; }
.sweet-alert.show-input input {
    display: block; }
.sweet-alert button {
    background-color: #AEDEF4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
.sweet-alert button:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
.sweet-alert button:hover {
    background-color: #a1d9f2; }
.sweet-alert button:active {
    background-color: #81ccee; }
.sweet-alert button.cancel {
    background-color: #D0D0D0; }
.sweet-alert button.cancel:hover {
    background-color: #c8c8c8; }
.sweet-alert button.cancel:active {
    background-color: #b6b6b6; }
.sweet-alert button.cancel:focus {
    box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
.sweet-alert button::-moz-focus-inner {
    border: 0; }
.sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px; }
.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
.sweet-alert .sa-icon.sa-error {
    border-color: #F27474; }
.sweet-alert .sa-icon.sa-error .sa-x-mark {
    position: relative;
    display: block; }
.sweet-alert .sa-icon.sa-error .sa-line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #F27474;
    display: block;
    top: 37px;
    border-radius: 2px; }
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 17px; }
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px; }
.sweet-alert .sa-icon.sa-warning {
    border-color: #F8BB86; }
.sweet-alert .sa-icon.sa-warning .sa-body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #F8BB86; }
.sweet-alert .sa-icon.sa-warning .sa-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #F8BB86; }
.sweet-alert .sa-icon.sa-info {
    border-color: #C9DAE1; }
.sweet-alert .sa-icon.sa-info::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 29px;
    left: 50%;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #C9DAE1; }
.sweet-alert .sa-icon.sa-info::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
    background-color: #C9DAE1; }
.sweet-alert .sa-icon.sa-success {
    border-color: #A5DC86; }
.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.sweet-alert .sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px; }
.sweet-alert .sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px; }
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2; }
.sweet-alert .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #A5DC86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2; }
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .sa-icon.sa-custom {
    background-size: contain;
    border-radius: 0;
    border: none;
    background-position: center center;
    background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
    0% {
        top: 0%; }
    100% {
        top: 50%; } }

@keyframes slideFromTop {
    0% {
        top: 0%; }
    100% {
        top: 50%; } }

@-webkit-keyframes slideToTop {
    0% {
        top: 50%; }
    100% {
        top: 0%; } }

@keyframes slideToTop {
    0% {
        top: 50%; }
    100% {
        top: 0%; } }

@-webkit-keyframes slideFromBottom {
    0% {
        top: 70%; }
    100% {
        top: 50%; } }

@keyframes slideFromBottom {
    0% {
        top: 70%; }
    100% {
        top: 50%; } }

@-webkit-keyframes slideToBottom {
    0% {
        top: 50%; }
    100% {
        top: 70%; } }

@keyframes slideToBottom {
    0% {
        top: 50%; }
    100% {
        top: 70%; } }

.showSweetAlert[data-animation=pop] {
    -webkit-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
    -webkit-animation: none;
    animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
    -webkit-animation: slideFromTop 0.3s;
    animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
    -webkit-animation: slideFromBottom 0.3s;
    animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
    -webkit-animation: hideSweetAlert 0.2s;
    animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
    -webkit-animation: none;
    animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
    -webkit-animation: slideToTop 0.4s;
    animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
    -webkit-animation: slideToBottom 0.3s;
    animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px; }
    54% {
        width: 0;
        left: 1px;
        top: 19px; }
    70% {
        width: 50px;
        left: -8px;
        top: 37px; }
    84% {
        width: 17px;
        left: 21px;
        top: 48px; }
    100% {
        width: 25px;
        left: 14px;
        top: 45px; } }

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px; }
    54% {
        width: 0;
        left: 1px;
        top: 19px; }
    70% {
        width: 50px;
        left: -8px;
        top: 37px; }
    84% {
        width: 17px;
        left: 21px;
        top: 48px; }
    100% {
        width: 25px;
        left: 14px;
        top: 45px; } }

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px; }
    65% {
        width: 0;
        right: 46px;
        top: 54px; }
    84% {
        width: 55px;
        right: 0px;
        top: 35px; }
    100% {
        width: 47px;
        right: 8px;
        top: 38px; } }

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px; }
    65% {
        width: 0;
        right: 46px;
        top: 54px; }
    84% {
        width: 55px;
        right: 0px;
        top: 35px; }
    100% {
        width: 47px;
        right: 8px;
        top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0; }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1; } }

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0; }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1; } }

.animateErrorIcon {
    -webkit-animation: animateErrorIcon 0.5s;
    animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px; }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1; } }

@keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px; }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1; } }

.animateXMark {
    -webkit-animation: animateXMark 0.5s;
    animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #F8D486; }
    100% {
        border-color: #F8BB86; } }

@keyframes pulseWarning {
    0% {
        border-color: #F8D486; }
    100% {
        border-color: #F8BB86; } }

.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #F8D486; }
    100% {
        background-color: #F8BB86; } }

@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486; }
    100% {
        background-color: #F8BB86; } }

.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate; }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
    -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
    -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
    border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9; }

/*SWEETALERT(sweetalert.css)*/

/*JQUERY UI(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css)*/
/*! jQuery UI - v1.8.24 - 2012-09-28
* https://github.com/jquery/jquery-ui
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.tabs.css, jquery.ui.theme.css
* Copyright (c) 2012 AUTHORS.txt; Licensed MIT, GPL */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }

.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.24
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsHeader}*/; }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png)/*{iconsDefault}*/; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsHover}*/; }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsActive}*/; }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -khtml-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -khtml-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; border-radius: 8px/*{cornerRadiusShadow}*/; }
/*JQUERY UI(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css)*/