/* main menu
----------------------------*/
#ddmenu
{
    display:block;
    text-align:center; /*Specify the alignment of the whole UL if UL is not width:100%;*/
    letter-spacing:normal;
}

#ddmenu ul
{ 
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 930px;
    background: #333;
    display: inline-block;
    list-style: none;
    position: relative;
    z-index: 999999990;
    max-width: 1400px;
    background: #fff;
    border-bottom: 6px solid #f68e00;
}

#ddmenu li
{
    float: left;
    /* margin: 0; */
    font-size: 20px;
    display: inline-block;
    display: inline;
    /* zoom: 1; */
    /* position: relative; */
    color: #f68e00; 
    /*line-height: 46px; */
    /* transition: background-color 0.2s; */
    /* outline: none; */
    /* font-weight: lighter; */
    text-transform: capitalize;
}

#ddmenu li.full-width {
    position: static;
}

#ddmenu li.over
{
    color:#FFF;
    background-color:#f68e00;
}

#ddmenu li.over.no-sub {

}

#ddmenu .top-heading
{
    white-space:nowrap;
    margin:0 0;
    color:inherit;
    padding: 14px 30px 8px;
    text-decoration:none;
    display:inline-block; 
    outline:0;
    cursor:pointer;
}

/* links of top-heading */
#ddmenu li a, #ddmenu li a:link, #ddmenu li a:hover
{
    color:inherit;
    text-decoration: none !important;
}
#ddmenu li a:hover
{
    text-decoration:underline;
}

#ddmenu li a:focus
{
    outline:1px dotted #09F;
}

/* caret(arrow icon) */
#ddmenu i.caret
{  
    color:inherit;
    left:-12px;
    width: 0;
    height: 0;
    overflow:hidden;/*for IE6*/
    vertical-align:middle;
    margin-bottom:2px;
    border-top: 4px solid;/*caret size is 4px now*/
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    position:relative;
}  

/* sub-menu layout
----------------------------*/

#ddmenu .dropdown
{
    width: 100%;
    left: 0px;
    color: #444;
    padding-bottom: 20px;
    margin: 0;
    display: none; 
    position: absolute;
    top: 100%;
    border-top: 13px solid #f68e00;
    border-bottom: 10px solid #dddddd;
    /* border-radius: 2px; */
    background-color: #f8f8f8; 
    background-color: #f8f8f8 \9;
}

#ddmenu li.full-width .dropdown {
    width:100%;
    padding:0;
    margin:0;
    margin-left:-1px; /*Set to 0 if UL has no border*/
}

#ddmenu .offset300 {
    left:-300px;right:auto;
}

#ddmenu .right-aligned {
    left:auto;
    right:0px;
}

#ddmenu li.over .dropdown
{
    display:block;
}

#ddmenu .dd-inner {
    /* text-align: center; */
    /*    padding: 20px;*/
    /* margin: 16px; */
    background-color: #f8f8f8;
    white-space: nowrap;
    font-size: 13px;
    /* line-height: 1.35; */
}

/* links in sub menu
----------------------------*/

#ddmenu .dropdown a
{ 
    display: block;
    color: #444;
    line-height: 30px;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
#ddmenu .dropdown a.first
{ 
    border-top: 1px solid #ddd;
}

#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus
{
    text-decoration:none;
    background-color: #f68e00;
    color: #fff;
}

/* blocks within the sub-menu
-----------------------------*/
#ddmenu div.column
{
    text-align:left;
    vertical-align:top;/*or middle*/
    display:inline-block;
    background-color: #f8f8f8;
    *display:inline;*zoom:1;
    white-space:normal;
    width:auto;min-width:170px;
    padding: 45px 20px 30px 35px;
    float: left;
}
#ddmenu div.column-img
{
    float: left;
    width: 370px;
    margin-left: 40px;
}
#ddmenu div.column-img img
{
    float: left;
    margin-bottom: 10px;
}
#ddmenu div.column-img img.col-first-img
{
    margin-top: 40px;
}
#ddmenu div.column .advertisement{
    float: left;
    width: 305px;
}
#ddmenu div.column .advertisement span
{
    float: left;
    background-color: #aaa;
    text-align: center;
    color: #fff;
    margin: 0 0 20px;
    padding: 50px 0;
    font-size: 25px;
    width: 352px;
    height: 20px;
}

#ddmenu div.dd-inner div:last-child
{
    border-right:none;
}

#ddmenu div.column h3 {
    font-weight: 500;
    line-height: 1.1;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 24px;
}

#ddmenu div.column h3 {text-transform:uppercase;}

/* useful when http://www.menucool.com/ddmenu/one-menu-for-all-pages */
#ddmenuLink {display:none;}

/*######## add additional styles for mobile-friendly responsive menu ########*/

#ddmenu div.menu-icon   
{
    display:none; /* hide menu icon initially */
}
.maps-text{
    color: #fc8a34 !important;
}
.maps-text:hover{
    color: #fff !important;
}
/*

styles for mobile
@media only screen and (max-width: 480px) 
{
    #ddmenu li div.column.mayHide {
        display:none;
    }

    override the original settings
    #ddmenu ul {
        width: 100%; 
        display: none;
        border-radius:0;
        background:rgba(0,153,255,0.6499999999999999); 
    }

    #ddmenu li {
        position:relative;
        display:block;
        font-size:20px;
        text-align:left;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    #ddmenu li.full-width {
        position: relative;
    }

    #ddmenu li .dropdown {
        position:relative;
        *top:auto;for IE7
        border:none;
        border-radius:0;
        box-shadow:none;
        text-align:left;
        background-color:#FFF;
    }

    #ddmenu .offset300 {
        left:0;
    }

    #ddmenu li.full-width div.dropdown {
        width: auto;
    }

    #ddmenu .dd-inner
    {
        margin:0;
        background:none;
        text-align:left;
    }

    turn each column to list vertically instead of horizontally 
    #ddmenu li div.column {
        width:auto;
        padding:0;
        border:none;
        display:block;
    }

    move the arrow icon to right
    #ddmenu i.caret {
        position:absolute;
        left:auto;
        right:14px;
        top:20px;
        border-width:5px;
    }


     All the following are for the div.menu-icon (pure CSS) 
    #ddmenu div.menu-icon {
        font-size:32px;icon size
        display: block;
        position: relative;
        width: 40px;
        height:36px;
        text-align:center;
        cursor: pointer;
        -moz-user-select:none;		
        -webkit-user-select: none;
        background-color: #eee;
        border-radius: 3px;

        margin-bottom:6px;
        align the icon to the right
        margin-left: auto;
        margin-right: 11px;
    }

    #ddmenu div.menu-icon::before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 4px;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #333;
        border-bottom: 0.125em solid #333;
        box-sizing: content-box;
    }

    #ddmenu div.menu-icon-active {
        background-color: #333;
    }

    #ddmenu div.menu-icon-active::before {
        border-color: #eee;
    }
}*/