@import url('/stylesheets/docs/assets/css/main-sreen-style.css');


body{
    background-image: none !important;
    background-color: #E9ECF4 !important;
}
.logo-area{background-image:url("/images/LionsHead.jpg");  background-position: 25px 7px;}

.nav > li.last-item {color: #0779bf;}
 
a.planner-link {
    color: #5BC141;
}
.tripplanner-plus{background-image: url("../img/lh-tripplanner-plus.png");display: block;float: left;height: 12px;margin: 11px 0 0;width: 12px;}
.tripplanner-remove{background-image: url("../img/lh-tripplanner-remove.png");display: block;float: left;height: 12px;margin: 11px 0 0; margin-right: 5px; width: 12px;}
.nav-left-outer{width:210px; float:left; position:relative;}

.content-right-outer {
    width: 930px !important;
    margin: auto !important;
    background-color: #fff !important;
    float: none !important; 
}

.where-menu .navbar-inner{background-color:#2f3c90;}

#tripplanner-status{padding:5px ;float: left; margin-left: 5px; margin-top: 16px; background-color:#065FA3; height: 16px;}
.where-menu .navbar-inner {
  background: #61bc47;
}
.contact-nav .nav > li a,
.contact-nav .nav > li.last-item {
  color: #61bc47;
}
.municipal, .municipal-outer {
    background-color: #01204e;
}
input.submit-search {
    color: #035FA8;
}
#tripplanner-status {
    background-color: #065FA3;
}
.footer-heading-color a{
    color: #035FA8 !important;
}
.footer-heading {
    color: #035FA8;
}
#ddmenu ul {
    border-color: #5BC141;
}
#ddmenu li {
    color: #5BC141;
}
#ddmenu li.over {
    background-color: #5BC141;
}
#ddmenu .dropdown {
    border-top-color: #5BC141;
}
#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus {
    color: #fff !important;
    background-color: #5BC141;
}
.maps-text{
    color: #5BC141 !important;
}
.maps-text:hover{
    color: #fff !important;
}
.home .region-desc a {
    color: #5BC141;
}
.main-content-heading {
    color: #035FA8;
}
.tt-thumbnails.thumbnails>li p {
    background-color: #5CC046;
}
.eventsDetails a {
    color: #5BC141;
}
.menu-item a.active {
    color: #5BC141 !important;
}
.menu-item a:hover
{
    color: #5BC141 !important;
}
.amminities-inside-see a{
    color: #5BC141 !important;
}
.thumbnails-top-10 h5 a {
    color: #5BC141;
}
.thumbnails-top-10 p a {
    color: #5BC141;
}
.text-style li a{
    color: #5BC141;
}
.thumb-bottom-url a {
    color: #5BC141;
}
.thumb-bottom-url a:hover {
    color: #5BC141;
}
.footer-margin-auto-2 p a {
    color: #5BC141;
}
.address-heading a {
    color: #5BC141;
}
/************Profiles**************/
.pdf-download ul li {
    color: #5BC141;
}
.pdf-download ul li a{
    color: #5BC141;
}
.section-header>h2.businessname {
    color: #035FA8;
}
.section-header>span.phone_number {
    color: #035FA8;
}
.pdf-div-heading {
    color: #035FA8;
}
.recmdation-title {
    color: #5BC141 !important;
}
.recmd-business-title {
    color: #5BC141 !important;
}
.background-left-change .recmdation-title-left {
    color: #5BC141;
}
.background-left-change .recmd-business-main-left .recmd-business-title-left {
    color: #5BC141;
}
.main-container-listing .left .listing-description h3 {
    color: #5BC141;
}
.right-about-panel>li p {
    color: #5BC141;
}
.description a {
    color: #5BC141;
}
.product-detail h3 {
    color: #5BC141;
}
.product-detail p {
    color: #5BC141;
}
.menu-types-style h5 {
    color: #5BC141;
}
.listing-title {
    color: #5BC141;
}
.wide-list.features .thumbnails>li>.thumbnail h5 {
    color: #5BC141;
}
.wide-list.features .thumbnails>li>.thumbnail span {
    color: #5BC141;
}
.wide-list.entertainment .thumbnails>li>.thumbnail .copy h5 {
    color: #5BC141;
}
.guest-book-title {
    color: #5BC141;
}
.guest-book li .guest-title {
    color: #5BC141;
}
.add-review-guest {
    color: #5BC141;
}
.guest-title-right {
    color: #5BC141;
}
.guest-business-title p {
    color: #5BC141;
}
/***Left Nav*****/
.container-submenu li a.left-nav-dd:hover{
    background-color: #CEEBF9;
}
.container-submenu li a:hover 
{
    background-color: #CEEBF9;
    color :#0360A5 !important;
}
.container-submenu ul ul {
    background-color: #CEEBF9;
}
.container-submenu ul ul li a:hover 
{
    background:none;
    background-color: #B0D6EC;
/*    color :#CEEBF9 !important; */
}
.container-submenu ul li:hover
{
    background:none;
    background-color: #CEEBF9;
}
/*.container-submenu ul ul a:hover {
    background-color: #2BA41B;
}*/
.container-submenu ul li:hover > a
{
    background:none;
    background-color: #CEEBF9;
    color :#0360A5 !important;
}
.container-submenu {
    background-color: #0360A5;
}
.container-address {
    background-color: #EFF8ED;
}
.content-outer, .content {
    background-color: #E9ECF4;
}
.thumbnails-top-10 h5 {
    color: #035FA8;
}