@import url('/stylesheets/docs/assets/css/main-sreen-style.css');


body{
    background-image: none !important;
    background-color: #e7f2f6 !important;
}

.logo-area{background-image:none;  background-position: 0px 14px;}

.nav > li.last-item {color: #0779bf;}
 .nav-left-outer{width:210px; float:left; position:relative;}
.content-right-outer {
    width: 930px !important;
    margin: auto !important;
    background-color: #fff !important;
    float: none !important;
}

.content-right-outer{margin-left:3px; float:left; width: 758px;  }

a.planner-link{color:#e91a19;}
.tripplanner-plus{background-image: url("../img/PortElgin-tripplanner-plus.gif");display: block;float: left;height: 12px;margin: 11px 0 0;width: 12px;}
.tripplanner-remove{background-image: url("../img/PortElgin-tripplanner-remove.gif");display: block;float: left;height: 12px;margin: 11px 0 0; margin-right: 5px; width: 12px;}

/*#tripplanner-status{padding:5px ;float: left; margin-left: 5px; margin-top: 16px; background-color:#e91a19; height: 16px;}*/
.gm-style-iw{
    overflow: hidden !important;
}