@import url('/stylesheets/docs/assets/css/main-sreen-style.css');


body{
    background-image: none !important;
    background-color:  #F7F7EA !important;
}

.logo-area{background-image:url("/images/southampton.jpg");  background-position: 25px 7px;}

.nav > li.last-item {color: #0779bf;}
 .nav-left-outer{width:210px; float:left; position:relative;}
.content-right-outer {
    width: 930px !important;
    margin: auto !important;
    background-color: #fff !important;
    float: none !important;
}

.content-right-outer{margin-left:3px; float:left; width: 758px;  }
.gm-style-iw{
    overflow: hidden !important;
}
/*#tripplanner-status{padding:5px ;float: left; margin-left: 5px; margin-top: 16px; background-color:#2f3c90; height: 16px;}*/
.municipal, .municipal-outer {
    background: #00579A;
}
input.submit-search {
    color: #025B9F;
}
.contact-nav .nav>li.last-item {
    color: #025B9F !important;
}
#tripplanner-status {
    background-color: #019BDB;
}
.footer-heading-color a{
    color: #025B9F !important;
}
.footer-heading {
    color: #025B9F;
}
#ddmenu ul {
    border-color: #B71A8B;
}
#ddmenu li {
    color: #B71A8B;
}
#ddmenu li.over {
    background-color: #B71A8B;
}
#ddmenu .dropdown {
    border-top-color: #B71A8B;
}
#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus {
    color: #fff !important;
    background-color: #B71A8B;
}
.maps-text{
    color: #B71A8B !important;
}
.maps-text:hover{
    color: #fff !important;
}
.home .region-desc a {
    color: #B71A8B;
}
.main-content-heading {
    color: #025B9F;
}
.tt-thumbnails.thumbnails>li p {
    background-color: #B71A8B;
}
.eventsDetails a {
    color: #B71A8B;
}
.menu-item a.active {
    color: #B71A8B !important;
}
.menu-item a:hover
{
    color: #B71A8B !important;
}
.amminities-inside-see a{
    color: #B71A8B !important;
}
.thumbnails-top-10 h5 a {
    color: #B71A8B;
}
.thumbnails-top-10 p a {
    color: #B71A8B;
}
a.planner-link {
    color: #B71A8B;
}
.text-style li a{
    color: #B71A8B;
}
.thumb-bottom-url a {
    color: #B71A8B;
}
.thumb-bottom-url a:hover {
    color: #B71A8B;
}
.footer-margin-auto-2 p a {
    color: #B71A8B;
}
.address-heading a {
    color: #B71A8B;
}
/************Profiles**************/
.pdf-download ul li {
    color: #B71A8B;
}
.pdf-download ul li a{
    color: #B71A8B;
}
.section-header>h2.businessname {
    color: #025B9F;
}
.section-header>span.phone_number {
    color: #025B9F;
}
.pdf-div-heading {
    color: #025B9F;
}
.recmdation-title {
    color: #025B9F !important;
}
.recmd-business-title {
    color: #025B9F !important;
}
.background-left-change .recmdation-title-left {
    color: #025B9F;
}
.background-left-change .recmd-business-main-left .recmd-business-title-left {
    color: #025B9F;
}
.main-container-listing .left .listing-description h3 {
    color: #025B9F;
}
.right-about-panel>li p {
    color: #025B9F;
}
.description a {
    color: #025B9F;
}
.product-detail h3 {
    color: #025B9F;
}
.product-detail p {
    color: #025B9F;
}
.menu-types-style h5 {
    color: #025B9F;
}
.menu-types-style h5.margin-menu-price {
    color: #0e9bdb;
}
.listing-title {
    color: #025B9F;
}
.wide-list.features .thumbnails>li>.thumbnail h5 {
    color: #025B9F;
}
.wide-list.features .thumbnails>li>.thumbnail span {
    color: #025B9F;
}
.wide-list.entertainment .thumbnails>li>.thumbnail .copy h5 {
    color: #025B9F;
}
.guest-book-title {
    color: #025B9F;
}
.guest-book li .guest-title {
    color: #025B9F;
}
.add-review-guest {
    color: #025B9F;
}
.guest-title-right {
    color: #025B9F;
}
.guest-business-title p {
    color: #025B9F;
}
.review-button a {
    background-color: #B71A8B;
}
.form-inside-div .form-data input[type="submit"] {
    background-color: #B71A8B;
}
/***Left Nav*****/
.container-submenu li a.left-nav-dd:hover{
    background-color: #BFECFF;
}
.container-submenu li a:hover 
{
    background-color: #BFECFF;
    color :#019BDB !important;
}
.container-submenu ul ul {
    background-color: #BFECFF;
}
.container-submenu ul ul li a 
{
    color :#019BDB !important; 
}
.container-submenu ul ul li a:hover 
{
    background:none;
    background-color: #A0DEF9;
    color :#019BDB !important; 
}
.container-submenu ul li:hover
{
    background:none;
    background-color: #BFECFF;
}
/*.container-submenu ul ul a:hover {
    background-color: #019BDB;
}*/
.container-submenu ul li:hover > a
{
    background:none;
    background-color: #BFECFF;
    color :#019BDB !important;
}
.container-submenu {
    background-color: #019BDB;
}
.container-address {
    background-color: #EDF8FC;
}
.content-outer, .content {
    background-color:  #F7F7EA;
}
.thumbnails-top-10 h5 {
    color: #025B9F;
}