/*!
* Tourist Town
* Date: Mon Jan 02 2017 17:00:00 PST
* http://touristtown.ca
*
* Copyright 2017, 2018 TouristTown.
*
*/

/* Font
-----------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'ArcherPro-Bold_0';
    src: url('font/ArcherPro-Bold_0.eot');
    src: url('font/ArcherPro-Bold_0.eot?#iefix') format('embedded-opentype'),
        url('font/ArcherPro-Bold_0.woff') format('woff'),
        url('font/ArcherPro-Bold_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ArcherPro-Semibold';
    src: url('font/ArcherPro-Semibold.eot');
    src: url('font/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('font/ArcherPro-Semibold.woff') format('woff'),
        url('font/ArcherPro-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'ArnoPro-Caption';
    src: url('font/ArnoPro-Caption.eot');
    src: url('font/ArnoPro-Caption.eot?#iefix') format('embedded-opentype'),
        url('font/ArnoPro-Caption.woff') format('woff'),
        url('font/ArnoPro-Caption.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Light-Pro';
    src: url('font/IdealSans-Light-Pro.eot');
    src: url('font/IdealSans-Light-Pro.eot?#iefix') format('embedded-opentype'),
        url('font/IdealSans-Light-Pro.woff') format('woff'),
        url('font/IdealSans-Light-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Semibold-Pro';
    src: url('font/IdealSans-Semibold-Pro.eot');
    src: url('font/IdealSans-Semibold-Pro.eot?#iefix') format('embedded-opentype'),
        url('font/IdealSans-Semibold-Pro.woff') format('woff'),
        url('font/IdealSans-Semibold-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('font/MyriadPro-Regular.eot');
    src: url('font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/MyriadPro-Regular.woff') format('woff'),
        url('font/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NewsGothicStd';
    src: url('font/NewsGothicStd.eot');
    src: url('font/NewsGothicStd.eot?#iefix') format('embedded-opentype'),
        url('font/NewsGothicStd.woff') format('woff'),
        url('font/NewsGothicStd.ttf') format('truetype');
}
@font-face {
    font-family: 'BlairMdITC-TT-Medium';
    src: url('font/BlairMdITC-TT-Medium.eot');
    src: url('font/BlairMdITC-TT-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/BlairMdITC-TT-Medium.woff') format('woff'),
        url('font/BlairMdITC-TT-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'ITC-Franklin-Gothic-Book';
    src: url('font/ITC-Franklin-Gothic-Book.eot');
    src: url('font/ITC-Franklin-Gothic-Book.eot?#iefix') format('embedded-opentype'),
        url('font/ITC-Franklin-Gothic-Book.woff') format('woff'),
        url('font/ITC-Franklin-Gothic-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Cantina';
    src: url('font/Cantina.otf');
}
@font-face {
    font-family: 'Ashwood';
    src: url('font/Ashwood.ttf') format('truetype');
}
@font-face {
    font-family: 'Georgia';
    src: url('font/Georgia.ttf') format('truetype');
}
@font-face {
    font-family: 'Georgia-Bold';
    src: url('font/Georgia-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nyala';
    src: url('font/Nyala.ttf') format('truetype');
}
@font-face {
    font-family: 'Nexa-Rust-Sans-Black';
    src: url('font/Nexa-Rust-Sans-Black.otf');
}
@font-face {
    font-family: 'Swiss';
    src: url('font/Swiss.ttf') format('truetype');
}
@font-face {
    font-family: 'Aller';
    src: url('font/Aller.ttf') format('truetype');
}
@font-face {
    font-family: 'Aileron-Black';
    src: url('font/Aileron-Black.otf');
}
@font-face {
    font-family: 'Aileron-BlackItalic';
    src: url('font/Aileron-BlackItalic.otf');
}
@font-face {
    font-family: 'Aileron-Bold';
    src: url('font/Aileron-Bold.otf');
}
@font-face {
    font-family: 'Aileron-BoldItalic';
    src: url('font/Aileron-BoldItalic.otf');
}
@font-face {
    font-family: 'Aileron-Heavy';
    src: url('font/Aileron-Heavy.otf');
}
@font-face {
    font-family: 'Aileron-HeavyItalic';
    src: url('font/Aileron-HeavyItalic.otf');
}
@font-face {
    font-family: 'Aileron-Italic';
    src: url('font/Aileron-Italic.otf');
}
@font-face {
    font-family: 'Aileron-Light';
    src: url('font/Aileron-Light.otf');
}
@font-face {
    font-family: 'Aileron-LightItalic';
    src: url('font/Aileron-LightItalic.otf');
}
@font-face {
    font-family: 'Aileron-Regular';
    src: url('font/Aileron-Regular.otf');
}
@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('font/Aileron-SemiBold.otf');
}
@font-face {
    font-family: 'Aileron-SemiBoldItalic';
    src: url('font/Aileron-SemiBoldItalic.otf');
}
@font-face {
    font-family: 'Aileron-Thin';
    src: url('font/Aileron-Thin.otf');
}
@font-face {
    font-family: 'Aileron-ThinItalic';
    src: url('font/Aileron-ThinItalic.otf');
}
@font-face {
    font-family: 'Aileron-UltraLight';
    src: url('font/Aileron-UltraLight.otf');
}
@font-face {
    font-family: 'Aileron-UltraLightItalic';
    src: url('font/Aileron-UltraLightItalic.otf');
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('font/Nexa-Bold.otf');
}
@font-face {
    font-family: 'CooperHewitt-Bold';
    src: url('font/CooperHewitt-Bold.otf');
}
@font-face {
    font-family: 'CooperHewitt-BoldItalic';
    src: url('font/CooperHewitt-BoldItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Book';
    src: url('font/CooperHewitt-Book.otf');
}
@font-face {
    font-family: 'CooperHewitt-BookItalic';
    src: url('font/CooperHewitt-BookItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Heavy';
    src: url('font/CooperHewitt-Heavy.otf');
}
@font-face {
    font-family: 'CooperHewitt-HeavyItalic';
    src: url('font/CooperHewitt-HeavyItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Light';
    src: url('font/CooperHewitt-Light.otf');
}
@font-face {
    font-family: 'CooperHewitt-LightItalic';
    src: url('font/CooperHewitt-LightItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Medium';
    src: url('font/CooperHewitt-Medium.otf');
}
@font-face {
    font-family: 'CooperHewitt-MediumItalic';
    src: url('font/CooperHewitt-MediumItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Semibold';
    src: url('font/CooperHewitt-Semibold.otf');
}
@font-face {
    font-family: 'CooperHewitt-SemiboldItalic';
    src: url('font/CooperHewitt-SemiboldItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Thin';
    src: url('font/CooperHewitt-Thin.otf');
}
@font-face {
    font-family: 'CooperHewitt-ThinItalic';
    src: url('font/CooperHewitt-ThinItalic.otf');
}
/* Font

/* Global
-----------------------------------------------------------------------------------------------------------*/
html {
    font-size: 100%;
}
body {
    float:left;
    width:96%;
    margin: 0;
    padding: 0 2%;
}
body.map_page {
    width:100%;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6 { margin: 0; }
ul { margin: 0; padding: 0; }
a { text-decoration: none; color: #000000; font-weight: normal }
img { max-width: 100%; }
.heading-text { font-family: ArcherPro-Bold_0; color: #009999; font-weight: normal }
.site-text { font-family: IdealSans-Light-Pro; color: #644B4B; font-weight: normal }
.theme-paragraph ul li { margin-left: 40px; margin-bottom: 15px; }
.site-text.ckeditor-anchors a { padding: 0 !important; }
.ckeditor-anchors p { margin-bottom: 15px; }
.description .description-wrapper .description-inner .site-text.ckeditor-anchors p { margin-bottom: 15px; }
.padding-bottom-none { padding-bottom: 0 !important}
.padding-none { padding: 0 !important}
.margin-bottom-none { margin-bottom: 0 !important}
.border-none { border: none !important}
.sub-cat-margin  {margin-bottom: 45px !important}
/* pagination styles */
.pagination { margin-top: 80px; text-align: center; width: 900px; float: left; border-bottom: 1px solid #525252; border-top: 1px solid #525252; padding: 30px;}
.pull-left { float: left;  margin-top: 5px; }
.pull-right { float: right;  }
.page { float: left; padding: 6px 11px 7px 11px; margin-right: 5px; margin-bottom: 5px; background: #afaea7; text-decoration: none; color: #fff; }
.page.arrows { color: #525252; background: none; float: left; }
.page-active { background-color: #525252; }
.pagination-inside-div
{
    width: 800px;
    margin: 0 auto;
}
label.label-hidden {
    display: none;
}
button.gm-ui-hover-effect img {
    margin: 0px 0px !important;
}
.drop-down-arrow { width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 8px solid #D7FAF8; margin: 0; float: left; margin-top: 11px; margin-left: 9px; position: absolute; z-index: 990; }
.drop-down-arrow.explore { border-left: 8px solid #525252;}
.drop-down-arrow.listing { border-left: 8px solid #525252; margin-top: 8px;}
/* Global
-----------------------------------------------------------------------------------------------------------*/

/* Header
-----------------------------------------------------------------------------------------------------------*/

.main-header {
    width: 100%;
    float: left;
}
.search-icon-and-logo{
    float:left;
    width:100%;
    margin: 20px 0;
}
.search-icon {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.header-top-nav .search-icon-inner{
    float: left;
    margin-right: 5px;
    position: relative;
}
#search_form{
    display: none;
}
 .page-content .rightside {
        width: 960px;
        float: left;
        font-size: 24px;
        text-align: center;
        background-color: #F5F2E7;
      }
      .page-content .rightside .righttext  {
        width: 960px;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
      }
      .page-content.error-page {
        width: 960px;
        margin: 0 auto;
      }
       .heading-text.error-page{
        font-size: 30px;
        margin-top: 8px;
        margin-bottom: 22px;
        text-align: center;
      }
      .site-text.ckeditor-anchors {
        text-align: center;
      }
.search_header{
    position: absolute;
    left: 0;
    width: 220px;
    text-align: left;
    margin: -50px 0px 0px 22%;
    background-color: #e8f1f9;
    box-shadow: 1px 2px 1px #e0e0e0;
    padding: 10px;
}
.search_header .search_field {
    float: left;
}
.search_header .search_field input {
    background: transparent;
    border: 1px solid #aad1e9;
    padding: 5px;
    width: 160px;
}
.search_header .search_button input {
    background-color: #0078be;
    border: none;
    color: #FFF;
    padding: 6px;
    margin-left: 10px;
}
.logo {
    width: 50%;
    display: inline-block;
    margin: 20px 0;
    vertical-align: middle;
    text-align: center;
}
.logo-top-nav {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    font-family: IdealSans-Semibold-Pro;
    text-transform: uppercase;
    font-size: 17px;
    padding: 3px 0;
}
.logo-top-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.logo-top-nav ul li{
    float: right;
}
.logo-top-nav ul li a {
    float: left;
    padding: 20px 40px;
}
.logo-top-nav ul li:first-child a {
    float: left;
    padding: 20px 10px 20px 40px;
}
/* Main Navigation */
.navigation {
    float: left;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin: 0 0 20px 0;
    background: #FFF;
}
.navigation ul {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.navigation ul li {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.ul-navigation li:first-child {
    margin-left: 0;
}
.navigation ul li a {
    text-decoration: none;
    font-family: Nexa-Rust-Sans-Black;
    color: #b2b2b2;
}
/* Main Navigation End*/
/* Header End
-----------------------------------------------------------------------------------------------------------*/
/* Footer Start
-----------------------------------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    float: left;
}
.footer-outer {
    float:left;
    width: 100%;
}
.footer-images {
    width: 96%;
    padding: 35px 2%;
    float: left;
    border-bottom: 1px solid #d8d8d8;
}
.footer-margin-auto {
    min-height: 60px;
    display: table;
    margin: 0px auto;
    width: 100%;

}
.footer-margin-auto div img {
    min-height: 35px;
    display: inline-block;
    vertical-align: middle;
}
.footer-margin-auto div
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.footer-margin-auto div a {
    margin-right: 10px;
}
.footer-margin-auto a img {
    max-width: 100%;
}
.footer-anchors a {
    display: inline-block;
    width: 45%;
    margin: 15px 0;
}
.footer-urls {
    width: 100%;
    float: left;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
}
.footer-urls ul{
    padding: 20px 0;
    list-style: none;
    display: inline-block;
    text-align: initial;
    position: relative;
    color: #525252;
    font-family: 'IdealSans-Light-Pro';
}
.footer-urls ul li{
    float: left;
    padding: 0 15px;
    border-right: 1px solid #525252;
}
.footer-urls ul li:last-child{
    border: none;
}
.footer-urls ul li a{
    color: #0078c0;
}
.footer-copyrights {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #00010d;
    font-family: NewsGothicStd;
    margin: 40px 0 20px 0;
}
.map-footer {
    width: 100%;
    /*float: left;*/
    display: table;
    padding: 20px 0;
    text-align: center;
}
.map-footer-outer {
    /*float:left;*/
    display: table-row;
    width: 100%;
}
.map-footer-outer .footer-logo,
.map-footer-outer .footer-home {
    width: 50%;
    /*float: left;*/
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.map-footer-outer .footer-home a.footer-button {
    padding: 15px 50px;
    display: inline-block;
    background: #0069cf;
    color: #fff;
    font-size: 20px;
    font-family: IdealSans-Light-Pro;
}
/*Map thumbnails*/
.gm-style-iw {
    width: 280px !important;
    background-color: #fff;
    top: 14px !important;
    left: 29px !important;
}
.gm-style-iw > div {
    max-width: 280px !important;
}
#iw-container {
    width: 280px !important;
}
#iw-container .iw-content {
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}
#iw-container .iw-content .tooltip-title {
    padding: 10px 0px 2px 0px;
    float: left;
    text-align: center;
    width: 260px;
}
#iw-container .iw-content tooltip-title a {
    float: none;
    text-align: center;
}
#iw-container .iw-content .thumbnail img {
    width: 260px;
    height: 193px;
}
.gm-ui-hover-effect{
    margin: 0 !important;
}
/*Map thumbnails*/
/* Footer End
-----------------------------------------------------------------------------------------------------------*/
/* Main image
-----------------------------------------------------------------------------------------------------------*/
.main_image {
    float: left;
    width: 100%;
    position: relative;
}
.main_image .title p {
    margin: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40%;
    font-size: 30px;
    font-family: ArcherPro-Bold_0;
    color: #fff;
    z-index: 999;
    font-weight: normal;
}
.main_image img {
    float: left;
    width: 100%;
}
.main_image .image_overlay_img {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.main_image .image_overlay_img .image_overlay {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 333;
}
.main_slider .image_overlay_img .image_overlay img {
    float: left;
}
/* Main image
-----------------------------------------------------------------------------------------------------------*/
/* Main title
-----------------------------------------------------------------------------------------------------------*/
.main_title {
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #ef4d32;
    color: #000000;
    font-family: 'ArcherPro-Bold_0';
    font-size: 15px;
    float: left;
    text-align: center;
    margin-bottom: 25px;
}
.main_title p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
}
/* Main title
-----------------------------------------------------------------------------------------------------------*/
/* Description after slider
-----------------------------------------------------------------------------------------------------------*/
.description {
    float: left;
    padding: 25px 5%;
    width: 90%;
    background-color: #e8e8e8;
    font-size: 16px;
    line-height: 2em;
    font-family: IdealSans-Light-Pro;
    margin-bottom: 10px;
}
.description p {
    text-align: center;
    font-family: IdealSans-Light-Pro;
    font-size: 21px;
    font-weight: normal;
    color: #525255;
    line-height: 1.8;
    
}
/* Description after slider End
-----------------------------------------------------------------------------------------------------------*/
/* Feature Stories
-----------------------------------------------------------------------------------------------------------*/
.feature-items {
    float: left;
    width: 100%;
    padding-top: 25px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d8d8d8;
}
.feature-items .feature {
    float: left;
    width: 100%;
    padding: 15px 0 30px 0;
}
.feature-items .feature .feature-title {
    float: left;
    width: 100%;
    text-align: center;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 40px 0 0 0;
    font-family: ArcherPro-Bold_0;
    font-size: 22px;
    color: #008886;
    font-weight: normal;
}
.feature-items .feature .description {
    float: left;
    width: 80%;
    padding: 0 10%;
    background-color: white !important;
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    font-family: IdealSans-Light-Pro;
    background-color: white;
    margin: 0;
    padding-top: 25px;
}
.feature-items .feature .description p {
    font-size: 18px;
    line-height: 1.5em;
    font-family: IdealSans-Light-Pro;
    background-color: white;
    margin: 0 0 15px 0;
}
.feature-items .feature .description p:last-of-type {
    display: inline;
}
.feature-items .feature .description .read-more {
    border: none;
    box-shadow: none;
    width: auto;
    padding: 0;
    font-weight: normal;
    color: #008886;
    display: inline;
    background: none;
}
/* Feature Stories
-----------------------------------------------------------------------------------------------------------*/
/* Thumbnails on all pages
-----------------------------------------------------------------------------------------------------------*/
.thumbnails {
    float: left;
    width: 100%;
}
.thumbnails.secondary-stories{
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d8d8d8;
}
.thumbnails .title {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    font-family: ArcherPro-Bold_0;
    font-size: 44px;
    color: #008886;
}
.thumbnails .thumbnails-inner {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    background: #FFF;
}
.thumbnails .thumbnails-inner .thumbnail, .thumbnails .thumbnails-inner .thumbnail a, .thumbnails .thumbnails-inner .thumbnail img {
    float: left;
    width: 100%;
}
.thumbnails .thumbnails-inner .thumbnail .title {
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background-color: #f04f31;
    color: #fff;
    font-family: 'IdealSans-Light-Pro';
    font-size: 15px;
    float: left;
    text-align: left;
}
.thumbnails .thumbnails-inner .thumbnail .title p {
    margin: 0;
    margin-left: 5%;
    width: 93%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url(images/Thumbnail-Arrow-Right.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 12px;
}
.thumbnails .thumbnails-inner .thumbnail p.listing {
    text-align: center;
    color: #525255;
    font-family: 'IdealSans-Light-Pro';
}
/* Thumbnails on all pages
-----------------------------------------------------------------------------------------------------------*/
/* Detail page
-----------------------------------------------------------------------------------------------------------*/
.detail-page {
    float: left;
    width: 100%;
    background: #FFF;
}
/*Story Detail page*/
.detail-page .story-title{
    float: left;
    width: 90%;
    text-align: left;
    padding: 0 5%;
    margin: 30px 0;
}
.detail-page .story-title .title {
    float: left;
    width: 100%;
    font-family: ArcherPro-Bold_0;
    font-size: 44px;
    color: #008886;
    margin-bottom: 5px;
}
.detail-page .share-this-story {
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #d5faf8;
    color: #008886;
    font-family: 'ArcherPro-Bold_0';
    font-size: 15px;
    float: left;
    margin-bottom: 25px;
}
.detail-page .share-this-story-inner {
    width: 320px;
    margin: auto;
}
.detail-page .share-this-story .share-this-story-inner p{
    float: left;
    margin: 2px 10px 0 0;
}
.detail-page .content-title {
    float: left;
    width: 90%;
    text-align: left;
    padding: 0 5%;
    margin: 20px 0 10px 0;
}
.detail-page .content-title p {
    float: left;
    width: 100%;
    font-family: ArcherPro-Bold_0;
    font-size: 20px;
    color: #008886;
    margin-bottom: 5px;
}
.detail-page .content-description {
    float: left;
    padding: 0 5%;
    padding-bottom: 30px;
    width: 90%;
    font-size: 18px;
    line-height: 2em;
    font-family: IdealSans-Light-Pro;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.detail-page .content-description p {
    margin: 0 0 10px 0;
}
/*Story Detail page*/

/*Listing Detail Page*/
.detail-page .listing-main{
    float: left;
    width: 90%;
    text-align: left;
    padding: 0 5%;
    margin: 30px 0;
}
.detail-page .listing-main .title {
    float: left;
    width: 100%;
    font-family: IdealSans-Light-Pro;
    font-size: 44px;
    color: #ef4d32;
    margin-bottom: 5px;
}
.detail-page .listing-main .other {
    font-family: IdealSans-Light-Pro;
    color: #525252;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.detail-page .listing-main .other .get-coupon-btn{
    float: right
}
.detail-page .listing-main .other .get-coupon-btn a{
    float: left;
    background-color: #ef4d32;
    color: #FFF;
    padding: 5px 10px;
}
.detail-page .listing-description {
    float: left;
    padding: 0 5%;
    padding-bottom: 30px;
    width: 90%;
    font-size: 20px;
    line-height: 2em;
    font-family: IdealSans-Light-Pro;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.detail-page .listing-description p {
    margin: 0 0 10px 0;
    font-family: IdealSans-Light-Pro;
    font-size: 18px;
}

.detail-page .listing-description .description-title {
    font-weight: bold;
}
.detail-page .get-this-coupon {
    float: left;
    border: 2px solid #d4d4d3;
    color: #525252;
}
.detail-page .get-this-coupon .get-this-coupon-wrapper {
    float: left;
    padding: 10px;
    text-align: left;
}
.detail-page .get-this-coupon .coupon-form-title {
    float: left;
    margin: 5px 0;
    font-size: 20px;
    font-family: IdealSans-Light-Pro;
}
.detail-page .get-this-coupon .coupon-form-text {
    float: left;
    width: 100%;
    margin: 5px 0;
    font-family: IdealSans-Light-Pro;
    font-size: 18px;
}
.detail-page .get-this-coupon .get-this-coupon-wrapper form {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.detail-page .get-this-coupon .get-this-coupon-wrapper input[type="email"] {
    width: 210px;
    padding: 7px 10px;
    font-size: 18px;
    border: 1px solid #d4d4d3;
    font-family: IdealSans-Light-Pro;
    float: left;
}
.detail-page .get-this-coupon .get-this-coupon-wrapper input.coupon-button {
    font-family: IdealSans-Light-Pro;
    border: none;
    font-size: 18px;
    background-color: #ef4d32;
    padding: 5px 15px 12px 15px;
    float: left;
    margin-left: 5px;
    color: #FFF;
}
.get-this-coupon.email-sent {
  margin-bottom: 20px;
}
.detail-page .gallery {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 0 10px 0;
}
.detail-page .gallery img {
    float: left;
    width: 100%;
    margin: 5px 0;
}
.detail-page .social-media {
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin: 0 0 40px 0;
    background: #e8f1f9;
}
.detail-page .social-media a {
    display: inline-block;
    margin: 0 3%;
}
.detail-page .listing-address {
    float: left;
    width: 100%;
    text-align: left;
}
.detail-page .listing-address .listing-address-inner {
    width: 75%;
    margin: auto;
}
.detail-page .listing-address .listing-address-inner .info {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.detail-page .listing-address .listing-address-inner .info .icon {
    float: left;
    width: 20%;
    margin-top: 2px;
}
.detail-page .listing-address .listing-address-inner .info .icon img {
    width: 25px;
}
.detail-page .listing-address .listing-address-inner .info .address-heading {
    float: left;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    font-size: 30px;
    width: 80%;
}
.detail-page .listing-address .listing-address-inner .info .address-heading a {
    color: #525252;
    cursor: pointer;
}
.detail-page .listing-address .listing-address-inner .info .address-heading .accordion {
    display: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
}
.detail-page .listing-address .listing-address-inner .info .address-heading .accordion .accordion-heading{
    font-size: 18px;
    color: rgb(224, 167, 101);
    font-family: ArcherPro-Bold_0;
}
.detail-page .listing-address .listing-address-inner .info .address-heading .accordion .accordion-data {
    font-size: 20px;
    color: rgb(148, 94, 33);
    font-family: ArcherPro-Bold_0;
    margin-bottom: 10px;
}
/*Listing Detail Page*/
/* Detail page
-----------------------------------------------------------------------------------------------------------*/