@import url('/stylesheets/docs/assets/css/main-sreen-style.css');


body{background-image:url("/images/southhampton-Background-no-logo.jpg");}

.logo-area{background-image:url("/images/southampton.jpg");background-position:0px 4px;}

.nav-left-outer{width:212px;background-color:#e8f2f9; float:left; position:relative;}
.content-right-outer{margin-left:3px; float:left; width: 758px; *overflow:hidden; }

