.wrapper {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
}
.clear {
  clear: both;
}
.label {
  width: 200px;
  float: left;
  padding: 10px;
}
.field {
  float: left;
  padding: 8px;
}
input {
  float: left;
  padding: 2px 3px;
}
input {
  float: left;
  padding: 4px;
}