/* ************************************************************************* */
					 		/* IE6 FIXES */
/* ************************************************************************* */

.main-bg{
	float:left;
	width:960px;
	margin:0px 0px 0px 3px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	background-color:#ffffff;
	behavior: url(PIE.htc);
	position:relative;
	z-index:10;
	}	

.where-menu .navbar-inner {background:#0084CD; float: left; width: 100%;}
.where-menu .navbar-inner ul.nav {float: left; width: 100%; display:inline; margin:0px; padding:0px; list-style:none;}
.where-menu .navbar-inner ul.nav li {float: left; display:inline; margin:0px; padding:0px; list-style:none; text-align: center;}	
.where-menu .navbar-inner ul.nav li a {float: left; margin:0px; padding:0px 32px 0px 32px; text-align: center; color:#fff; font-size:18px; font-weight:normal; height:36px; line-height:36px; text-decoration:none;}
.where-menu .navbar-inner ul.nav li a:hover {float: left; margin:0px; padding:0px 32px 0px 32px; text-align: center; color:#fff; font-size:18px; font-weight:normal; height:36px; line-height:36px; background-color:#0E9BDB; text-decoration:none;}
.where-menu .navbar-inner ul.nav li a.active {float: left; margin:0px; padding:0px 32px 0px 32px; text-align: center; color:#fff; font-size:18px; font-weight:normal; height:36px; line-height:36px; background-color:#0E9BDB; text-decoration:none;}

.municipal .pull-right{ float:right; margin:0px; padding:0px; display:inline; list-style:none; height:28px;}
.municipal .pull-right li{ float:left; margin:0px; display:inline; padding:0px 20px 0px 0px;}
.municipal .pull-right li a{ float:left; margin:0px; display:inline; padding:0px 20px 0px 0px; color:#666666; line-height:28px; font-size:13px;}
.municipal-outer{ float:left; height:28px; width:100%;}
.municipal{ float:left; height:28px;}

.content .home .tt-thumbnails{ margin:20px 0px 9px 0px; float:left; display:inline; padding:0px; width:100%;}
.content .home .tt-thumbnails li{ margin:0px 0px 0px 18px; float:left; display:inline; padding:0px; width:220px; height:122px;}
.content .home .tt-thumbnails li a{ margin:0px 0px 0px 0px; float:left; border:none; padding:0px;}
.content .home .tt-thumbnails li a img { height:120px; margin:0px; padding:0px; width:220px;}
.content .home .tt-thumbnails li a p{ background:url("/images/opacity-strip.png"); display:block; float:left; height:30px; margin:90px 0px 0px -224px; position:absolute; width:220px;}
.content .home .tt-thumbnails li a span{ display:block; float:left; height:30px; margin:100px 0px 0px -210px; position:absolute; width:220px; color:#fff; text-decoration:none;}
.content .home .tt-thumbnails li a span:hover{ border:none;}



























































































