@import url('/stylesheets/docs/assets/css/main-sreen-style.css');


body{
    background-image: none !important;
    background-color: #e7f2f6;
}

.logo-area{background-image:url("/images/saugeenshores.jpg");  background-position: 25px 7px;}

.nav > li.last-item {color: #0779bf;}

.nav-left-outer{width:210px; float:left; position:relative;}

.content-right-outer {
    width: 930px !important;
    margin: auto !important;
    background-color: #fff !important;
    float: none !important;  
}

a.planner-link{color:#fc8a2c;}
.tripplanner-plus{background-image: url("../img/SaugeenShores-tripplanner-plus.gif");display: block;float: left;height: 12px;margin: 11px 0 0;width: 12px;}
.tripplanner-remove{background-image: url("../img/SaugeenShores-tripplanner-remove.gif");display: block;float: left;height: 12px;margin: 11px 0 0; margin-right: 5px; width: 12px;}

/*#tripplanner-status{padding:5px ;float: left; margin-left: 5px; margin-top: 16px; background-color:#fc8a2c; height: 16px;}*/
.gm-style-iw{
    overflow: hidden !important;
}
