@import url('/stylesheets/docs/assets/css/main-sreen-style.css');


body{
    background-image: none !important;
    background-color: #DED2BE !important;
}
.logo-area{background-image:url("/images/Wiarton-Logo.jpg");  background-position: 25px 7px;}

.nav > li.last-item {color: #0779bf;}

.nav-left-outer{width:210px; float:left; position:relative;}

.content-right-outer {
    width: 930px !important;
    margin: auto !important;
    background-color: #fff !important;
    float: none !important; 
}

.where-menu .navbar-inner{background-color:#2f3c90;}

.contact-nav .nav>li.last-item{color: #2BA41B;}

a.planner-link{color:#fc8a2c;}
.tripplanner-plus{background-image: url("../img/Wirton-tripplanner-plus.png");display: block;float: left;height: 12px;margin: 11px 0 0;width: 12px;}
.tripplanner-remove{background-image: url("../img/Wirton-tripplanner-remove.png");display: block;float: left;height: 12px;margin: 11px 0 0; margin-right: 5px; width: 12px;}

/*#tripplanner-status{padding:5px ;float: left; margin-left: 5px; margin-top: 16px; background-color:#2f3c90; height: 16px;}*/
.gm-style-iw{
    overflow: hidden !important;
}
.municipal, .municipal-outer {
    background: #746A5E;
}
input.submit-search {
    color: #746A5E;
}
#tripplanner-status {
    background-color: #2BA41B;
}
.footer-heading-color a{
    color: #746A5E !important;
}
.footer-heading {
    color: #746A5E;
}
#ddmenu ul {
    border-color: #2BA41B;
}
#ddmenu li {
    color: #2BA41B;
}
#ddmenu li.over {
    background-color: #2BA41B;
}
#ddmenu .dropdown {
    border-top-color: #2BA41B;
}
#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus {
    color: #fff !important;
    background-color: #2BA41B;
}
.maps-text{
    color: #2BA41B !important;
}
.maps-text:hover{
    color: #fff !important;
}
.home .region-desc a {
    color: #2BA41B;
}
.main-content-heading {
    color: #746A5E;
}
.tt-thumbnails.thumbnails>li p {
    background-color: #746A5E;
}
.eventsDetails a {
    color: #2BA41B;
}
.menu-item a.active {
    color: #2BA41B;
}
.menu-item a:hover
{
    color: #2BA41B !important;
}
.amminities-inside-see a{
    color: #2BA41B ;
}
.thumbnails-top-10 h5 a {
    color: #2BA41B;
}
.thumbnails-top-10 p a {
    color: #2BA41B;
}
a.planner-link {
    color: #2BA41B;
}
.text-style li a{
    color: #2BA41B;
}
.thumb-bottom-url a {
    color: #2BA41B;
}
.thumb-bottom-url a:hover {
    color: #2BA41B;
}
.footer-margin-auto-2 p a {
    color: #2BA41B;
}
.address-heading a {
    color: #2BA41B;
}
/************Profiles**************/
.pdf-download ul li {
    color: #2BA41B;
}
.pdf-download ul li a{
    color: #2BA41B;
}
.section-header>h2.businessname {
    color: #746A5E;
}
.section-header>span.phone_number {
    color: #746A5E;
}
.pdf-div-heading {
    color: #746A5E;
}
.recmdation-title {
    color: #746A5E !important;
}
.recmd-business-title {
    color: #746A5E !important;
}
.background-left-change .recmdation-title-left {
    color: #746A5E;
}
.background-left-change .recmd-business-main-left .recmd-business-title-left {
    color: #746A5E;
}
.main-container-listing .left .listing-description h3 {
    color: #746A5E;
}
.right-about-panel>li p {
    color: #746A5E;
}
.description a {
    color: #746A5E;
}
.product-detail h3 {
    color: #746A5E;
}
.product-detail p {
    color: #746A5E;
}
.menu-types-style h5 {
    color: #746A5E;
}
.menu-types-style h5.margin-menu-price {
    color: #0e9bdb;
}
.listing-title {
    color: #746A5E;
}
.wide-list.features .thumbnails>li>.thumbnail h5 {
    color: #746A5E;
}
.wide-list.features .thumbnails>li>.thumbnail span {
    color: #746A5E;
}
.wide-list.entertainment .thumbnails>li>.thumbnail .copy h5 {
    color: #746A5E;
}
.guest-book-title {
    color: #746A5E;
}
.guest-book li .guest-title {
    color: #746A5E;
}
.add-review-guest {
    color: #746A5E;
}
.guest-title-right {
    color: #746A5E;
}
.guest-business-title p {
    color: #746A5E;
}
.review-button a {
    background-color: #2BA41B;
}
.form-inside-div .form-data input[type="submit"] {
    background-color: #2BA41B;
}
/***Left Nav*****/
.container-submenu li a.left-nav-dd:hover{
    background-color: #DAFED2;
}
.container-submenu li a:hover 
{
    background-color: #DAFED2;
    color :#2BA41B !important;
}
.container-submenu ul ul {
    background-color: #DAFED2;
}
.container-submenu ul ul li a:hover 
{
    background:none;
    background-color: #B9EFAF;
/*    color :#DAFED2 !important; */
}
.container-submenu ul li:hover
{
    background:none;
    background-color: #DAFED2;
}
/*.container-submenu ul ul a:hover {
    background-color: #2BA41B;
}*/
.container-submenu ul li:hover > a
{
    background:none;
    background-color: #DAFED2;
    color :#2BA41B !important;
}
.container-submenu {
    background-color: #2BA41B;
}
.container-address {
    background-color: #F8F7F7;
}
.content-outer, .content {
    background-color: #DED2BE;
}
.thumbnails-top-10 h5 {
    color: #746A5E;
}