body {
	padding: 0;
	margin: 0;
	border: 0;
}
.bold {
	font-weight: bold;
}
.PageTitle {
	font-weight: normal;
	font-size: 24px;
	color: #8DC63F;
	font-family: Arial, Helvetica, sans-serif;
}
.SectionHeading {
	font-weight: normal;
	font-size: 36px;
	color: #716452;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
}

p, div, td, select, input, th, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
}

a:link {
	color: #1581C4;
	text-decoration: none;
}
.subnav {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.subnav-horizontal a, .subnav-horizontal a:active, .subnav-horizontal a:visited{
	color: #1581C4;
	font-weight: normal;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 5px;
}
.subnav-horizontal a:hover{
	color: #FAA222;
}
a:visited {
	color: #1581C4;
	text-decoration: none;
}
a:hover {
	color: #FAA222;
	text-decoration: underline;
}
.mainnav a, .mainnav a:active, .mainnav a:visited{
	padding-right: 15px;
	padding-left: 15px;
	font-weight: bolder;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.mainnav a, .mainnav a:active, .mainnav a:visited{
	font-weight: bolder;
	font-size: 13px;
	color: #FFF;
}
.mainnav a:hover{
	color: #EAF1DF;
}
.SectionHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
}

#marketing-logos {
    width: 100%;
    min-height: 60px;
    display: table;
}
#marketing-logos div img {
    min-height: 35px;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
#marketing-logos div{    
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}?

.20pixels {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.maintable {
	
	margin-top: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.ListingNavigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 28px;
	background: #EAF2DE;
	font-weight: bolder;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
}
.ListingNavigation a, .ListingNavigation a:active, .ListingNavigation a:visited{
	color: #000000;
}
.ListingNavigation a:hover{
	color: #70A82B;
}
.table-greyheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #E0E0E0;
	font-weight: bolder;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.table-boldtext {
	font-weight: bolder;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
}
.tableseperatorline {
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}
