.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text.slider-listing-text {
    top: 50%;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button.slider-listing-button {
    width: 490px;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button a.watch-full-video-listing {
    background-image: url("../images/videoicon.png");
    background-repeat: no-repeat;
    background-position: 9%;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button.slider-listing-button a.view_all_photo {
    margin-left: 40px;
    padding: 15px 50px 15px 50px;
    background-color: rgba(0,0,0,0.5)
}
.filter-inner.listing-nav
{
    padding: 40px 0 10px 0;
    border-top: none;
    width: 960px; 
    float: left;
    text-align: center;
}
.listing-nav ul
{
    list-style: none;
    display: inline-block;
    text-align: initial;
    position: relative;
    /*width: 890px;*/
    /*    padding: 0 40px;*/
}
.listing-nav ul li
{
    padding: 0 13px;
    float: left;
    font-size: 20px;
    color: #0078be;
    text-transform: capitalize;
    font-family: IdealSans-Light-Pro;
}
.listing-nav ul li a
{
    float:left;
    padding: 20px 40px;
    color: #0078be;
}
.listing-nav ul li a.more
{
    cursor: pointer;
}
.listing-nav ul li ul
{
    display: none;
    position: absolute;
    right: 50px;
    top: 63px;
    background-color: #0078be;
}
.listing-nav ul li:hover ul.more
{
    display: block;   
}
.listing-nav ul li:hover ul.more li a
{
    color: #fff;
}
.listing-nav ul li ul li
{
    display: list-item;
    float: initial;
    width: 240px;
    padding: 0;
}
.listing-nav ul li ul li a
{
    padding: 10px 40px;
    float: left;
    width: 160px;
}
.listing-title-detail
{
    float: left;
    width: 960px;
    text-align: left;
    margin: 60px 0; 
}
.listing-title-detail .listing-title
{
    float: left;
    width: 960px;  
    font-family: ArcherPro-Bold_0;
    font-size: 44px;
    color: #525252;
    margin-bottom: 5px;
}
.listing-address
{
    font-family: IdealSans-Light-Pro;
    color: #525252;
    float: left;
    width: 960px;
}
.thumbnails.listing-home-gallary
{
    margin: 0px 0px 60px 0;
}
.thumbnails.listing-home-gallary .bx-wrapper .bx-controls-direction a
{
    top: 42%;
}
.listing-detail-left
{
    width: 620px;
    float: left;
}
.listing-detail-left .listing-desc
{
    float: left;
    padding: 60px 0;
    border-bottom: 1px solid #eeeeee; 
    font-size: 15px;
    width: 620px;
    text-align: left;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    line-height: 1.5em;
}
.listing-detail-left .listing-review
{
    float: left;
    padding: 50px 0;
    border-bottom: 1px solid #eeeeee; 
    width: 620px;
    text-align: left;
    color: #525252;
}
.listing-review .review-heading
{
    font-family: ArcherPro-Bold_0;
    font-size: 20px;
    color: #525252;
    float: left;
    margin-top: 12px;
}
.listing-review .review-body
{
    float: right;
}
.listing-desc .menu-heading
{
    font-family: ArcherPro-Bold_0;
    font-size: 20px;
    color: #525252;
    float: left;
    margin-top: 5px;
}
.menu-header-container
{
    float: left;
    width: 620px;
}
.listing-detail-left .listing-desc:last-child
{
    border-bottom: none;
}
.listing-desc .menu-desc
{
    float: left;
    padding: 35px 0;
    border-bottom: 1px dotted #eeeeee;
    font-size: 15px;
    width: 620px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.type-child .menu-desc:last-child
{
    border-bottom: none;
    padding-bottom: 0px;
}
.listing-desc .menu-Button
{
    float: right;
}
.listing-desc .menu-Button select
{
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    color: #525252;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: auto;
    padding: 5px 5px 5px 25px;    
}
.menu-item-heading-container
{
    float: left;
    width: 620px;  
    margin-bottom: 10px; 
}
.menu-item-heading-container .menu-title
{
    float: left;
    font-family: ArcherPro-Bold_0;
}
.menu-item-heading-container .menu-price
{
    float: right;
    font-family: IdealSans-Light-Pro;
    font-weight: bold;
}
.listing-desc .aboutus-desc
{
    float: left;
    padding: 30px 0 0px 0;
    font-size: 15px;
    width: 620px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.about-image-container
{
    float: left;
    width: 620px;
    padding: 50px 0 0px 0;
}
.about-image-container .about-img
{
    margin-bottom: 30px;
}
.about-image-container .about-img:last-child
{
    margin-bottom: 0;
}
.about-image-container img
{
    width: 620px;
    float: left;
}
.border-top-none
{
    border-top: none !important;
}
.margin-top-none
{
    margin-top: 0 !important;
}
.listing-desc .location-desc {
    float: left;
    padding: 40px 0 0px 0;
    font-size: 15px;
    width: 620px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.listing-desc .location-map
{
    float: left;
    padding: 40px 0 0px 0;
}
.listing-detail-right
{
    width: 275px;
    float: right;
    padding-top: 60px;
}
.listing-detail-right .listing-detail-tripplanner
{
    padding: 35px 0 ;
    float: left;
    width: 275px;
    border-top: 1px solid #eeeeee; 
}
.listing-detail-right .listing-detail-tripplanner .address-heading
{
    float: left;
    width: 275px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 50px;
}
.listing-detail-right .listing-detail-address
{
    padding: 35px 0 ;
    float: left;
    width: 275px;
    border-top: 1px solid #eeeeee; 
    border-bottom: 1px solid #eeeeee; 
}
.listing-detail-right .listing-detail-address .listing-detail-add-icon
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}
.listing-detail-add-detail
{
    float: left;
    width: 215px;
    text-align: left;
    font-size: 15px;
    font-family: IdealSans-Light-Pro;
    color: #525252;
}
.listing-address-container
{
    float: left;
    width: 275px;
    margin-bottom: 20px;
}
.address-heading
{
    float: left;
    width: 215px;
    margin-bottom: 6px;
}
.listing-detail-add-detail .address-heading:last-child
{
    margin-bottom: 0;
}
.listing-detail-address .listing-address-container:last-child
{
    margin-bottom: 0;
}
.address-heading a
{
    color: #525252;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    float: left;
}
.address-heading a.view-map
{
    color: #0078be;
}
.listing-nearby-backgorund
{
    background-color: #f5f2e7;
}
.nearby-heading
{
    text-align: center;
}
.nearby-heading .heading-text
{
    font-size: 40px;
    width: 620px;
    text-align: right;
    float: left;
}
.nearby-heading .withinkm
{
    float: right;
    width: 150px;
    margin-top: 13px;
}
.view-acc .ui-icon{
    display: none;
}
.view-acc .ui-accordion-header
{
    margin-top: 0 !important;
    border: none;
    background: none;
    color: #525252;
}
.listing-detail-add-detail .ui-widget {
    font-family: IdealSans-Light-Pro ;
    font-size: 15px ;
}
.listing-detail-add-detail .ui-accordion .ui-accordion-content
{
    padding: 40px 0;
    border-left: none;
    border-right: none;
    color: #525252;
    border-radius: 0;
    overflow: hidden;
}
.day-heading
{
    float: left;
    width: 199px;
    margin-left:1px;
}
.day-timing
{
    float: left;
    width: 199px;
    margin-bottom: 25px;
    margin-left:1px;
}
.businessListing-timing .day-timing:last-child
{
    margin-bottom: 0;
}
.businessListing-timing .acc-body
{
    float: left;
    width: 199px;
    margin-bottom: 8px;
    margin-left:1px;
}
.businessListing-timing .acc-body:last-child
{
    margin-bottom: 0;
}
h4:focus {outline:0;}
.scrollToTop{

    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 40px;
    display: none;
    z-index: 999;
}
.scrollToTop:hover{
    text-decoration:none;
}
.listing-footer .footer
{
    margin-top: 0;
}
.grid-inner.nearby-firstchild
{
    margin-top: 85px;
}
.nearby_overlay
{
    float: left;
    width: 100%;
}
.nearby_overlay .image_overlay_img
{
    margin: 0 auto;
    width: 960px;
}
.address-heading.listing-leftnav-margin
{
    margin-top: 5px;
}
.nearby-heading select
{
    border: 1px solid #525252;
    background-color: #ffffff;
    color: #525252;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
    padding: 5px 0 5px 30px;
    font-family: IdealSans-Light-Pro;
}
.listing-desc .daily-description
{
    float: left;
    padding: 40px 0 0px 0;
    font-size: 15px;
    width: 620px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.listing-desc .thumbnail
{
    float: left;
    width: 620px;
    padding: 60px 0 50px 0;
    border-bottom: 1px solid #eee;
}
.listing-desc#guest-book .thumbnail
{
    padding-bottom: 0;
    border-top: 1px solid #eee;
    border-bottom: 0;
    margin-top: 50px;
}
.listing-desc .thumbnail:last-child
{
    padding-bottom: 0;
    border-bottom: 0;
}
.listing-desc#guest-book .thumbnail:last-child
{
    padding-bottom: 0;
    margin-top: 50px;
}
.listing-desc .thumbnail .feature-img-outer
{
    float: left;
    margin-bottom: 40px;
}
.listing-desc .thumbnail .feature-img-outer img
{
    width: 620px;
    float: left;
}
.listing-desc .thumbnail .feature-body
{
    width: 620px;
    float: left;
}
.listing-desc .thumbnail .feature-body h5
{
    float: left;
    width: 620px;
    font-size: 20px;
    font-family: ArnoPro-Caption;
    margin-bottom: 5px;
}
.listing-desc .thumbnail .feature-body .feature-title
{
    float: left;
    width: 620px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.listing-desc .thumbnail .feature-body .feature-des
{
    float: left;
    width: 620px; 
}
.listing-desc.entert-padding-bottom
{
    padding-bottom: 0; 
    border-bottom: 0;
}
.listing-desc .entert-desc
{
    float: left;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    width: 620px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.entert-desc .entert-date
{
    font-family: ArcherPro-Bold_0;
    font-size: 18px;
    color: #525252;
    margin-bottom: 5px;
}
.entert-desc .entert-title
{
    font-family: IdealSans-Light-Pro;
    font-size: 15px;
    color: #525252;
    margin-bottom: 5px;
    font-weight: bold;
}
.entert-desc .entert-body-desc
{
    font-family: IdealSans-Light-Pro;
}
.listing-desc .agenda-desc
{
    float: left;
    padding: 40px 0 50px 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    width: 620px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.listing-desc#guest-book .agenda-desc
{
    padding-bottom: 0;
    border-bottom: none;
}
.listing-desc .agenda-search-from
{
    padding: 30px 0;
    text-align: center;
    float: left;
    width: 620px;
    border-bottom: 1px solid #eee;
}
.listing-desc .agenda-form input[type='text']
{
    width: 316px;
    padding: 8px 10px;
}
.listing-desc .agenda-form input[type='submit']
{
    background-color: #0078be;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-family: IdealSans-Light-Pro;
    padding: 7px 15px 9px 15px;
    font-size: 16px;
}
.agenda-min-download
{
    float: left;
    width: 620px;
}
.agenda-min-download .pdf-div-heading
{
    padding: 50px 0 30px 0;
    float: left;
    width: 620px;
    font-family: ArcherPro-Bold_0;
    font-size: 26px;
}
.agenda-min-download-search
{
    float: left;
    width: 620px;
}
.agenda-min-download-search .pdf-div-heading
{
    padding: 50px 0 30px 0;
    float: left;
    width: 620px;
    font-family: ArcherPro-Bold_0;
    font-size: 26px;
}
.agenda-minutes
{
    float: left;
    width: 620px;
    margin-bottom: 10px;
}
.agenda-minutes .view-agenda-heading
{
    float: left;
    width: 30%;
}
.agenda-minutes .view-agenda-minute
{
    float: left;
    width: 30%;
    text-align: right;
}
.view-agenda-minute.minuts-pdf {
    float: right;
}
.view-agenda-minute.agenda-pdf {
    float: left;
}
.listings-social-icon
{
    float: left;
    width: 275px;
    margin-top: 40px;
    text-align: center;
}
.listings-social-icon img
{
    width: 30px;
    margin-right: 5px;
}
.ckeditor-anchor-listing p
{
    margin-bottom: 15px;
}
.ckeditor-anchor-listing p:last-child
{
    margin-bottom: 0px;
}
/*Routes page css*/
.listing-detail-right .listing-detail-routes
{
    padding: 35px 20px;
    float: left;
    width: 235px;
    text-align: left;
    font-size: 15px;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    background: #ededed;
}
.listing-detail-right .listing-detail-routes .address-heading
{
    font-size: 15px;
    font-family: IdealSans-Light-Pro;
    color: #187bbe;
    margin-bottom: 0;
    width: 100%;
}
.listing-detail-right .listing-detail-routes .address-data
{
    font-size: 15px;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    margin-bottom: 15px;
    width: 100%;
    float: left;
}
.listing-detail-right .listing-detail-routes .address-data::last-child
{
    margin-bottom: 0;
}
.listing-detail-right .listing-detail-routes .address-data a
{
    /*color: #525252;*/
    width: 100%;
    float: left;
}
/*guest book*/
#guest-book ul{
    float: left;
    list-style-type: none;
}
#guest-book ul li{
    float: left;
}
#guest-book ul li .guest-name{
    float: left;
    width: 100%;
    font-size: 20px;
}
#guest-book ul li .guest-others{
    float: left;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
}
.form-inside-div{
    float: left;
    width: 100%;
}
.form-inside-div .form-data{
    float: left;
    width: 100%;
    margin: 10px 0;
}
.form-inside-div .form-data label{
    float: left;
    width: 115px;
    margin: 2px 0;
}
.form-inside-div .form-data input[type="text"]{
    padding: 5px;
    width: 260px;
    border: 1px solid #cccccc;
}
.form-inside-div .form-data select{
    padding: 5px;
    width: 272px;
    border: 1px solid #cccccc;
    color: #525252;
}
.form-inside-div .form-data textarea{
    border-color: #cccccc;
}
/*guest book*/