@import url('/stylesheets/docs/assets/css/main-sreen-style.css');


body{background-image:url("/images/PortElgin-Background-no-logo.jpg");}

.logo-area{background-image:url("/images/PortElgin.jpg");background-position:0px 14px;}

.nav-left-outer{width:212px;background-color:#e8f2f9; float:left; position:relative;}
.content-right-outer{margin-left:3px; float:left; width: 758px; *overflow:hidden; }
