/*!
* Tourist Town
* Date: Mon Jan 02 2017 17:00:00 PST
* http://touristtown.ca
*
* Copyright 2017, 2018 TouristTown.
*
*/

/* Font
-----------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: 'ArcherPro-Bold_0';
  src: url('font/ArcherPro-Bold_0.eot');
  src: url('font/ArcherPro-Bold_0.eot?#iefix') format('embedded-opentype'),
    url('font/ArcherPro-Bold_0.woff') format('woff'),
    url('font/ArcherPro-Bold_0.ttf') format('truetype');
}
@font-face {
  font-family: 'ArcherPro-Semibold';
  src: url('font/ArcherPro-Semibold.eot');
  src: url('font/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('font/ArcherPro-Semibold.woff') format('woff'),
    url('font/ArcherPro-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'ArnoPro-Caption';
  src: url('font/ArnoPro-Caption.eot');
  src: url('font/ArnoPro-Caption.eot?#iefix') format('embedded-opentype'),
    url('font/ArnoPro-Caption.woff') format('woff'),
    url('font/ArnoPro-Caption.ttf') format('truetype');
}
@font-face {
  font-family: 'IdealSans-Light-Pro';
  src: url('font/IdealSans-Light-Pro.eot');
  src: url('font/IdealSans-Light-Pro.eot?#iefix') format('embedded-opentype'),
    url('font/IdealSans-Light-Pro.woff') format('woff'),
    url('font/IdealSans-Light-Pro.ttf') format('truetype');
}
@font-face {
  font-family: 'IdealSans-Semibold-Pro';
  src: url('font/IdealSans-Semibold-Pro.eot');
  src: url('font/IdealSans-Semibold-Pro.eot?#iefix') format('embedded-opentype'),
    url('font/IdealSans-Semibold-Pro.woff') format('woff'),
    url('font/IdealSans-Semibold-Pro.ttf') format('truetype');
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('font/MyriadPro-Regular.eot');
  src: url('font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('font/MyriadPro-Regular.woff') format('woff'),
    url('font/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NewsGothicStd';
  src: url('font/NewsGothicStd.eot');
  src: url('font/NewsGothicStd.eot?#iefix') format('embedded-opentype'),
    url('font/NewsGothicStd.woff') format('woff'),
    url('font/NewsGothicStd.ttf') format('truetype');
}

/* Font

/* Global
-----------------------------------------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #FFF; 
  border-color: transparent; 
  text-shadow: none; 
}
a{
  color: #0078be;
  text-decoration: none;
}
.with-no-img {margin: 30px 0;}
/* Global
-----------------------------------------------------------------------------------------------------------*/
#index {
  margin: 0;
  padding: 0;
  background-color: #FFF; 
  border-color: transparent; 
  text-shadow: none; 
}
/* Header Start
-----------------------------------------------------------------------------------------------------------*/
.header {
  display: inline-block;
  width: 100%;
  border: none;
  background-color: #fff;
}
#search {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#search img {
  max-width: 50%;
}
#search_form {
  display: none;
}
.navbar-search {
  position: absolute;
  left: 8%;
  width: 70%;
  float: left;
}
.logo {
  width: 50%;
  display: inline-block;
  margin: 20px 0;
  vertical-align: middle;
  text-align: center;
}
#logout {
  width: 18%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#logout a {
  cursor: pointer;
}
.navigation {
  float: left;
  width: 96%;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin: 0 2% 20px 2%;
  background: #FFF;
}
.ul-navigation {
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.ul-navigation li {
  /*float: left;*/
  /* width: 30%; */
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  margin-left: 2.5%;
  margin-right:2.5%;
}
.ul-navigation li:first-child {
  margin-left: 0;
}
.ul-navigation li:last-child {
  margin-right: 0;
}
.ul-navigation li a {
  text-decoration: none;
  font-family: IdealSans-Light-Pro;
  color: #b2b2b2;
}
/* Header End
-----------------------------------------------------------------------------------------------------------*/
/* Main Container Index Start
-----------------------------------------------------------------------------------------------------------*/
#container {
  float: left;
  width: 96%;
  padding: 0 2%;
  background: #FFF;
}
.main_image {
  float: left;
  width: 100%;
  position: relative;
}
.main_image img {
  float: left;
  width: 100%;
}
.main_image .main_title  p {
  margin: auto;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 40%;
  font-size: 44px;
  font-family: ArcherPro-Bold_0;
  color: #fff;
  z-index: 999;
}
.main_image .image_overlay_img {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.main_image .image_overlay_img .image_overlay {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 333;
}
.main_image .image_overlay_img .image_overlay img {
  float: left;
}
.description {
  float: left;
  padding: 25px 5%;
  width: 90%;
  background-color: #f5f2e7;
  font-size: 30px;
  line-height: 2em;
  font-family: IdealSans-Light-Pro;
  margin-bottom: 10px;
}
.description p
{
  margin: 5px 0;   
}
.category-items {
  float: left;
  width: 100%;
}
.category {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  background: #FFF;
} 
.category a, .thumbnail, .thumbnail img {
  float: left;
  width: 100%;
}
.category-title {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: #003056;
  color: #fff;
  font-family: 'ArcherPro-Bold_0';
  font-size: 15px;
  float: left;
}
.main-category-title
{
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: #003056;
  color: #fff;
  font-family: 'ArcherPro-Bold_0';
  font-size: 15px;
  float: left;
  text-align: center;
}
.main-category-title p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.index-category-title
{
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: #003056;
  color: #fff;
  font-family: 'ArcherPro-Bold_0';
  font-size: 15px;
  float: left;
}
.index-category-title p {
  margin: 0;
  margin-left: 5%;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-listings-title
{
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background: #003056;
  color: #fff;
  font-family: 'ArcherPro-Bold_0';
  font-size: 15px;
  float: left;
}
.category-listings-title p {
  margin: 0;
  margin-left: 5%;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-title p {
  margin: 0;
  margin-left: 5%;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.arrow-right {
  position: absolute;
  bottom: 0;
  width: 20%;
  background: #003056;
  color: #fff;
  float: right;
  right: 0;
  text-align: center;
  cursor: pointer;
  height: 49px;
}
.arrow-right img {
  width: 15px;
  padding: 12px;
}
/* Main Container Index End
-----------------------------------------------------------------------------------------------------------*/
/* Sub Categories Page Start
-----------------------------------------------------------------------------------------------------------*/
#category-container {
  float: left;
  width: 96%;
  padding: 0 2%;
  background: #FFF;
}
/* Sub Categories Page End
-----------------------------------------------------------------------------------------------------------*/
/* Listing Page Start
-----------------------------------------------------------------------------------------------------------*/
#listing {
  float: left;
  width: 96%;
  padding: 0 2%;
  background: #FFF;
}
/* Listing Page End
-----------------------------------------------------------------------------------------------------------*/
/* Listing Detail Page Start
-----------------------------------------------------------------------------------------------------------*/
#bl-detail-items {
  float: left;
  width: 96%;
  padding: 0 2%;
  background: #FFF;
}
.listing-title-detail {
  float: left;
  width: 90%;
  text-align: left;
  padding: 0 5%;
  margin: 30px 0;
}
.listing-title-detail .listing-title {
  float: left;
  width: 100%;
  font-family: ArcherPro-Bold_0;
  font-size: 44px;
  color: #525252;
  margin-bottom: 5px;
}
.listing-address {
  font-family: IdealSans-Light-Pro;
  color: #525252;
  float: left;
  width: 100%;
}
.listing-description {
  float: left;
  padding: 0 5%;
  padding-bottom: 30px;
  width: 90%;
  font-size: 30px;
  line-height: 2em;
  font-family: IdealSans-Light-Pro;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.listing-description p
{
  margin:0;   
}
.listing-trip-advisor {
  float: left;
  text-align: center;
  width: 100%;
  padding: 0;
}
.listing-trip-advisor iframe {
  display: inline-block;
  text-align: center;
  width: 430px !important;
  height: 90px !important;
}
.gallery {
  float: left;
  width: 100%;
  text-align: left;
  /*padding: 0 5%;*/
  margin: 0 0 10px 0;
}
.gallery img {
  float: left;
  width: 100%;
  margin: 5px 0;
}
#bl-detail-items .social-media {
  float: left;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  margin: 0 0 40px 0;
  background: #e8f1f9;
}
#bl-detail-items .social-media a {
  display: inline-block;
  margin: 0 3%;
}
#bl-detail-items .social-media a img {
  display: block;
}
.listing-detail-address {
  float: left;
  width: 96%;
  text-align: left;
  padding: 0 2%;
}
.listing-info-wrapper {
  width: 75%;
  margin: auto;
}
.listing-info {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.listing-detail-add-icon {
  float: left;
  width: 20%;
}
.listing-detail-add-icon img {
  width: 25px;
}
.address-heading {
  float: left;
  font-family: IdealSans-Light-Pro;
  color: #525252;
  font-size: 30px;
  width: 80%;
}
.address-heading a {
  color: #525252;
}
/* Listing Detail Page End
-----------------------------------------------------------------------------------------------------------*/
/* Search Page Start
-----------------------------------------------------------------------------------------------------------*/
#search-result {
  float: left;
  width: 96%;
  padding: 0 2%;
  background: #FFF;
}
#noRecordFound {
  margin: 0 10%;
  text-align: center;
  margin-bottom: 20px;
}
/* Search Page End
-----------------------------------------------------------------------------------------------------------*/
/* Footer Start
-----------------------------------------------------------------------------------------------------------*/
.border-top-none {
  border-top: none !important;
}
.footer-message {
  float: left;
  width: 96%;
  padding: 0 2%;
  font-family: IdealSans-Light-Pro;
  font-size: 20px;
  margin-top: 40px;
}
.footer-logos {
  float: left;
  width: 96%;
  padding: 0 2%;
}
.footer-logos2 {
  float: left;
  width: 96%;
  padding: 0 2%;
}
.footer-images {
  width: 96%;
  padding: 35px 2%;
  float: left;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.footer-margin-auto {
  min-height: 60px;
  display: table;
  margin: 0px auto;
  width: 100%;
}
.footer-margin-auto div img {
  min-height: 35px;
  display: inline-block;
  vertical-align: middle;
}
.footer-margin-auto div
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;

}
.footer-margin-auto div a {
  margin-right: 10px;
}
.footer-margin-auto a img {
  /*margin-bottom: 50px;*/
  max-width: 100%;
}
.footer-bottom-urls {
  width: 96%;
  float: left;
  padding: 0 2%;
}
.footer-urls {
  width: 100%;
  padding: 15px 0%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin: auto;
  border-bottom: 1px solid #d8d8d8;
}
.footer-urls ul{
  list-style: none;
  display: inline-block;
  text-align: center;
  position: relative;
  color: #525252;
  font-family: 'IdealSans-Light-Pro';
  padding: 0;
  font-size: 20px;
  width: auto;
}
.footer-urls ul li{
  /*    float: left;
      padding: 0 10%;
      border-right: 1px solid #525252;
      margin-bottom: 20px;*/
  /*float: left;*/
  /* padding:0 10%; */
  /* border-right:1px solid #525252; */
  display: inline-block;
  margin-bottom: 20px;
  margin: 0 2.5%;
}
.footer-urls ul li:last-child{
  border: none;
}
.footer-urls ul li a{
  color: #0078be;
  text-decoration: none;
}
/* Footer End
-----------------------------------------------------------------------------------------------------------*/
/* Event Start
-----------------------------------------------------------------------------------------------------------*/
.event-detail-container
{
  width: 100%;
  padding: 25px 0;
  background: #003056;
  color: #fff;
  font-family: 'ArcherPro-Bold_0';
  font-size: 30px;
  float: left;
}
.event-title
{
  float: left;
  width: 100%;
}
.event-title p
{
  margin: 0 10px 0 50px;
  color: #fff;
}
.event-date p
{
  margin: 0 0px 0 50px;
  font-size: 15px;
}
.event-detail-item-container
{
  float: left;
  width: 96%;
  padding: 0 2%;
  margin-bottom: 30px;
}
.event-items-content-container
{
  float: left;
  width: 100%;
  border-bottom: 1px solid #eee;
  color: #525252;
}
.event-detail-heading
{
  float: left;
  width: 30%; 
  padding: 15px 0;
  font-size: 15px;
}
.event-detail-content
{
  float: left;
  width: 70%; 
  padding: 15px 0;
  font-size: 15px;
}
.event-des-style
{
  font-size: 20px !important;
}
.data-role-style-new
{
  padding: 0;
  margin: 0;
  border-radius: 0px !important;
  border: none;
  text-align: left;
  font-weight: normal;
  text-shadow: none !important;
}
.listing-title-detail.story-title-detail
{
  margin: 20px 0 10px 0;
}
.listing-title.story-title
{
  font-size: 20px;
}
.listing-description.story-description
{
  font-size: 18px;
}
.footer-anchors a,
.footer-anchors2 a
{
  /*float: left;*/
  display: inline-block;
  width: 45%;
  margin: 15px 0;
  /*min-height: 120px;*/
}
/* Event End
-----------------------------------------------------------------------------------------------------------*/
.ui-icon-carat-r:after
{
  background-image: url(/mobile/img/Thumbnail-Arrow-Right.png);  
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after
{
  background-color: transparent;
}
.ui-input-text, .ui-input-search
{
  position: relative;
  /* top: -50px; */
  bottom: 47px;
  left: 50px;
  z-index: 9999;
}
.ui-input-text input, .ui-input-search input
{
  background-color: #fff;
}
.search-form-bg
{
  background-color: #000000;
  top: 0px;
  bottom: 0px;
  height: 100%;
  opacity: .6;
  width: 100%;
  position: fixed;
}
/*.cdsROW.wide
{
    width: 150px !important;
}
.cdsROW.wide .cdsROWContainer
{
    display: block !important;
}
.cdsROW.wide .logo
{
    border-right :none !important;
}
.cdsComponent.cdsLocName
{
    margin-top: 10px !important;
}
.cdsComponent.cdsRating
{
    margin-top: 10px !important;
}*/
.view-hours-timing
{
  display: none;
  cursor: pointer;
}