.data-container .acc_cap_header-rows{
  width:100%;
  float:left;
}
.data-container {
  margin-bottom: 15px;
}
.data-container.cottage-capacity {
  /*    height: 494px;*/
  /*height:550px;*/
}
.data-container .acc_cap_header-rows.header-row2-color{
  background-color:#efefef;
}
.data-container .acc_cap_header-rows.header-row3-color{
  background-color:#cccccc;
  border-bottom: 1px solid #cdcdcd;
}
.room_type1_header
{
  background-color:#ffe1bf !important;
}
.data-container .acc_cap_header-rows .header-row1-col1{
  font-size: 17px;
  float:left;
  width:auto;
  color:#333333;
  padding-top:10px;
  padding-left:20px;
  padding-bottom:10px;
}
.data-container .acc_cap_header-rows .header-row1-col2{
  float: right; 
  padding-top: 5px; 
  margin-right: 10px;
}
.data-container .acc_cap_header-rows .header-row1-col2 .Save-all-btn{
  background: none repeat scroll 0 0 #676767;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  height: 24px;
  width: 90px;
}
.data-container .acc_cap_header-rows .header-row2-col1{
  float:left;
  width:615px;
  border-right:1px solid #cdcdcd;
  padding-top:10px;
  padding-bottom:10px;
  color: #6b9e1f;
  font-size: 17px;
  padding-left:20px;
}
.data-container .acc_cap_header-rows .header-row2-col2{
  float:left;
  width:70px;
  border-right:1px solid #cdcdcd;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
}
.data-container .acc_cap_header-rows  .header-row2-col3{
  float:left;
  width:80px;
  text-align: center;
  border-right:1px solid #cdcdcd;
  padding-top:9px;
  padding-bottom:8px;
}
.data-container .acc_cap_header-rows  .header-row2-col3 .capacity-txt{
  width:60px;  
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.data-container .acc_cap_header-rows  .header-row2-col4{
  float:left;
  width:70px;
  text-align: center;
  padding-top:8px;
  padding-bottom:7px;
}
.data-container .acc_cap_header-rows  .header-row2-col4 .cap-btn{
  width:50px;
  background-color: #e0e0e0;
  border: 0px;
  border-radius: 3px;
  margin: 0px;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  color: #000;
}
.data-container .acc_cap_header-rows.data-rows{
  
  margin-bottom: 0px;
}
/*capacity related css*/
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col1,
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col2,
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col3,
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col4{
  float: left;
  border-right:1px solid #cdcdcd;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
}
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col1{
  width:338px;
  color: #6b9e1f;
  text-align: left;
  height: 100%;
  font-size: 17px;
  padding-left:20px;
}
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col2{
  width:57px;
}
.data-container.cottage-capacity .acc_cap_header-rows .acc_cap_padding_capacity{
  padding-bottom: 16px; 
}
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col3{
  width:65px;
}
.search .header-row2-col3{
  width:274px !important;
}
.search .header-row2-col3.last{
  border-right: none !important;
}
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col4{
  width:69px;
  border-right: none;
}
.data-container.cottage-capacity .acc_cap_header-rows .header-row3-col1{
  float: left;
  width:338px;
  border-right: none;
  padding: 10px;
}
.data-container.cottage-capacity .acc_cap_header-rows .header-row3-col2{
  float: left;
  padding: 10px;
  border-right: none;
  font-size: 15px;
}
.data-container.cottage-capacity .acc_cap_header-rows .header-row2-col3 .capacity-txt
{
  width: 25px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.notes_hotel
{
  width: 408px;
  height: 52px;
  margin-bottom: 10px;
}
.notess-info-save-note
{
  text-align: center;
}
.notess-info-save-note input
{
  
  background-color: #e0e0e0;
}
.extra
{
  padding-left: 70px;
  text-align: left !important;
  margin-top:0px;
}
#pagin {
  float: right;
  list-style-type: none;
  /*    margin-top: 20px;*/
      margin-right: 45px;
}
#pagin li {
  float:left;
  margin-right:10px;
}
#pagin li span {
  display:block;
  color:#717171;
  font:bold 11px;
  text-shadow:0px 1px white;
  padding:5px 8px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  background:#f9f9f9;
  background:-webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background:-moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background:-o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background:-ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  background:linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e8e8e8', GradientType=0);
  cursor: pointer;
}
#pagin li span.current {
  color:white;
  text-shadow:0px 1px #3f789f;
  -webkit-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.8);
  box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.8);
  background:#7cb9e5;
  background:-webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background:-moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background:-o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background:-ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  background:linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cb9e5', endColorstr='#57a1d8', GradientType=0);
}
#pagin li span:hover {
  -webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.55);
  background:#fff;
  background:-webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background:-moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background:-o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background:-ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
  background:linear-gradient(top, #fff 0%, #e8e8e8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e8e8e8', GradientType=0);
}
#pagin li span:active, #pagin li span.current:active {
  -webkit-box-shadow:inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px 1px 0px rgba(255, 255, 255, 1) !important;
  -moz-box-shadow:inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px 1px 0px rgba(255, 255, 255, 1) !important;
  box-shadow:inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px 1px 0px rgba(255, 255, 255, 1) !important;
}
#pagin li span.current:hover {
  -webkit-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.9);
  box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.9);
  background:#99cefc;
  background:-webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background:-moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background:-o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background:-ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  background:linear-gradient(top, #99cefc 0%, #57a1d8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cefc', endColorstr='#57a1d8', GradientType=0);
}