.accordion-header {
	padding: 0px 0px 0px 25px;
float:left;
	cursor: pointer;
background-color: #f9f9f9;

}
.active-header {
background-color: #f9f9f9;
	background-image: url('../admin/images/fold.png');

	background-repeat: no-repeat;
	background-position: 1% 56%;
        float:left;
            width: 98.5%;
                margin-top: 10px;
/*    margin-left: 20px;*/
}
/*.active-header:hover {

	background-image: url('../images/fold.gif');

	background-repeat: no-repeat;

	background-position: left 50%;
        float:left;

}*/
.inactive-header {
        width: 98.5%;
/*    margin-left: 20px;*/
    background-color: #f9f9f9;
float:left;
	background-image:url('../admin/images/exptend.png');

	background-repeat: no-repeat;

	background-position: 1% 59%;
            margin-top: 10px;

}
/*.inactive-header:hover {
float:left;
	background-image:url('../images/extend.png');

	background-repeat: no-repeat;

	background-position: left 50%;
}*/
.accordion-content {

	display: none;

/*	padding: 20px;*/

	border-top: 0;
            width: 1054px !important;
    float: left;

}