
body, form {
	padding: 0;
	margin: 0;
	border: 0;
}

p, div, td, th, li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	line-height: 18px;
}

select, input, textarea {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
}

.PageTitle {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #333;
	padding-top: 15px;
}
.bold {
	font-weight: bold;
}



.info {
	text-align: center;
	font-weight: bold;
	color: #006600;}

.error {
	background-color: #990000;
	text-align: center;
	font-weight: bold;
	color: #660000;}

.whitetext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #666666;
}
.main-nav {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #666666;
}
.adminheading, h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #333;
	font-weight: bold;
}

a, a:link, a:visited, a:active {
	font-family: Verdana, Arial, sans-serif;
	color: #174514;
	text-decoration: none;
}

a:hover {
	color: #333333;
	text-decoration: none;
}

.whiteheading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.bold {
	font-weight: bold;
}
.redbold {
	font-weight: bold;
	color: #E81D23;
}
#navCell {
	background-color: #174514;
}

#navBlock {
	display: block;
	position: relative;
	width: 800px;
	margin: 0px auto 0px -400px;
	left: 50%;
}
#nav, #nav ul{
left: auto;
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1.5em; 
}

#nav a{
display:block;
padding:5px 15px;

color: #FFFFFF;
text-decoration:none;

}

#nav a:hover{

color:#CCCCCC;
}

#nav li{
float:left;
position:relative;
}

#nav ul {
position:absolute;
display:none;
width:12em;
top:1.8em;
}

#nav li ul a{
width:12em;
padding:0px 4px;
text-align:center;
height:auto;
float:left;
color:#FFF;
border:1px solid #CCCCCC;
background-color:#174514;
}

#nav ul ul{
top:auto;
}	

#nav li ul ul {
left:12em;
margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}