
.popUpTitle {
    background-color: #000000;
    height: 40px;
    width: 100%;
}

.popUpTitle img {
    float: right;
    margin-right: 2px;
    margin-top: 5px;
}

.data {
    background-color: #FFFFFF;
    height: auto;
    overflow: hidden;
	font-size: 14px;
    padding: 25px 25px 50px;
    width: auto;
}

.buttons li {
    cursor: pointer;
    float: left;
    height: 29px;
    margin-right: 15px;
    width: 134px;
}

span.button {
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 25px;
    text-align: center;
     cursor:pointer;
     margin-right:5px;
     float:left;
}

.popUpDisplay {
    display: none;
    position: absolute;
    width: 440px;
	height: 300px;
    width: 322px;
    left: 250px;
    z-index: 1001;
}

.dimLayer {
    display: none;
    outline: 0px none;
    height: 100%;
    width: 100%;
    background: #A9A9A9;
    top: 0px;
    left: 0px;
    z-index: 900;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
}
#ajax-loader{
    background-image: url('images/ajax-loader.gif');
    background-repeat: no-repeat;
    float:left;
    padding:9px;
   display:none;
}
#u_name{
     margin-right:20px;
    float:left;
}
#u_pass{
   
    float:left;
}
p.confirm-pass-text{
  float:left;
  margin-top:0px;
}