/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    min-height: 49px;
    width: 580px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0 10px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
    padding: 15px 10px;
    font-size: 16px;
    float: left;
}

li.token-input-token {
    margin: 10px 3px;
    padding: 0;
    background-color: #f4f6f6;
    border: 1px solid #ccd3d3;
    color: #000;
    font-size: 16px;
    cursor: default;
    display: block;
    float: left;
    border-radius: 5px;
}

li.token-input-token p {
    float: left;
    padding:5px 10px;
    margin: 0;
    line-height: inherit !important;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
    border-left: 1px solid #ccd3d3;
    padding:5px;
}

li.token-input-selected-token {
    background-color: #e6ebeb;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 600px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #ccd3d3;
}

