@font-face {
    font-family: 'news-gothic';
    src: url('../my/fonts/NewsGothicLight.eot');
    src: url('../my/fonts/NewsGothicLight.eot?#iefix') format('embedded-opentype'),
        url('../my/fonts/NewsGothicLight.woff') format('woff'),
        url('../my/fonts/NewsGothicLight.ttf') format('truetype');
}
@font-face {
    font-family: 'ArcherPro-Bold_0';
    src: url('../stylesheets/font/ArcherPro-Bold_0.eot');
    src: url('../stylesheets/font/ArcherPro-Bold_0.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/ArcherPro-Bold_0.woff') format('woff'),
        url('../stylesheets/font/ArcherPro-Bold_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ArcherPro-Semibold';
    src: url('../stylesheets/font/ArcherPro-Semibold.eot');
    src: url('../stylesheets/font/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/ArcherPro-Semibold.woff') format('woff'),
        url('../stylesheets/font/ArcherPro-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'ArnoPro-Caption';
    src: url('../stylesheets/font/ArnoPro-Caption.eot');
    src: url('../stylesheets/font/ArnoPro-Caption.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/ArnoPro-Caption.woff') format('woff'),
        url('../stylesheets/font/ArnoPro-Caption.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Light-Pro';
    src: url('../stylesheets/font/IdealSans-Light-Pro.eot');
    src: url('../stylesheets/font/IdealSans-Light-Pro.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/IdealSans-Light-Pro.woff') format('woff'),
        url('../stylesheets/font/IdealSans-Light-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Semibold-Pro';
    src: url('../stylesheets/font/IdealSans-Semibold-Pro.eot');
    src: url('../stylesheets/font/IdealSans-Semibold-Pro.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/IdealSans-Semibold-Pro.woff') format('woff'),
        url('../stylesheets/font/IdealSans-Semibold-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../stylesheets/font/MyriadPro-Regular.eot');
    src: url('../stylesheets/font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/MyriadPro-Regular.woff') format('woff'),
        url('../stylesheets/font/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NewsGothicStd';
    src: url('../stylesheets/font/NewsGothicStd.eot');
    src: url('../stylesheets/font/NewsGothicStd.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/NewsGothicStd.woff') format('woff'),
        url('../stylesheets/font/NewsGothicStd.ttf') format('truetype');
}
@font-face {
    font-family: 'BlairMdITC-TT-Medium';
    src: url('../stylesheets/font/BlairMdITC-TT-Medium.eot');
    src: url('../stylesheets/font/BlairMdITC-TT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/BlairMdITC-TT-Medium.woff') format('woff'),
        url('../stylesheets/font/BlairMdITC-TT-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'ITC-Franklin-Gothic-Book';
    src: url('../stylesheets/font/ITC-Franklin-Gothic-Book.eot');
    src: url('../stylesheets/font/ITC-Franklin-Gothic-Book.eot?#iefix') format('embedded-opentype'),
        url('../stylesheets/font/ITC-Franklin-Gothic-Book.woff') format('woff'),
        url('../stylesheets/font/ITC-Franklin-Gothic-Book.ttf') format('truetype');
}
.main-wapper
{
    width: 960px;
    margin: 0 auto;
    font-family: 'news-gothic';
}
.main-wapper .logo-container
{
    padding: 20px 40px 30px 0;
    float: left;
    width: 920px;
    border-bottom: 2px solid #eee;
}
.main-wapper .logo-container .logo
{
    width: 230px;
    margin: 0 auto;
}
p, div, td, select, input, th, textarea, li{
    font-family: 'news-gothic';
    color: #545448;
}
.main-wapper .logo-container .logo img
{
    float: left;
    width: 230px;
}
.sign-container
{
    float: left;
    width: 900px;
    padding: 30px;
    border-bottom: 2px solid #eee;
    margin-bottom: 70px;
}
.delete_categoriess{
    color: red;
    margin-left: 10px;
    padding-top: 13px;
    position: absolute;
    cursor: pointer;
}
.listing-title-detail .front-div1{margin-to: 10px;display:block;} 
#front-div2{margin-top:20px; padding: 20px 40px;} 
#front-div3{margin-bottom: -16px; margin-top: 28px;}
.front-div4{margin-top: 20px;}
#front-div5{margin-bottom: -16px; margin-top: 28px;} 
#front-div6{width:100px;} 
#front-div7{padding: 18px 16px;} 
#front-div8{width:200px;} 
#front-div9{margin-top:20px; padding: 20px 14px;} 
#front-div10{margin-bottom:17px;}
#front-div11{margin-top: 12px;}
#front-div12{margin-bottom: 18px;}
#hourViewWidth{    
    min-width: 185px;
    max-width: 182px;}
#hourViewWidth-Social{
    width: 276px;
}
input[type="email"] {
    padding: 8px;
    width: 380px;
}
.editErrow-Position{padding-top: 27px; position: absolute;}
.main-container{padding:30px 30px 30px 2px;}
.box-Show{
    padding: 12px 45px;
    border: 1px dashed #ef4d32;
    width: 80%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    /*font-weight: bold;*/
    text-align: center;
    padding: 17px;
    color: red;
    text-decoration: none;
}
.emailedit{ 
    margin-top: 21px;
    margin-bottom: 8px;
}  
.add-box-small{ 
    width: 100%;margin-left: 20px;
    text-align: center;
    margin: 0 auto; 
    /*font-weight: bold;*/ 
    /*position: relative;*/
    font-size: 19px;
}
.add-box{    
    width: 273px;
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #6FAB24;
    margin: 0 auto; 
    font-weight: bold; position: relative;
    font-size: 24px;
}
.add-boxs{ 
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #6FAB24;
    margin: 0 auto; 
    font-weight: bold; position: relative;
    font-size: 24px;
}
.editBtnbackgrond{ 
    min-width: 20px; 
    max-width: 20px; 
    position: absolute;
    margin-left: 10px;
    margin-top: -6px;
    cursor: pointer;
}
.editBtnbackgrond img{
    padding-top: 10px;
}

.edit-btn-front-side{
    float: right;
    font-weight: normal;
    margin-right: 25px;
}
a.box-Show.hours {
    margin-top: 25px;
}
.editbtn{
    background-color:#2FC332;
    border:0;
    padding:2px 10px;
    color:#FFF;
}
.deletebtn{
    background-color:#D60202;
    border:0;
    padding:2px 10px;
    color:#FFF;
    margin-bottom:15px;
}
#desc2 {
    float: left;
    width: 651px;
    font-family: IdealSans-Light-Pro;
    font-size: 18px;
    color: #525252;
    line-height: 24px;
}
h4#clickView {
    top: -15px;
    position: relative;
}
.day-heading{
    margin-top: 22px;
    margin-bottom: 5px;
}
#desc3 {
    float: left;
    width: 651px;
    font-family: IdealSans-Light-Pro;
    font-size: 18px;
    color: #525252;
}
.get-coupon-btn {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.thumbnail-coupon{
    background-color: #96a5e3;
}

/* Thumbnail slider end
-----------------------------------------------------------------------------------------------------------*/
/* Listing Page Start
-----------------------------------------------------------------------------------------------------------*/

/*.listing-address, .get-coupon-listing, .get-coupon-town {
    font-family: Nexa-Rust-Sans-Black;
    font-size: 18px;
    color: #0048ff;
}*/
.get-coupon-listing {
    float: left;
    width: 92%;
    padding: 9px 10px;
    /*    font-size: 23px;*/
    line-height: 44px;
}
.imageBtn{float:right;cursor: pointer; color: #6FAB24;position: absolute;margin-top: 5px;margin-left: 572px;}
.imageBtnAdd{cursor: pointer; color: #6FAB24;position: absolute;margin-top: 143px; width: 48%;  float: left;}
.aboutus-photo-perview{
    width: 610px;
    height: 372px;
    float: left;
    position: relative;
}
.coupon-form-title{
    font-family: Ashwood;
    font-size: 26px;
    color: #08d163;
}
.coupon-form-text{
    font-family: Nexa-Rust-Sans-Black;
    font-size: 26px;
    color: #fac000;
}
/* Listing Page End
-----------------------------------------------------------------------------------------------------------*/
.listing-detail-left{
    width: 48%;
    float: left;
}
.listing-detail-right{
    width: 30%;
    float: right;
    margin-left: 20px;
}
.listing-detail-right .listing-detail-address {
    padding-bottom: 35px;
    float: left;
    width: 275px;
    /*    border-bottom: 1px solid #eeeeee;*/
}.description .description-wrapper {
    width: 960px;
    margin: auto;
    text-align: center;
}
.get-coupon-btn a {
    float: left;
    background-color: #ef4d32;
    width: 275px;
    color: #FFF;
    padding: 15px 0;
    font-family: IdealSans-Light-Pro;
    font-size: 20px;
    text-decoration: none;

}  
.coupon-listing-info {
    float: left;
    width: 100%;
    background-color: #eaeae9;
    color: #8b8b8a;
    margin-bottom: 35px;
    font-family: IdealSans-Light-Pro;
    padding: 65px 0;
    font-size: 30px;
}
.get-coupon-town {
    font-family: Nexa-Rust-Sans-Black;
    font-size: 18px;
    color: #0048ff;
}
.listing-detail-add-icon{  
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 38px;
}
.listing-address-container {
    float: left;
    width: 275px;
    margin-bottom: 5px;
}
.listing-detail-right .listing-detail-address.border-top-none {
    padding-top: 35px;
}
.listing-detail-right .listing-detail-address {
    padding-bottom: 35px;
    float: left;
    width: 275px;
    border-bottom: 1px solid #eeeeee;
}
.listing-address-container.social {
    margin-top: 32px;
}
label#emailid {
    margin-top: -22px;
    margin-right: 36px;
    margin-bottom: 13px;
}
label#emailidwebiste {
    margin-top: -25px;
}
.add-box-small.space {
    top: 16px;
    position: relative;
} 
.listing-detail-add-detail {
    float: left;
    width: 198px;
    text-align: left;
    font-size: 15px;
    font-family: IdealSans-Light-Pro;
    color: #525252;
}
.address-heading.listing-leftnav-margin {
    margin-top: 5px;
}.address-heading {
    float: left;
    width: 213px;
    margin-bottom: 6px;
}
.listing-title-detail .listing-title {
    float: left;
    width: 655px;
    /*font-family: IdealSans-Light-Pro;*/
    font-size: 44px;
    color: #ef4d32;
    margin-bottom: 15px; 
}
.listing-address {
/*    font-family: IdealSans-Light-Pro;
    font-size: 22px;*/
    color: #525252;
    float: left;
    width: 655px;

}.listing-title-detail {
    float: left;
    width: 655px;
    text-align: left;
    margin-bottom: 50px;
}.menu-desc {
    float: left;
    font-size: 15px;
    width: 655px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
    margin-bottom: 35px;
}
.menu-item-heading-container {
    float: left;
    width: 655px;
    font-family: IdealSans-Light-Pro;
    font-weight: bold;
}.menu-item-heading-container .menu-title {
    float: left;
    font-size: 20px;
    margin-bottom: 5px;
}
.sign-container .login-container
{
    float: left;
    width: 330px;
    padding: 50px 50px 50px 70px;
    border-right: 2px solid #eee;
}
.from-inside-div-label{
    display: inline-block;
    float: left;
    width: 33%; text-align: center;
}

.login-from-inside-div .signin-title-responsive-page{
    border: 1px solid;
    padding: 21px;
    height: 34px;
    background-color: #676767;
    font-size: 24px;
    color: #fff;

    font-family: Arial,Helvetica,sans-serif;
}
.login-from-inside-div.forget {
    margin-top: 41px;
}
.sign-container .Sign-in-up-msg
{
    float: left;
    width: 395px;
    padding: 50px 0px 50px 50px;
}
.login-container-inside-div
{
    float: left;
    width: 100%;
}
.login-detail-title
{
    float: left;
    width: 100%;
    font-size: 40px;
    color: #ef4d32;
    margin-bottom: 50px;
}
.login-from-inside-div
{
    float: left;
    width: 100%;
}
#suggest-business {
    border: 1px solid #C7C7C7;
    padding: 10px;
    margin-bottom: 15px;
}
#suggest-business ul.suggestion li a{
    text-decoration: none;
    color: #ef4d32;
}
.sign-container .login-detail-change-password{
    background-color: black;
    color: white;
    font-size: 24px;
    height: 37px;
    margin-left: -30px;
    margin-top: -30px;
    width: 958px;
}
.login-detail-change-password {
    padding: 19px;
}
.from-inside-div-label.position {
    padding-top: 10px;
}

.from-inside-div-button.bottom {
    border-bottom: 2px solid #eee;
    height: 98px;
}
.login-from-inside-div > a {
    text-decoration: none;
    color: #EF4D32;
}
.resect-password {
    margin: 0 auto;

    width: 64%;
}
.resect-password .success{
    text-align: center;
}
.resect-password a {
    color: #6fab24;
    text-decoration: none;
}
.login-from-inside-div.change {
    margin: 0 auto;
    text-align: center;
}
.login-from-inside-div input[type="text"]
{
    padding: 10px 10px;
    border: 1px solid #C7C7C7;
    font-size: 16px;
    margin-bottom: 15px;
    width: 305px;
}
.login-container.full-size{ 
    border-right: medium none;
    margin: 0 auto;text-align: center;
    width: 80%;
}
.login-from-inside-div input[type="email"]
{
    padding: 10px 10px;
    border: 1px solid #C7C7C7;
    font-size: 16px;
    margin-bottom: 15px;
    width: 305px;
}
.login-from-inside-div input[type="password"]
{
    padding: 10px 10px;
    border: 1px solid #C7C7C7;
    font-size: 16px;
    margin-bottom: 15px;
    width: 305px;
}
.login-from-inside-div .from-inside-div-button
{
    float: left;
    width: 100%;
    text-align: center;
    margin: 36px 0;
}
.login-from-inside-div .from-inside-div-button input[type="submit"]
{
    padding: 15px 0px;
    background: #ef4d32;
    color: #fff7ff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
}
/* css */
.login-from-inside-div.reset {
    width: 66%;
    float: left;
}
.login-from-inside-div.reset input[type="email"] {
    padding: 10px 10px;
    border: 1px solid #C7C7C7;
    font-size: 15px;
    float: left;
    margin-bottom: 15px;
    width: 240px;
}
.sign-container .login-container-reset {
    float: left;
    width: 100%; 
    background-color: #fff;
    margin-top: 20px;
}
.login-from-reset-div { 
    float: left; 
    width: 100%; 
}
.login-from-reset-email-div { 
    float: left;
    width: 60%; 
}

form .frombutton { 
    float: right;
    width: 30%;
    text-align: center;
    /* margin-top: 3px; */
}
.frombutton input[type="submit"] 
{ 
    padding: 8px 24px 8px;
    background: #ef4d32;
    color: #fff7ff;  
    border: none; 
    float: left;
    font-size: 20px; 
    cursor: pointer; 
}
/*  mycsss   */
/*css end */
.reset-message { 
    margin-top: 20px; 
    float: left;
    display:none;
    color: red; 
    font-size: 16px;
}
.reset-message-green {
    margin-top: 20px; 
    display:none;
    color: #4CAF50;
    font-size: 16px;
    float: left;
}
/*  mycsss   */
.invalid-user-warning
{
    float: left;
    width:100%;
    line-height: 1.5em;
    font-size: 16px;
    margin-bottom: 20px;
}
.invalid-user-warning.expired {
    font-size: 18px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #eee;
    height: 100px;
}
.invalid-user-warning a
{
    text-decoration: none;
    color: #ef4d32;
}
.msg-body-container
{
    float: left;
    padding-top: 75px;
    width: 100%;
}
.msg-body-container .message-body
{
    float: left;
    margin-top: 20px;
    width: 100%;
    line-height: 1.5em;
    font-size: 16px;
}
.msg-body-container .message-body a
{
    text-decoration: none;
    color: #ef4d32;
}
.message-body-logo
{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.main-container
{
    float: left;
    padding: 30px 30px 30px 80px;
    width: 850px;
    border-bottom: 2px solid #eee;
    margin-bottom: 80px;
}
.main-container .coupon-listing-title
{
    color: #ef4d32;
    font-size: 40px;
    float: left;
    padding: 50px 0 20px 0;
    width: 100%;
    border-bottom: 2px solid #eee;
}
.main-container .coupon-listing-title .instruction {
    float: left;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}
.main-container .coupon-listing-title .instruction span {
    padding: 0px 10px;
    background-color: #eaeaea;
    margin: 0 5px;
}
.main-container .main-container-body{
    float: left;
    width: 100%;
    padding: 30px 0 0 0;
    overflow: hidden;
}
.main-container .main-container-body .left
{
    float: left;
    width: 220px;
    border-right: 2px solid #eee;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    min-height: 200px;
}
.main-container .main-container-body .left .left-nav-coupon
{
    float: left;
    width: 100%;
}
.main-container .main-container-body .left .left-nav-coupon ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.main-container .main-container-body .left .left-nav-coupon ul li
{
    font-size: 16px;
    padding:15px 0 5px 0;
}
.main-container .main-container-body .left .left-nav-coupon ul li a
{
    text-decoration: none;
    color: #000;
}
.active-class
{
    border-bottom: 3px solid #ef4d32;
}
.not-active
{
    border-bottom: 3px solid #fff;
}
.main-container .main-container-body .right
{
    float: right;
    width: 628px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
}
.main-container .main-container-body .right .form-inside-div
{
    float: left;
    width: 100%;
    padding: 10px 0;
}
.main-container .main-container-body .right .form-inside-div .button
{
    float: right;
    width: 382px;
    text-align: center;
}
.main-container .main-container-body .right .form-inside-div .button input[type="submit"]
{
    padding: 15px 35px;
    background: #ef4d32;
    color: #fff7ff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 180px;
}
.main-container .main-container-body .right .form-inside-div label
{
    float: left;
    text-align: right;
    width: 190px;
    padding: 10px 0;
}
.main-container .main-container-body .right .form-inside-div .form-data
{
    float: left;
    width: 402px;
    margin-left: 25px;
}
.main-container .main-container-body .right .form-inside-div .form-data input[type="text"]
{
    width: 380px;
    padding: 10px 10px;
    border: 1px solid #C7C7C7;
    font-size: 16px;
}
.main-container .main-container-body .right .form-inside-div .form-data input[type="email"]
{
    width: 380px;
    padding: 10px 10px;
    border: 1px solid #C7C7C7;
    font-size: 16px;
}
.main-container .main-container-body .right .form-inside-div .form-data input[type="password"]
{
    width: 380px;
    padding: 10px 10px;
    border: 1px solid #C7C7C7;
    font-size: 16px;
}
.main-container .main-container-body .right .form-inside-div .form-data .instructional-background {
    background-color: #eaeaea;
}
.main-container .main-container-body .right .form-inside-div .form-data textArea
{
    width: 380px;
    height: 160px;
    border: 1px solid #C7C7C7;
    padding: 10px 10px;
    font-size: 16px;
}
/*index page*/
.data-container
{
    float: left;
    width: 578px;
    margin-left: 50px;
}
.data-container .data-header
{
    float: left;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
    margin-top: 15px;
}
.data-container .data-header .data-header-title
{
    float: left;
    width: 80%;
    font-size: 16px;
}
.data-container .data-header .data-header-option
{
    float: left;
    width: 20%;
    text-align: right;
    font-size: 16px;
}
.data-container .data-header .data-header-coupon-title
{
    float: left;
    width: 50%;
    font-size: 16px;
}
.data-container .data-header .data-header-coupon-option
{
    float: left;
    width: 12%;
    text-align: right;
    font-size: 16px;
}
.data-container .data-header .data-header-coupon-option-no
{
    float: left;
    width: 12%;
    text-align: center;
    font-size: 16px;
}
.data-container .data-content
{
    float: left;
    width: 100%;
    border-bottom: 2px solid #eee;
    padding: 10px 0;
}
.data-container .data-content .data-content-title
{
    float: left;
    width: 80%;
    font-size: 16px;
}
.data-container .data-content .data-content-option
{
    float: left;
    width: 20%;
    text-align: right;
    font-size: 16px;

}
.data-container .data-content .data-content-coupon-title
{
    float: left;
    width: 50%;
    font-size: 16px;
}
.data-container .data-content .data-content-coupon-option
{
    float: left;
    width: 12%;
    text-align: right;
    font-size: 16px;   
}
.data-container .data-content .data-content-coupon-option-no
{
    float: left;
    width: 12%;
    text-align: center;
    font-size: 16px;   
}
.data-container .data-content .data-content-option a
{
    text-decoration: none;
    color: #ef4d32;
}
.data-container .data-content .data-content-coupon-option a
{
    text-decoration: none;
    color: #ef4d32;
}
.data-container .link
{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.data-container .link a
{
    text-decoration: none;
    color: #ef4d32;
    font-size: 20px;
}
/*index page*/
/*mapping page*/
.form-inside-div .content-sub-header
{
    float: right;
    width: 515px;
}
.form-inside-div .content-sub-header .title
{
    float: right;
    width: 515px;
    color: #ef4d32;
}
.form-inside-div .gmap-left
{
    float: right;
    width: 410px;
}
.form-inside-div  .gmap-left p
{
    float: left;
    width: 100%;
}
.form-inside-div  .gmap-left p a
{
    color: #ef4d32;
}
/*mapping page*/
/*hour page*/
.form-inside-div .form-data select
{
    width: 185px;
    padding: 10px 10px;
    border: 1px solid #c7c7c7;
    font-size: 16px
}
.form-inside-div.hours .form-data select
{
    width: 120px;
    padding: 10px 10px;
    border: 1px solid #c7c7c7;
    font-size: 16px;
    /* float: left; */
    margin-left: 5px;
}
.form-inside-div iframe
{
    margin-left: 35px;
}
.form-inside-div .agreement-button input[type="submit"]
{
    padding: 15px 35px;
    background: #ef4d32;
    color: #fff7ff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 310px;
}
.custom-ajax {
    height: 100%;
    width: 100%;
    display: none;
}
.custom-ajax-show{
    display: block;
    text-align: center;
    background: transparent;
    padding-top: 300px;
    color:white;
    background-image: url("../images/ajaxloader.gif");
    background-position: center 230px;
    background-size: 160px 160px;
    background-color: #000000;
    background-repeat: no-repeat;
    top: 0px;
    bottom: 0px;
    height: 100%;
    opacity: .7;
    z-index: 9999;
    width: 100%;
    position: fixed;
}
/*add-coupon*/
.form-inside-div .form-data span
{
    /*width: 100px;*/
    /*padding: 10px;*/
    /*background: #e5e5e4;*/
    color: #444546;
    border: none;
    font-size: 16px;
    cursor: pointer;
    /*float: left;*/
    text-align: center;
}
.form-inside-div .form-data span.select-photo {
    float:left;
    padding: 10px 25PX;
    background-color: #6dac29;
    color: #fff7ff;
}
.form-inside-div .form-data span.delete-photo {
    float:left;
    padding: 10px 25PX;
    background-color: #444546;
    margin-left: 20px;
}
.form-inside-div .form-data span.delete-photo a{
    text-decoration: none;
    color: #FFF;
}
.ui-dialog .ui-dialog-content.dialog-bank {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ui-dialog .ui-dialog-content.dialog-bank label {
    padding: 10px 35px;
}
.coupon_browse {
    background: #ef4d32;
    color: #fff7ff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.ui-dialog .ui-dialog-content.dialog-bank a {
    padding: 10px 35px;
    background: #ef4d32;
    color: #fff7ff;
    font-size: 16px;
    cursor: pointer;
}
/*Image Bank*/
.image-nav
{
    width: 1100px;
    float: left;
}
.main-nav-image-admin
{
    float:left;
    width: 100%;
}
.main-nav-image-search-image
{
    float: left;
    margin: 5px 25px 5px 66px;
}
.main-nav-image-search-image input[type="submit"]
{
    background-image: url('img/search-image.png');
    padding:11px 20px;
    font-size:0;
    border:none;
    background-color: transparent;
    background-position: 2px;
    line-height: 18px;
}
.main-nav-image-search-image img
{
    width: 35px;
}
.main-nav-image-search-text
{
    float: left;
    margin: 20px 0;
    width: 100%;
}
.main-nav-image-search-text-field
{
    float: left;
}
.main-nav-image-search-text-field input
{
    padding: 10px;
    width: 580px;
    font-size: 16px;
}
.main-nav-image-search-total-image
{
    float: left;
    margin: 16px 20px 16px 35px;
}
.main-nav-image-search-button
{
    float: right;
    margin: 17px 15px 2px 0px;
}
.main-nav-image-search-button a
{
    background: #ff8901 none repeat scroll 0 0;
    border: medium none;
    color: #fff7ff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 35px;
}
.main-nav-image-search-admin
{
    float: left;
    width: 100%;
}
.main-nav-image-admin-inner
{
    float: left;
    width: 100%;
}
.main-nav-image-admin-inner ul
{
    float: left;
    width: 100%;
    padding: 0px 0;
    margin: 0;
    list-style-type: none;
    background-color: #484e4e;
}
.main-nav-image-admin-inner ul li
{
    display: inline-block;
    margin: 0;
    color: white;
}
.main-nav-image-admin-inner ul li a
{
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding:13px 30px 15px 30px;
}
.main-nav-image-admin-inner ul li a:hover
{
    background-color: #25292a;
}
.main-nav-image-admin-inner ul li ul.region-image-bank
{
    width: 600px;
}
.main-nav-image-admin-inner ul li ul
{
    background-color: #25292a;
    display: none;
    position: absolute;
    width: auto;
    margin-top: 15px;
    text-align: center;
    padding: 20px;
    z-index: 1;
}
.main-nav-image-admin-inner ul li:hover ul
{
    display: block;
}
.first-padding-li
{
    padding:14px 30px 15px 60px !important;
}
.last-padding-li-go-back-img-bnk
{
    float: right;
    width: 220px;
}
.last-padding-li-go-back-img-bnk a
{
    float: right;
    text-align: right;
    padding: 14px 15px !important;
    background-image: url('/images/left_round.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 0 70%;
    width: 190px;
}
.main-nav-image-admin-inner-sub-menu
{
    float: left;
    width: 150px;
}
.main-nav-image-admin-inner-sub-menu li
{
    float: left;
    padding: 0px 0px 5px 0px !important;
    text-align: left;
}
.main-nav-image-admin-inner-sub-menu li input[type=checkbox]
{
    display: none;
}
.image-bank-container
{
    float: left;
    padding:50px;
    background-color: #e8eeee;
    width: 1000px;
    min-height: 280px;
}
.image-bank-container-on-dialog
{
    width: 82%;
    padding: 50px 9%;
}
.image-bank-container-image-gallery
{
    float: left;
    width: 100%;
    border: 1px solid #fff;
}
.image-section-container
{
    float: left;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.image-section-container .image-section-text-align
{
    text-align: center;
    margin-top: 2px;
}
.image-section-text-align
{
    text-align: center;
    margin-top: 2px;
}
.image-hover-bank{
    float: left;
    border-right: 1px solid #fff;
}
.image-bank-image-section
{
    /*float: left;
    position:relative;
    padding :20px;
    width: 209px;
    height: 200px;
    background-color: #e8eeee;
    cursor: pointer;*/
    float: left;
    position:relative;
    padding :20px;
    width: 209px;
    height: 210px;
    background-color: #e8eeee;
    border: 1px solid #fff;
    /*margin: 0 13px 10px 0;*/
    cursor: default;
    /* border-right: none;*/
    /*border-bottom: none;*/
    margin-bottom: -1px;
    margin-right: -1px;
}
.image-bank-image-section-right-border-none{
    border-right: 1px solid #fff;
}
a.image-section-edit{
    display: none;
    position:absolute;
    background: #484e4e;
    padding: 5px 10px;
    color: #FFF;
}
.image-hover-bank:hover a.image-bank-image-section
{
    background-color: #ebdabe;
    text-decoration: none;
}
.image-hover-bank:hover a.image-section-edit{
    display: block;
    text-decoration: none;
}
.image-section-image-align
{
    min-height: 200px;
    position: relative;
}
.image-bank-image-section img
{
    max-width: 200px;
    max-height:200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
}
.image-bank-image-section-last
{

    border-right: none !important;
}
.image-bank-image-section-outer-last
{
    border-bottom: none !important;
}
.image-bank-container .no-image-found
{
    float: left;
    padding :20px 5%;
    width: 90%;
}
.image-bank-pagination{
    float: left;
    width: 100%;
    margin-top: 30px;
}
.squaredOne {
    float: left;
    width: 15px;
    height: 15px;
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}

.squaredOne label {
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1px;
    top: 1px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background: #FF8901;

    background: -webkit-linear-gradient(top, #FF8901 0%, #FF8901 100%);
    background: -moz-linear-gradient(top, #FF8901 0%, #FF8901 100%);
    background: -o-linear-gradient(top, #FF8901 0%, #FF8901 100%);
    background: -ms-linear-gradient(top, #FF8901 0%, #FF8901 100%);
    background: linear-gradient(top, #FF8901 0%, #FF8901 100%);

    top: 1px;
    left: 1px;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.main-nav-image-admin-inner-sub-menu li span
{
    margin: 0 0 0 10px;
    width: 120px;
    float: left;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank {
    width: 1050px;
    margin-top: 20px;
    float: left;
    padding: 0 25px;
    margin-bottom: -1000px;
    padding-bottom: 1000px;

}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left{
    width: 504px;
    float: left;
    border-right: 1px solid #f0f0f0;
    padding: 0 20px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .image-bank-photo {
    float: left;
    position: relative;
    width:100%;
    height:380px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .image-bank-photo img{
    max-width: 100%;
    max-height: 380px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-detail{
    width: 100%;
    padding: 25px 0;
    float: left;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-detail.editphoto{
    padding: 5px 0;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-detail .photo-detail-container{
    width: 350px;
    margin: auto;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-detail .photo-detail-container a{
    color: #fc8b00;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-detail .photo-detail-container .download-photo{
    text-align: center;
    color: #fc8b00;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-detail .photo-detail-container .save-to-cart{
    text-align: center;
    float: left;
    width: 125px;
    border-right: 1px solid #f0f0f0;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .keywords{
    width: 100%;
    padding: 25px 0;
    float: left;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .keywords label{
    float:left;
    width:100%;
    margin-bottom:30px;
    font-size: 16px;
    font-weight:bold;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .keywords .keyword{
    float:left;
    width:100%;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .keywords .keyword a{
    float:left;
    border: 1px solid #d9e0e0;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    background-color: #f4f6f6;
    border-radius: 4px;
    color: #fc8b00;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .keywords .keyword a:hover{
    background-color: #fcfdfd;
    color: #666e6e;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions {
    float: left;
    width: 100%;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions #accordion .accordion-rows{
    background-color: #ebf1f1 !important;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions #accordion .sub-accordions .accordion-body{
    float: left;
    margin-left: 20px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions #accordion .sub-accordions .accordion-body .accordion-labels{
    float: left;
    width: 150px;
    padding: 10px 0;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions #accordion .sub-accordions .accordion-body .accordion-data{
    width: 210px;
    float: left;
    padding: 10px 0;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions #accordion .sub-accordions .accordion-body .accordion-data.active{
    color: #3eab1c;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions #accordion .sub-accordions .accordion-body .usage-delete{
    float: right;
    padding: 10px 0;
    margin-right: 10px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-left .photo-usage-accordions #accordion .sub-accordions .accordion-body .usage-delete a{
    color: #fc8b00;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right{
    width: 465px;
    float: right;
    padding: 0 20px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right h2{
    line-height: 1.2em;
    margin: 0;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .download-photo {
    margin: 30px 0;
    float: left;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .download-photo a{
    background-color: #f98412;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .photo-details{
    float: left;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .photo-details .photo-labels{
    float: left;
    width: 180px;
    padding: 10px 0;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .photo-details .photo-data{
    width: 210px;
    float: left;
    padding: 10px 0;
    min-height: 18px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .form-usage{
    float: left;
    width: 465px;
    margin-left: 20px;
    margin-top: 20px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .content-header{
    float: left;
    width: 465px;
    background: #EBF1F1;
    padding: .7em .5em .7em 1em;
    font-size: 17px;
    margin-top: 50px;
    color: #212121;
    font-weight: normal;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .form-usage form .form-inside-div{
    float: left;
    width: 465px;
    padding: 4px 0;
    font-size: 16px;
    margin-left: 0;
    border: none;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .form-usage form .form-inside-div label{
    float: left;
    width: 120px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .form-usage form .form-inside-div .form-data{
    width: 290px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .form-usage form .form-inside-div .form-data select{
    width: 290px;
    padding: 7px 40px;
    border: 1px solid #C7C7C7;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('img/select_arrow.gif');
    background-repeat: no-repeat;
    background-position: 4% 50%;
    text-indent: 0.01px;
    text-overflow: "";
    font-size: 16px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .form-usage form .form-inside-div .button{
    margin-top: 30px;
}
.content-wrapper .content .content-left.full-width .right.center-image-bank .image-bank-right .form-usage form .form-inside-div .button input{
    background: #F98412;
}

/*Image Bank*/
.cropit-image-preview
{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.cropit-image-preview img
{
    float: left;
    width: 100%;
}
.delete_categories
{
    text-decoration: none;
    color: #ef5238;
}
.add_categories
{
    cursor: pointer;
    color: #ef5238 !important;
}
.data-header-coupon-option-status
{
    float: right;
}
.data-content-coupon-option-status
{
    float: right;
}
.data-content-coupon-option-status .approved
{
    color: green;
}
.data-content-coupon-option-status .pending
{
    color: #ef4d32;
}
ul.token-input-list {
    overflow: hidden; 
    min-height: 49px;
    width: 580px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0 10px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}
ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
    padding: 15px 10px;
    font-size: 16px;
    float: left;
}

/*CSS FOR THE BUTTONS INCLUDED IN THE FILE \include\top-nav-show-image-bank.php*/ 
#btn_upload_from_pc_library{
    width: 23%;
    float:right;
    margin-top: 6px;
    margin-left: 10px;  
}
#upload_from_pc{
    float:right;
    padding:11px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    background: #6dac29;
    color: #fff7ff;
    text-align: center
}
#upload_from_library{
    float:right;
    margin-right: 10px;
    display:none;
    background: rgb(109, 172, 41);
    color: #fff7ff;
    cursor: pointer;
    padding: 10px;

}