
.listing-title-detail
{
    float: left;
    width: 655px;
    text-align: left;
    margin-bottom: 50px;
}
.listing-title-detail .listing-title
{
    float: left;
    width: 655px;  
    font-family: IdealSans-Light-Pro;
    font-size: 44px;
    color: #ef4d32;
    margin-bottom: 10px;
}
.listing-address
{
    font-family: IdealSans-Light-Pro;
    font-size: 28px;
    color: #525252;
    float: left;
    width: 655px;
}
.address-heading.listing-leftnav-margin {
    margin-top: 5px;
}
.listing-detail-left
{
    width: 655px;
    float: left;
}
.listing-detail-left .listing-desc
{
    float: left;
    padding: 70px 0;
    font-size: 15px;
    width: 655px;
    text-align: left;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    line-height: 1.5em;
}
.listing-detail-left .listing-desc:last-child
{
    border-bottom: none;
}
.border-top-none
{
    border-top: none !important;
}
.margin-top-none
{
    margin-top: 0 !important;
}
.padding-top-none
{
    padding-top: 0 !important;
}
.listing-desc .location-desc {
    float: left;
    padding: 40px 0 0px 0;
    font-size: 15px;
    width: 655px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.listing-desc .location-map
{
    float: left;
}
.listing-detail-right
{
    width: 275px;
    float: right;
}
.listing-detail-right .listing-detail-tripplanner
{
    padding: 35px 0 ;
    float: left;
    width: 275px;
    border-top: 1px solid #eeeeee; 
}
.listing-detail-right .listing-detail-tripplanner .address-heading
{
    float: left;
    width: 275px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 50px;
}
.get-coupon-btn {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.get-coupon-btn a {
    float: left;
    background-color: #ef4d32;
    width: 275px;
    color: #FFF;
    padding: 15px 0;
    font-family: IdealSans-Light-Pro;
    font-size: 20px;
}
.coupon-listing-info {
    float: left;
    width: 100%;  
    background-color: #eaeae9;
    color: #8b8b8a;
    margin-bottom: 35px;
    font-family: IdealSans-Light-Pro;
    padding: 35px 0;
    font-size: 30px;
}
.get-coupon-listing {
     float: left;
    width: 92%;
    padding: 0 10px;  
}
.get-coupon-town {
    float: left;
    width: 100%;  
}
.listing-detail-right .listing-detail-address
{
    padding-bottom: 35px;
    float: left;
    width: 275px;
    border-bottom: 1px solid #eeeeee; 
}
.listing-detail-right .listing-detail-address.border-top-none
{
    padding-top: 35px;
}
.listing-detail-right .listing-detail-address .listing-detail-add-icon
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}
.listing-detail-add-detail
{
    float: left;
    width: 215px;
    text-align: left;
    font-size: 15px;
    font-family: IdealSans-Light-Pro;
    color: #525252;
}
.listing-address-container
{
    float: left;
    width: 275px;
    margin-bottom: 20px;
}
.address-heading
{
    float: left;
    width: 215px;
    margin-bottom: 6px;
}
.listing-detail-add-detail .address-heading:last-child
{
    margin-bottom: 0;
}
.listing-detail-address .listing-address-container:last-child
{
    margin-bottom: 0;
}
.address-heading a
{
    color: #525252;
}
.address-heading a.view-map
{
    color: #0078be;
}
.view-acc .ui-icon{
    display: none;
}
.view-acc .ui-accordion-header
{
    margin-top: 0 !important;
    border: none;
    background: none;
    color: #525252;
    font-weight: normal;
    cursor: pointer;
        
}
.listing-detail-add-detail .ui-widget {
    font-family: IdealSans-Light-Pro ;
    font-size: 15px ;
}
.listing-detail-add-detail .ui-accordion .ui-accordion-content
{
    padding: 40px 0;
    border-left: none;
    border-right: none;
    color: #525252;
    border-radius: 0;
}
.day-heading
{
    float: left;
    width: 200px;
}
.day-timing
{
    float: left;
    width: 200px;
    margin-bottom: 25px;
}
.businessListing-timing .day-timing:last-child
{
    margin-bottom: 0;
}
.businessListing-timing .acc-body
{
    float: left;
    width: 200px;
    margin-bottom: 8px;
}
.businessListing-timing .acc-body:last-child
{
    margin-bottom: 0;
}
h4:focus {outline:0;}
.scrollToTop{
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 40px;
    display: none;
    z-index: 999;
}
.scrollToTop:hover{
    text-decoration:none;
}
.listing-footer .footer
{
    margin-top: 0;
}
.menu-desc {
    float: left;
    font-size: 15px;
    width: 655px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
    margin-bottom: 35px;
}
.listing-detail-left .menu-desc.last-child {
    margin-bottom: 0px;
}
.menu-item-heading-container {
    float: left;
    width: 655px;
    font-family: IdealSans-Light-Pro;
    font-weight: bold;
}
.menu-item-heading-container .menu-title {
    float: left;
    font-size: 20px;
    margin-bottom: 5px;
}
.menu-desc p {
    float: left;
    width: 655px;
    font-family: IdealSans-Light-Pro;
    font-size: 18px;
}
.listings-social-icon
{
    float: left;
    width: 275px;
    margin-top: 40px;
    text-align: center;
}
.listings-social-icon img
{
    width: 30px;
    margin-right: 5px;
}
.ckeditor-anchor-listing p
{
    margin-bottom: 15px;
}
.ckeditor-anchor-listing p:last-child
{
    margin-bottom: 0px;
}

.coupon-img {
    margin-bottom: 42px;
    min-width: 100%;
}
.get-this-coupon {
    float: left;
    border: 5px solid #d4d4d3;
    color: #525252;
}
.email-sent .get-this-coupon-wrapper {
    padding: 100px 25px;
}
.get-this-coupon-wrapper {
    float: left;
    padding: 25px;
    text-align: left;
}
.get-this-coupon-wrapper form {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.get-this-coupon-wrapper input[type="email"] {
    width: 400px;
    padding: 7px 10px;
    font-size: 20px;
    border: 1px solid #d4d4d3;
    font-family: IdealSans-Light-Pro;
    float: left;
}
.get-this-coupon-wrapper input.coupon-button {
    font-family: IdealSans-Light-Pro;
    border: none;
    font-size: 20px;
    background-color: #ef4d32;
    padding: 5px 15px 13px 15px;
    float: left;
    margin-left: 10px;
    color: #FFF;
}

.coupon-form-title {
    float: left;
    margin: 5px 0;
    width: 560px;
    font-size: 30px;
    font-family: IdealSans-Light-Pro;
}
.coupon-form-text {
    float: left;
    width: 100%;
    margin: 5px 0;
    font-family: IdealSans-Light-Pro;
    font-size: larger;
}
.email-sent {
    margin-bottom: 35px;
}
.coupon-form-title.email-sent-coupon {
    text-align: center;
    color: #ef4d32;
    padding: 0 50px;
    width: 460px;
    font-size: 45px;
}
.coupon-form-text.email-sent-town, .coupon-form-text.email-sent-to {
    text-align: center;
    font-size: 30px; 
}