/*!
* Tourist Town
* Date: Mon Jan 02 2017 17:00:00 PST
* http://touristtown.ca
*
* Copyright 2017, 2018 TouristTown.
*
*/

/* Font
-----------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'ArcherPro-Bold_0';
    src: url('font/ArcherPro-Bold_0.eot');
    src: url('font/ArcherPro-Bold_0.eot?#iefix') format('embedded-opentype'),
        url('font/ArcherPro-Bold_0.woff') format('woff'),
        url('font/ArcherPro-Bold_0.ttf') format('truetype');
}
@font-face {
    font-family: 'ArcherPro-Semibold';
    src: url('font/ArcherPro-Semibold.eot');
    src: url('font/ArcherPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('font/ArcherPro-Semibold.woff') format('woff'),
        url('font/ArcherPro-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'ArnoPro-Caption';
    src: url('font/ArnoPro-Caption.eot');
    src: url('font/ArnoPro-Caption.eot?#iefix') format('embedded-opentype'),
        url('font/ArnoPro-Caption.woff') format('woff'),
        url('font/ArnoPro-Caption.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Light-Pro';
    src: url('font/IdealSans-Light-Pro.eot');
    src: url('font/IdealSans-Light-Pro.eot?#iefix') format('embedded-opentype'),
        url('font/IdealSans-Light-Pro.woff') format('woff'),
        url('font/IdealSans-Light-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'IdealSans-Semibold-Pro';
    src: url('font/IdealSans-Semibold-Pro.eot');
    src: url('font/IdealSans-Semibold-Pro.eot?#iefix') format('embedded-opentype'),
        url('font/IdealSans-Semibold-Pro.woff') format('woff'),
        url('font/IdealSans-Semibold-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('font/MyriadPro-Regular.eot');
    src: url('font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/MyriadPro-Regular.woff') format('woff'),
        url('font/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NewsGothicStd';
    src: url('font/NewsGothicStd.eot');
    src: url('font/NewsGothicStd.eot?#iefix') format('embedded-opentype'),
        url('font/NewsGothicStd.woff') format('woff'),
        url('font/NewsGothicStd.ttf') format('truetype');
}
@font-face {
    font-family: 'BlairMdITC-TT-Medium';
    src: url('font/BlairMdITC-TT-Medium.eot');
    src: url('font/BlairMdITC-TT-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/BlairMdITC-TT-Medium.woff') format('woff'),
        url('font/BlairMdITC-TT-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'ITC-Franklin-Gothic-Book';
    src: url('font/ITC-Franklin-Gothic-Book.eot');
    src: url('font/ITC-Franklin-Gothic-Book.eot?#iefix') format('embedded-opentype'),
        url('font/ITC-Franklin-Gothic-Book.woff') format('woff'),
        url('font/ITC-Franklin-Gothic-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'Ashwood';
    src: url('font/Ashwood.ttf') format('truetype');
}
@font-face {
    font-family: 'Georgia';
    src: url('font/Georgia.ttf') format('truetype');
}
@font-face {
    font-family: 'Georgia-Bold';
    src: url('font/Georgia-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nyala';
    src: url('font/Nyala.ttf') format('truetype');
}
@font-face {
    font-family: 'Nexa-Rust-Sans-Black';
    src: url('font/Nexa-Rust-Sans-Black.otf');
}
@font-face {
    font-family: 'Swiss';
    src: url('font/Swiss.ttf') format('truetype');
}
@font-face {
    font-family: 'Aller';
    src: url('font/Aller.ttf') format('truetype');
}
@font-face {
    font-family: 'Aileron-Black';
    src: url('font/Aileron-Black.otf');
}
@font-face {
    font-family: 'Aileron-BlackItalic';
    src: url('font/Aileron-BlackItalic.otf');
}
@font-face {
    font-family: 'Aileron-Bold';
    src: url('font/Aileron-Bold.otf');
}
@font-face {
    font-family: 'Aileron-BoldItalic';
    src: url('font/Aileron-BoldItalic.otf');
}
@font-face {
    font-family: 'Aileron-Heavy';
    src: url('font/Aileron-Heavy.otf');
}
@font-face {
    font-family: 'Aileron-HeavyItalic';
    src: url('font/Aileron-HeavyItalic.otf');
}
@font-face {
    font-family: 'Aileron-Italic';
    src: url('font/Aileron-Italic.otf');
}
@font-face {
    font-family: 'Aileron-Light';
    src: url('font/Aileron-Light.otf');
}
@font-face {
    font-family: 'Aileron-LightItalic';
    src: url('font/Aileron-LightItalic.otf');
}
@font-face {
    font-family: 'Aileron-Regular';
    src: url('font/Aileron-Regular.otf');
}
@font-face {
    font-family: 'Aileron-SemiBold';
    src: url('font/Aileron-SemiBold.otf');
}
@font-face {
    font-family: 'Aileron-SemiBoldItalic';
    src: url('font/Aileron-SemiBoldItalic.otf');
}
@font-face {
    font-family: 'Aileron-Thin';
    src: url('font/Aileron-Thin.otf');
}
@font-face {
    font-family: 'Aileron-ThinItalic';
    src: url('font/Aileron-ThinItalic.otf');
}
@font-face {
    font-family: 'Aileron-UltraLight';
    src: url('font/Aileron-UltraLight.otf');
}
@font-face {
    font-family: 'Aileron-UltraLightItalic';
    src: url('font/Aileron-UltraLightItalic.otf');
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('font/Nexa-Bold.otf');
}
@font-face {
    font-family: 'CooperHewitt-Bold';
    src: url('font/CooperHewitt-Bold.otf');
}
@font-face {
    font-family: 'CooperHewitt-BoldItalic';
    src: url('font/CooperHewitt-BoldItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Book';
    src: url('font/CooperHewitt-Book.otf');
}
@font-face {
    font-family: 'CooperHewitt-BookItalic';
    src: url('font/CooperHewitt-BookItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Heavy';
    src: url('font/CooperHewitt-Heavy.otf');
}
@font-face {
    font-family: 'CooperHewitt-HeavyItalic';
    src: url('font/CooperHewitt-HeavyItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Light';
    src: url('font/CooperHewitt-Light.otf');
}
@font-face {
    font-family: 'CooperHewitt-LightItalic';
    src: url('font/CooperHewitt-LightItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Medium';
    src: url('font/CooperHewitt-Medium.otf');
}
@font-face {
    font-family: 'CooperHewitt-MediumItalic';
    src: url('font/CooperHewitt-MediumItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Semibold';
    src: url('font/CooperHewitt-Semibold.otf');
}
@font-face {
    font-family: 'CooperHewitt-SemiboldItalic';
    src: url('font/CooperHewitt-SemiboldItalic.otf');
}
@font-face {
    font-family: 'CooperHewitt-Thin';
    src: url('font/CooperHewitt-Thin.otf');
}
@font-face {
    font-family: 'CooperHewitt-ThinItalic';
    src: url('font/CooperHewitt-ThinItalic.otf');
}
/* Font

/*MAINSCREEN(mainscreen.css)*/
/* Global
-----------------------------------------------------------------------------------------------------------*/
html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6 { 
    margin: 0; 
}
ul { 
    margin: 0; 
    padding: 0; 
}
a { 
    text-decoration: none; 
    color: #0b3254; 
    font-weight: normal 
}
img {
    max-width: 100%; 
}
.heading-text {     
    font-family: 'Nexa-Rust-Sans-Black';
    color: #ef4d32;
    font-weight: normal;
    font-size: 19px; 
}
.site-text {
    font-family: IdealSans-Light-Pro; 
    color: #525252; 
    font-weight: normal 
}
.theme-paragraph ul li {
    margin-left: 40px; 
    margin-bottom: 15px; 
}
.site-text.ckeditor-anchors a {
    padding: 0 !important; 
}
.ckeditor-anchors p { 
    margin-bottom: 15px; 
}
.description .description-wrapper .description-inner .site-text.ckeditor-anchors p {
    margin-bottom: 15px; 
}
.padding-bottom-none { 
    padding-bottom: 0 !important
}
.padding-none { 
    padding: 0 !important
}
.margin-bottom-none { 
    margin-bottom: 0 !important
}
.border-none { 
    border: none !important
}
.sub-cat-margin  {
    margin-bottom: 45px !important
}
.footer-menu-width{
    width: 673px;
    float: left;
}
.text-style.footer-menu{
    width: 100%;
    float: left;
}
.menu-li-value{
    width: 222px;
    float: left;

}
.fulsizeFooter{
    width: 800px;
    float: left;
    padding: 2px 2px 6px;
}
.footer-inside{ margin-top: 5px; }
/* pagination styles */
.pagination { 
    margin-top: 80px; 
    text-align: center; 
    width: 900px; 
    float: left; 
    border-bottom: 1px solid #525252; 
    border-top: 1px solid #525252; 
    padding: 30px;
}
.pull-left { 
    float: left;  
    margin-top: 5px; 
}
.pull-right { 
    float: right;  
}
.page { 
    float: left; 
    padding: 6px 11px 7px 11px; 
    margin-right: 5px; 
    margin-bottom: 5px; 
    background: #afaea7; 
    text-decoration: none; 
    color: #fff; 
}
.page.arrows { 
    color: #525252; 
    background: none; 
    float: left; 
}
.page-active { 
    background-color: #525252; 
}
.pagination-inside-div
{
    width: 800px;
    margin: 0 auto;
}
.arrow {
    position: fixed;
    bottom: 40px;
    right: 5%;
    z-index: 10; 
}
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0); }
    40% {
        -webkit-transform: translateY(-30px); }
    60% {
        -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0); }
    40% {
        -moz-transform: translateY(-30px); }
    60% {
        -moz-transform: translateY(-15px); } }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px); }
    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px); } }
.page-content .rightside {
    width: 960px;
    float: left;
    font-size: 24px;
    text-align: center;
    background-color: #F5F2E7;
}
.page-content .rightside .righttext  {
    width: 960px;
    float: left;
    margin-bottom: 50px;
    margin-top: 50px;
}
.page-content.error-page {
    width: 960px;
    margin: 0 auto;
}
.heading-text.error-page{
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 22px;
}
.content-wrapper.error-page {
    width: 960px;
    margin: auto;
}
.content-wrapper-inner.error-page {
    width: 100%;
    float: left;
    /* padding: 100px 0;*/
}
.top-bar {
    background: #be422e;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 30px;
}
.page-content.error-page {
    width: 100%;
    float: left;
}
.page-content .leftside.error-page  {
    width: 45%;
    float: left;
    margin-right: 5%;
}

.heading-text.error-page{
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 22px;
}
/*1111.site-text.ckeditor-anchors p{
  margin-bottom: 20px;
  margin-top: 20px;
}*/
.page-content .rightside.error-page  a {
    text-decoration: none;
    color: #be422e;
    font-size: 20px;
}
.drop-down-arrow { 
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 7px solid #0078be; 
    margin: 0; 
    float: left; 
    margin-top: 10px; 
    margin-left: 17px; 
    position: absolute; 
    z-index: 999; 
}
/* Global
-----------------------------------------------------------------------------------------------------------*/

/* Header
-----------------------------------------------------------------------------------------------------------*/

.main-header {
    width: 100%;
    float: left;
}
.header-top-nav {
    width: 100%;
    background-color: #ef4d32;
    float: left;
}
.header-top-nav-inside {
    margin: auto;
    width: 960px;
    color: #0078be;
}
.inside-wrapper {
    width: 960px;
    float: left;
    font-family: IdealSans-Light-Pro;
    font-size: 14px;
    height: 50px;
}
.inside-wrapper .site-name{
    width: 450px;
    float: left;
    /*margin-top: 5px;*/
}
.inside-wrapper .season-dropdown{
    width: 190px;
    float: left;
    text-align: center;
    /*margin-top: 1px;*/
}
.inside-wrapper .season-dropdown select{
    border: 1px solid #aad1e9;
    background-color: #e8f1f9;
    color: #0078be;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 180px;
    padding: 5px 0 5px 30px;
    font-family: inherit;
}
/*.inside-wrapper .season-dropdown form select option{
    background-color: #FFF;
    color: #0078be;
}*/
.inside-wrapper .social-icons{
    /*width: 320px;*/
    width: 959px;
    /* float: left;*/
    text-align: center;
    font-size: 20px;
}
.social-icons-right{padding-top: 12px; float: right;}
.inside-wrapper .social-icons img{
    width: 25px;
}
.inside-wrapper .social-icons .icons-wrapper {
    float: right;
}
.inside-wrapper .social-icons .icons-wrapper .tt-icons{
    display: inline-block;
    vertical-align: middle;
}
.inside-wrapper .social-icons .icons-wrapper .tt-icons:last-child{
    margin-right: 0px;
}
.inside-wrapper .social-icons .icons-wrapper .tt-search{
    position: relative;
}
.navbar-search {
    float: right;
}
.search_header {
    float: right;
    padding: 0px;
}
.search_header .search_field input {
    font-family: IdealSans-Semibold-Pro;
    font-size: 19px;
    padding: 15px 0;
    border-radius: 7px;
    border: 1px solid;
    padding-left: 45px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 12px;
}

.logo-nav {
    width: 100%;
    float: left;
}
.logo-nav-wrapper {
    margin: auto;
    width: 960px;
}
.logo-nav-container {
    display: inline-block;
    margin: 20px 0 35px 0;
    width: 960px;
    position: relative;
}
.site-logo {
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin-right: 30px;
}
.site-logo img{
    float: left;
    max-width: none;
    /*width: 150px;*/
}
.logo-top-nav {
    display: inline-block;
    vertical-align: middle;
    width: 700px;
    font-family: IdealSans-Semibold-Pro;
    text-transform: uppercase;
    font-size: 19px;
    float: right;
    padding: 28px 0;
}

.logo-top-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.logo-top-nav ul li{
    float: right;
}
.logo-top-nav ul li a {
    float: left;
    padding: 20px 35px;
    font-family: Nexa-Rust-Sans-Black;
}
.logo-top-nav ul li:first-child a {
    float: left;
    padding: 20px 10px 20px 40px;
}
/* Main Navigation */
.logo-top-nav ul li ul.submenu {
    width: 940px;
    left: 10px;
    color: #444;
    padding: 25px 0 20px 0;
    margin: 0;
    display: none; 
    position: absolute;
    z-index: 999;
    top: 75%;
    border-top: 5px solid #ef4d32;
    background-color: #a8a8a8;
}
.logo-top-nav ul li ul.submenu .dd-inner {
    background-color: #a8a8a8;
    white-space: nowrap;
}
.logo-top-nav ul li ul.submenu li {
    float: left;
    width: 940px;
}
.logo-top-nav ul li ul.submenu .dd-inner .column {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    background-color: #a8a8a8;
    white-space: normal;
    width: 250px;
    padding: 1px 0px 1px 45px;
    float: left;
    /*height: 50px;*/ 
}
.column .header {
    padding: 3px 0px 15px 45px;
    float: left;
}
.fulsize{
    width: 937px;
    float: left;
    /*clear: both;*/
}
.logo-top-nav ul li ul.submenu .dd-inner .column a {
    display: block;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
    width: 230px;
    padding: 15px 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: normal;
    font-family: IdealSans-Light-Pro;
}
.logo-top-nav ul li ul.submenu .dd-inner .column a:hover {
    color: #FFF;
}
.logo-top-nav ul li ul.submenu .dd-inner .column-img {
    float: right;
    width: 370px;
}
.logo-top-nav ul li:hover ul.submenu { 
    display: block;
}
.logo-top-nav ul li ul.submenu .dd-inner .column .maps-text {
    color: #0078be;
}
.logo-top-nav ul li ul.submenu .dd-inner .column-img img {
    float: left;
    margin-bottom: 10px;
}
.logo-top-nav ul li ul.submenu .dd-inner .col-first-img {
    margin-top: 40px;
}
.logo-top-nav ul li ul.submenu .dd-inner .column-img a.advertise-header {
    border: none;
    padding: 0;
}
.logo-top-nav ul li ul.submenu .dd-inner .column-img a:hover {
    background-color: transparent;
    cursor: pointer;
}
/* Main Navigation End*/
/* Header End
-----------------------------------------------------------------------------------------------------------*/
/* Cycle Slider Start
-----------------------------------------------------------------------------------------------------------*/
.main_slider {
    float: left;
    width: 100%;
}
.main_slider .slider_wrapper {
    width: 960px;
    margin: auto;
}
.main_slider .slider_wrapper .slider_wrapper_inside {
    float: left;
    width: 960px;
    text-align: center;
    position: relative;
}

.main_slider .slider_wrapper.map {
    width: 100%;
    margin: auto;
}
.main_slider .slider_wrapper.map .slider_wrapper_inside {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
}
.main_slider .slider_wrapper .sliderCycle, .main_slider .slider_wrapper .homepage-painting {
    float: left !important;
    width: 100% !important;
    max-width: 100% !important;
    /*height: 640px;*/
}
.main_slider .slider_wrapper .sliderCycle img, .main_slider .slider_wrapper .homepage-painting img {
    max-width: 100% !important;
    /*height: 640px;*/
}
.main_slider .slider_wrapper .sliderCycle .slide-images, .main_slider .slider_wrapper .homepage-painting .slide-images{
    float: left;
    text-align: center;
    font-size: 30px;
    font-family: ArcherPro-Bold_0;
    font-weight: normal;
    width: 100% !important;
    color: #fff;
    /*height: 640px;*/
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text, .main_slider .slider_wrapper .homepage-painting .slide-images .slider-text {
    margin: auto;
    width: 100%;
    margin-bottom: 75px;
    position: absolute;
    top: 37%;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text a, .main_slider .slider_wrapper .homepage-painting .slide-images .slider-text a {
    color: #FFF;
    text-decoration: underline;
    font-weight: normal;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text h1, .main_slider .slider_wrapper .homepage-painting .slide-images .slider-text h1{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    line-height: 1em;
    font-weight: normal;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text h3, .main_slider .slider_wrapper .homepage-painting .slide-images .slider-text h3{
    width: 100%;
    text-align: center;
    font-family: IdealSans-Light-Pro;
    font-size: 21px;
    font-weight: normal;
    line-height: 1em;
}
.main_slider .slider_wrapper .sliderCycle .slide-images img, .main_slider .slider_wrapper .sliderCycle .slide-images img{
    width: 100%;
    margin: auto;
    background-size: cover;
    float: left;
    /*height: 640px;*/
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 60px;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button {
    width: 210px;
    margin: auto;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button .video_icon {
    margin-top: -4px;
    position:relative;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button.slider-listing-button .video_icon {
    margin-top: 10px;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button img {
    float: left;
    background-size: initial;
    width: auto;
}
.main_slider .slider_wrapper .sliderCycle .slide-images .slider-text .watch-video .slider-button a {
    border: 2px solid #FFF;
    padding: 15px 25px 15px 55px;
    font-family: IdealSans-Light-Pro;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFF;
    font-size: 15px;
    border-radius: 10px;
    margin-left: -50px;
    margin-top: -13px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
}
.main_slider .image_overlay_img {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.main_slider .image_overlay_img .image_overlay {
    margin: auto;
    width: 960px;
    position: relative;
    z-index: 333;
}
.main_slider .image_overlay_img .image_overlay img {
    float: left;
}
/*Slider Arrows*/
.center #prev {
    background-image: url('images/sliderarrows.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 44%;
    height: 47px;
    width: 50px;
    z-index: 111;
    display: none;
    cursor: pointer;
}

.center #next {
    background-image: url('images/sliderarrows.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 44%;
    height: 47px;
    width: 50px;
    background-position: 100% 0;
    z-index: 111;
    display: none;
    cursor: pointer;
}
/* Cycle Slider End
-----------------------------------------------------------------------------------------------------------*/
/* Description after slider
-----------------------------------------------------------------------------------------------------------*/
.description {
    width: 100%;
    float: left;
    background-color: #f5f2e7;
    margin-bottom: 40px;
}
.description .description-wrapper {
    width: 960px;
    margin: auto;
    text-align: center;
}
.description .description-wrapper .description-inner {
    width: 960px;
    float: left;
    padding: 75px 0;
}
.description .description-wrapper .description-inner .site-text {
    width: 820px;
    margin: auto;
    text-align: left;
    font-size: 15px;
    padding: 0 70px;
}
.description .description-wrapper .description-inner h1 {
    font-size: 40px;
    margin-bottom: 55px;
}
.description .description-wrapper .description-inner .description-text {
    text-align: left;
    width: 600px;
}
.description .description-wrapper .description-inner .site-text p{
    line-height: 1.5em;
}
/* Description after slider End
-----------------------------------------------------------------------------------------------------------*/
/* Thumbnail Grid
-----------------------------------------------------------------------------------------------------------*/
.thumbnail-grid.slider-grid {
    padding-top: 55px;
    padding-bottom: 0px;
    border-bottom: none;
}
.thumbnail-grid.last-grid {
    border: none;
}
.thumbnail-grid {
    width: 100%;
    float: left;
    padding: 50px 0;
    border-bottom: 1px solid #eee;
}
.grid-wrapper {
    margin: auto;
    width: 960px;
}
.grid-inner {
    margin: auto;
    width: 960px;
    float: left;
    padding-bottom: 50px;
    margin-top: 45px;
}
.grid-inner:first-child {
    margin-top: 0px;
}
.grid-inner.grid-last-child {
    border: none;
}
.grid-left-title {
    float: left;
    width: 500px;
}
.grid-left-title h3{
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: normal;
}
.grid-left-view {
    font-family: IdealSans-Light-Pro;
    float: right;
    width: 460px;
    text-align: right;
    text-decoration: underline;
    margin-top: 3px;
}
.grid-left-view h3 a {
    color: #ef4d32;
    font-weight: normal;
}
.thumbnails {
    float: left;
    width: 960px; 
    margin-top: 20px;
}
.thumbnail-slider {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}
.thumbnail-slider div.inner {
    margin: 0;
}
ul.bxslider li {
    width: 310px !important;
    margin-right: 15px !important;
    list-style: none !important;
    float: left !important;
    display: none;
}
ul.non-bxslider li {
    width: 310px !important;
    margin-right: 15px !important;
    list-style: none !important;
    float: left !important;
}
ul.non-bxslider li:last-child {
    margin-right: 0 !important;
}
ul.bxslider li a, ul.non-bxslider li a { 
    float: left;
    background-color: #eaeae9;
}
ul.bxslider li a h3.thumbnail-heading, ul.non-bxslider li a h3.thumbnail-heading {
    line-height: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Nexa-Rust-Sans-Black;
    font-size: 16px;
}
ul.bxslider li a h3, ul.non-bxslider li a h3{
    color: #EF4D32;
}

/*******For other paeges********/
.thumbnail-heading {
    font-family: ArcherPro-Bold_0;
    font-weight: normal;
    text-align: center;
    float: left;
    width: 310px;
    font-size: 15px;
    margin-bottom: 17px; 
}
.thumbnail-desc {
    font-family: IdealSans-Light-Pro;
    font-weight: normal;
    text-align: center;
    float: left;
    width: 290px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
}

.thumbnail-coupon {
    font-family: IdealSans-Light-Pro;
    font-weight: normal;
    text-align: center;
    float: left;
    width: 290px;
    font-size: 15px;
    background-color: #ef4d32;
    padding: 15px 10px;
    color: #FFF;
    text-transform: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.bxslider li a h3.thumbnail-coupon, ul.non-bxslider li a h3.thumbnail-coupon {
    color: #fff;
}
.thumbnails.static-thumbs{
    margin-top: 35px;
    margin-bottom: 15px;
}
.thumbnails.static-thumbs:last-child{
    margin-bottom: 0px;
}
.thumbnails .thumb-item {
    width: 310px;
    float: left;
    margin-right: 15px;
    background-color: #eaeae9;
}
.thumbnails .thumb-item a {
    text-transform: uppercase;
    font-weight: normal;
    color: #525252;
}
.thumbnails .thumb-item a h3.thumbnail-desc{
    text-transform: none;
    font-weight: normal;
}
.thumbnails .thumb-item:last-child {
    margin-right: 0px;
}
.thumbnails .thumb-item img{
    width: 310px;
    float: left;
    margin-bottom: 17px;
}

/* Thumbnail Grid End
-----------------------------------------------------------------------------------------------------------*/
/* Search Result Start
-----------------------------------------------------------------------------------------------------------*/
.description.search-results {
    background-color: #FFF;
}
.description.search-results .description-wrapper .description-inner h1{
    margin-bottom: 20px;
    font-size: 50px;
}
.search-form {
    float: left;
    width: 770px;
    padding: 0 95px;
}
.search-form .search_field {
    float: left;
    width: 700px;
    text-align: left;
    margin-right: 9px;
}
.search-form .search_field input{
    width: 700px;
    color: #ef4d32;
    background: #f8a1a1;
    border: none;
    padding: 10px 0;
    text-align: center;
    font-family: IdealSans-Light-Pro;
    font-size: 25px;
}
.search-form .search_button{
    float: left;
    width: auto;
}
.search-form .search_button input {
    float: left;
    background: #ef4d32;
    border: none;
    font-size: 25px;
    font-family: IdealSans-Light-Pro;
    color: #FFF;
    padding: 6px 15px 14px 20px;
}
/* Search Result End
-----------------------------------------------------------------------------------------------------------*/
/* Map Section Start
-----------------------------------------------------------------------------------------------------------*/
.map_wrapper {
    width: 100%;
    margin: auto;
    float: right;
}
#map_canvas {
    width: 100%;
    height: 640px;
    float: left;
}
.description.maps {
    background-color: #FFF;
}
.description.maps .description-wrapper .description-inner {
    padding-top: 50px;
    padding-bottom: 50px;
}
.description.maps .description-wrapper .description-inner h1.heading-text {
    font-size: 40px;
    font-family: IdealSans-Light-Pro;
    margin-bottom: 30px;
}
.description.maps .description-wrapper .description-inner h1 {
    margin-bottom: 45px;
}
.map-top-filters,
.map-bottom-filters {
    /*    background: none repeat scroll 0 0 #fff;
        border-radius: 4px;
        float: left;
        padding: 20px;
        width: 860px*/
}
.map-top-filters .filters-section {
    width: 100%;
    float: left;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee
}
.map-top-filters .filters-section.last {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none
}
.saddle-bag-top-filters {
    padding: 0
}
/*.map-top-filters input[type="checkbox"],
.map-bottom-filters input[type="checkbox"] {*/
.map-filter-checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: relative;
    z-index: 10
}
.squaredCheckbox {
    width: 12px;
    position: relative;
    float: left
}
.squaredCheckbox span.checkboxStyling {
    border: 1px solid #473c36;
    border-radius: 2px;
    cursor: pointer;
    height: 12px;
    position: absolute;
    top: 0;
    width: 12px;
    left: 0;
    background: #fcfff4;
    font-size: 0;
    content: '';
}
.squaredCheckbox span.checkboxStyling:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    background: transparent;
    top: 2px;
    left: 1px;
    border: 3px solid #473c36;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.squaredCheckbox input[type="checkbox"]:checked+span.checkboxStyling:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}
.map-filter-label {
    float: left;
    margin-right: 20px;
    font-family: 'IdealSans-Light-Pro';
    font-size: 18px;
    text-transform: uppercase
}
.map-top-filters .map-filter-label {
    width: 110px
}
.map-bottom-filters .map-filter-label {
    width: 125px;
    height: 165px
}
.map-filter {
    float: left;
    margin-right: 20px;
    padding-left: 10px;
    border-left: 1px solid #eee
}
.map-top-filters .map-filter {
    border-left: none
}
.map-top-filters .map-filter.routes {
    width: 325px;
    margin-right: 0;
    float: left
}
.map-top-filters .map-filter.routes .map-filter-checkbox {
    width: 325px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 5px
}
.map-top-filters .map-filter.roads {
    width: 515px;
    margin-right: 0
}
.map-bottom-filters .map-filter.category {
    width: 220px;
    height: 165px;
    margin-right: 0;
}
.map-filter-checkbox {
    float: left;
    /*height: 21px;*/
    display: inline-flex;
    text-align: left;
    width: 100%;
    font-size: 14px;
    font-family: IdealSans-Light-Pro;
}
.map-top-filters .map-filter-checkbox {
    width: 300px;
    font-size: 15px;
}
.map-top-filters .map-filter.roads .map-filter-checkbox {
    float: left;
    margin-right: 0;
    width: 250px
}
.map-top-filters .map-filter.roads .map-filter-checkbox.last {
    margin-right: 0
}
.map-filter-checkbox-column {
    float: left;
    width: 250px
}
.map-filter-checkbox label.label.region_label {
    text-transform: uppercase;
    color: #bc432f
}
.map-filter-checkbox label.label {
    float: left;
    margin-left: 10px;
    line-height: 1.2em;
    /*width: 135px;*/
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis
}
.map-container {
    background: none repeat scroll 0 0 #fff;
    border-radius: 4px;
    float: left;
    width: 900px
}
.map-bottom-filters {
    float: left;
    /*padding: 0 20px;*/
    padding: 0;
    width: 100%;
    text-align: left;
    font-family: IdealSans-Light-Pro;
    color: #525252;
}
.gm-style-iw {
    width: 280px !important;
    background-color: #fff;
    top: 14px !important;
    left: 29px !important;
}
#iw-container {
    width: 280px !important;
}
#iw-container .iw-content {
    padding: 10px 10px 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}
#iw-container .iw-content .tooltip-title {
    padding: 10px 0px 2px 0px;
    float: left;
    text-align: center;
    width: 260px;
}
#iw-container .iw-content tooltip-title a {
    float: none;
    text-align: center;
}
#iw-container .iw-content .thumbnail {
    width: auto;
    padding: 0;
}
#iw-container .iw-content .thumbnail img {
    width: 260px;
    height: 193px;
}
.gm-ui-hover-effect{
    margin: 0 !important;
}
/* Main Navigation for Maps */
.main-header.maps .header-top-nav-inside {
    float: left;
    width: 100%;
}
.main-header.maps .inside-wrapper {
    float:none;
    padding: 15px 1%;
    width: 98%;
}
.main-header.maps .inside-wrapper .site-name{
    margin-top: 0;
    width: auto;
}
.main-header.maps .inside-wrapper .social-icons{
    margin-top: 10px;
    width: auto;
}
.header-main-nav.maps {
    background-color: #6b7ed6;
    width: 100%;
    float: left;
}
.header-main-nav.maps .main-nav-container {
    float: left;
    width: 100%;
    text-align: center;
}
.header-main-nav.maps .main-nav-wrapper {
    color: #ffffff;
    font-family: IdealSans-Light-Pro;
    width: 100%;
    float: left;
    text-align: center;
}
.header-main-nav.maps .main-nav-wrapper ul {
    margin-bottom: 0;
    width: auto;
    list-style: none;
    display: inline-block;
}
.header-main-nav.maps .main-nav-wrapper ul li {
    position: relative;
    float: left;
    display: inline-block;
}
.header-main-nav.maps .main-nav-wrapper ul li span.filter-title {
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
    float: left;
    cursor: pointer;
}
.header-main-nav.maps .main-nav-wrapper ul li span.filter-title:hover {
    background-color: #f4f4f4;
    color: #0a78bf;
}
.header-main-nav.maps .main-nav-wrapper ul li span.filter-title.no-link:hover {
    background-color: transparent;
    color: #ffffff;
    cursor: default;
}
.header-main-nav.maps .main-nav-wrapper ul li:first-child a:hover {
    background-color: transparent;
    color: #ffffff;
}
.header-main-nav.maps .main-nav-wrapper ul li ul.submenu {
    width: 250px;
    padding: 15px;
    background: #f4f4f4;
    border-top: 0;
    border-bottom: 0;
    left: 0;
    color: #444;
    padding-bottom: 20px;
    margin: 0;
    display: none; 
    position: absolute;
    z-index: 999;
    top: 94%;
}
.header-main-nav.maps .main-nav-wrapper ul li:hover ul.submenu { 
    display: block;
}
/* Main Navigation for Maps End*/
/* side bar map page */
.sidebar_map {
    float: left;
    width: 310px;
    padding: 15px 30px 15px 15px;
    height: 610px;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar_map .thumbnails.static-thumbs {
    width: auto;
    margin: 0;
}
.sidebar_map .thumb-item {
    background: transparent;
}
/* side bar map page End */
/* Map Section End
-----------------------------------------------------------------------------------------------------------*/
/* Extra Categories
-----------------------------------------------------------------------------------------------------------*/
.extra-category {
    float: left;
    width: 100%;
    margin-top: -5px;
}
.extra-category .event-filter .filter-inner {
    width: 960px;
}
.extra-category .event-filter .filter-inner form .first-filter select {
    border: 1px solid #525252;
    background-color: #fff;
    color: #525252;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 240px;
    padding: 7px 0 8px 30px;
    float: right;
    margin-right: 15px;
}
.description.stories {
    background-color: #FFF;
}
.description.stories .story-left {
    width: 580px;
    float: left;
}
.description.stories .story-left h1.heading-text {
    text-align: left;
    line-height: 1.4em;
    margin-bottom: 10px;
}
.story-author {
    float: left;
    width: 100%;
    font-family: IdealSans-Light-Pro;
    text-align: left;
    color: #0078be;
}
.story-photo {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.story-photo img {
    float: left;
    width: 100%;
}
.story-share {
    width: 100%;
    float: left;
    background-color: #e8f1f9;
    padding: 10px 0;
    margin-top: 30px;
}
.story-share .story-share-wrapper {
    width: 300px;
    margin: auto;
}
.story-share .story-share-wrapper .story-share-text {
    float: left;
    color: #0078be;
    font-family: ArcherPro-Bold_0;
    font-size: 20px;
    margin-right: 10px;
}
.story-share .story-share-wrapper .story-imgs {
    float: left;
}
.story-share .story-share-wrapper .story-imgs img {
    float: left;
    width: 25px;
    margin-right: 5px;
}
.story-share .story-share-wrapper .story-imgs img:last-child {
    margin-right: 0px;
}
.story-title {
    float: left;
    width: 580px;
    text-align: left;
    font-family: ArcherPro-Bold_0;
    font-size: 25px;
    color: #525252;
    margin-top: 40px;
}
.story-desc {
    float: left;
    margin-top: 10px;
    margin-bottom: 60px;
    width: 580px;
    text-align: left;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    line-height: 1.5em;
}
.description.stories .story-right {
    width: 315px;
    float: right;
}
.description.stories .story-right .story-filter {
    width: 310px;
    float: left;
}
.description.stories .story-right .story-filter select {
    border: 1px solid #525252;
    background-color: #fff;
    color: #525252;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 310px;
    padding: 7px 0 9px 30px;
    float: left;
}
.description.stories .story-right .thumbnails {
    width: 310px;
    float: right;
    margin-top: 20px;
    margin-bottom: 26px;
}
.description.stories .story-right .upcoming-events {
    float: left;
    width: 310px;
    text-align: center;
    margin-top: 46px;
    font-size: 25px;
    font-family: IdealSans-Light-Pro;
}
.description.stories .story-right .upcoming-events .upcoming-events-wrapper {
    width: 100%;
    text-align: center;
    float: left;
    padding: 25px 0;
    border-top: 1px solid #525252;
    border-bottom: 1px solid #525252;
}
.description.stories .story-right .upcoming-events .upcoming-events-wrapper a {
    text-decoration: underline;
    float: none;
    color: #0078be;
}

/* Extra Categories End
-----------------------------------------------------------------------------------------------------------*/
/* Footer Start
-----------------------------------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    float: left;
    margin-top: 20px;
    border-top: 10px solid #ef4d32;
}
.footer-outer {
    clear: both;
    padding: 0;
    margin: auto;
    width: 960px;
}
.footer-column {
    width: 900px;
    float: left;
    text-align: center;
    padding: 70px 30px;
    font-family: 'IdealSans-Light-Pro';
}
.footer-item {
    float: left;
    width: 225px;
}
.footer-column ul {
    list-style-type: none;
    text-align: left;
}
.footer-column ul.text-style {
    /*margin-bottom: 50px;*/
}
.text-style {
    float: left;
    width: 223px;
    margin-left: 0;
}
.text-style li {
    margin-bottom: 14px;
}
.text-style li:last-child {
    /*margin-bottom: 0px;*/
}
.footer-custom-margin {
    margin-top: 45px;
}
.footer-images {
    width: 960px;
    float: left;
    padding: 35px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.footer-margin-auto {
    min-height: 60px;
    display: table;
    margin: 0px auto;

}
.footer-margin-auto div img {
    min-height: 35px;
    display: inline-block;
    vertical-align: middle;
}
.footer-margin-auto div
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;

}
.footer-margin-auto div a {
    margin-right: 70px;
}
.footer-margin-auto a img {
    /*margin-bottom: 50px;*/
}
.footer-urls {
    width: 960px;
    float: left;
    padding: 35px 0;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.footer-urls ul{
    list-style: none;
    display: inline-block;
    text-align: initial;
    position: relative;
    color: #525252;
    font-family: 'IdealSans-Light-Pro';
}
.footer-urls ul li{
    float: left;
    padding: 0 20px;
    border-right: 1px solid #525252;
}
.footer-urls ul li:last-child{
    border: none;
}
.footer-urls ul li a{
    color: #525252;
}
.footer-copyrights {
    width: 960px;
    float: left;
    padding: 35px 0;
    text-align: center;
    font-family: 'IdealSans-Light-Pro';
    color: #525252;
    font-size: 13px;
}
.footer-copy-wrapper {
    width: 870px;
    margin: auto;
    text-align: center;
}
/* Footer End
-----------------------------------------------------------------------------------------------------------*/
/*MAINSCREEN(mainscreen.css)*/

/*LISTING(listing.css)*/
.listing-title-detail
{
    float: left;
    width: 655px;
    text-align: left;
    margin-bottom: 50px;
}
.listing-title-detail .listing-title
{
    float: left;
    width: 655px;  
    font-family: IdealSans-Light-Pro;
    font-size: 44px;
    color: #ef4d32;
    margin-bottom: 10px;
}
.listing-address
{
    font-family: IdealSans-Light-Pro;
    font-size: 28px;
    color: #525252;
    float: left;
    width: 655px;
}
.address-heading.listing-leftnav-margin {
    margin-top: 5px;
}
.listing-detail-left
{
    width: 655px;
    float: left;
}
.listing-detail-left .listing-desc
{
    float: left;
    padding: 70px 0;
    font-size: 15px;
    width: 655px;
    text-align: left;
    font-family: IdealSans-Light-Pro;
    color: #525252;
    line-height: 1.5em;
}
.listing-detail-left .listing-desc:last-child
{
    border-bottom: none;
}
.border-top-none
{
    border-top: none !important;
}
.margin-top-none
{
    margin-top: 0 !important;
}
.padding-top-none
{
    padding-top: 0 !important;
}
.listing-desc .location-desc {
    float: left;
    padding: 40px 0 0px 0;
    font-size: 15px;
    width: 655px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
}
.listing-desc .location-map
{
    float: left;
}
.listing-detail-right
{
    width: 275px;
    float: right;
}
.listing-detail-right .listing-detail-tripplanner
{
    padding: 35px 0 ;
    float: left;
    width: 275px;
    border-top: 1px solid #eeeeee; 
}
.listing-detail-right .listing-detail-tripplanner .address-heading
{
    float: left;
    width: 275px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 50px;
}
.get-coupon-btn {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.get-coupon-btn a {
    float: left;
    background-color: #ef4d32;
    width: 275px;
    color: #FFF;
    padding: 15px 0;
    font-family: IdealSans-Light-Pro;
    font-size: 20px;
}
.coupon-listing-info {
    float: left;
    width: 100%;  
    background-color: #eaeae9;
    color: #8b8b8a;
    margin-bottom: 35px;
    font-family: IdealSans-Light-Pro;
    padding: 35px 0;
    font-size: 30px;
}
.get-coupon-listing {
     float: left;
    width: 92%;
    padding: 0 10px;  
}
.get-coupon-town {
    float: left;
    width: 100%;  
}
.listing-detail-right .listing-detail-address
{
    padding-bottom: 35px;
    float: left;
    width: 275px;
    border-bottom: 1px solid #eeeeee; 
}
.listing-detail-right .listing-detail-address.border-top-none
{
    padding-top: 35px;
}
.listing-detail-right .listing-detail-address .listing-detail-add-icon
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}
.listing-detail-add-detail
{
    float: left;
    width: 215px;
    text-align: left;
    font-size: 15px;
    font-family: IdealSans-Light-Pro;
    color: #525252;
}
.listing-address-container
{
    float: left;
    width: 275px;
    margin-bottom: 20px;
}
.address-heading
{
    float: left;
    width: 215px;
    margin-bottom: 6px;
}
.listing-detail-add-detail .address-heading:last-child
{
    margin-bottom: 0;
}
.listing-detail-address .listing-address-container:last-child
{
    margin-bottom: 0;
}
.address-heading a
{
    color: #525252;
}
.address-heading a.view-map
{
    color: #0078be;
}
.view-acc .ui-icon{
    display: none;
}
.view-acc .ui-accordion-header
{
    margin-top: 0 !important;
    border: none;
    background: none;
    color: #525252;
    font-weight: normal;
    cursor: pointer;
        
}
.listing-detail-add-detail .ui-widget {
    font-family: IdealSans-Light-Pro ;
    font-size: 15px ;
}
.listing-detail-add-detail .ui-accordion .ui-accordion-content
{
    padding: 40px 0;
    border-left: none;
    border-right: none;
    color: #525252;
    border-radius: 0;
}
.day-heading
{
    float: left;
    width: 200px;
}
.day-timing
{
    float: left;
    width: 200px;
    margin-bottom: 25px;
}
.businessListing-timing .day-timing:last-child
{
    margin-bottom: 0;
}
.businessListing-timing .acc-body
{
    float: left;
    width: 200px;
    margin-bottom: 8px;
}
.businessListing-timing .acc-body:last-child
{
    margin-bottom: 0;
}
h4:focus {outline:0;}
.scrollToTop{
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 40px;
    display: none;
    z-index: 999;
}
.scrollToTop:hover{
    text-decoration:none;
}
.listing-footer .footer
{
    margin-top: 0;
}
.menu-desc {
    float: left;
    font-size: 15px;
    width: 655px;
    text-align: left;
    color: #525252;
    line-height: 1.5em;
    margin-bottom: 35px;
}
.listing-detail-left .menu-desc.last-child {
    margin-bottom: 0px;
}
.menu-item-heading-container {
    float: left;
    width: 655px;
    font-family: IdealSans-Light-Pro;
    font-weight: bold;
}
.menu-item-heading-container .menu-title {
    float: left;
    font-size: 20px;
    margin-bottom: 5px;
}
.menu-desc p {
    float: left;
    width: 655px;
    font-family: IdealSans-Light-Pro;
    font-size: 18px;
}
.listings-social-icon
{
    float: left;
    width: 275px;
    margin-top: 40px;
    text-align: center;
}
.listings-social-icon img
{
    width: 30px;
    margin-right: 5px;
}
.ckeditor-anchor-listing p
{
    margin-bottom: 15px;
}
.ckeditor-anchor-listing p:last-child
{
    margin-bottom: 0px;
}

.coupon-img {
    margin-bottom: 42px;
    min-width: 100%;
}
.get-this-coupon {
    float: left;
    border: 5px solid #d4d4d3;
    color: #525252;
}
.email-sent .get-this-coupon-wrapper {
    padding: 100px 25px;
}
.get-this-coupon-wrapper {
    float: left;
    padding: 25px;
    text-align: left;
}
.get-this-coupon-wrapper form {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.get-this-coupon-wrapper input[type="email"] {
    width: 400px;
    padding: 7px 10px;
    font-size: 20px;
    border: 1px solid #d4d4d3;
    font-family: IdealSans-Light-Pro;
    float: left;
}
.get-this-coupon-wrapper input.coupon-button {
    font-family: IdealSans-Light-Pro;
    border: none;
    font-size: 20px;
    background-color: #ef4d32;
    padding: 5px 15px 13px 15px;
    float: left;
    margin-left: 10px;
    color: #FFF;
}

.coupon-form-title {
    float: left;
    margin: 5px 0;
    width: 560px;
    font-size: 30px;
    font-family: IdealSans-Light-Pro;
}
.coupon-form-text {
    float: left;
    width: 100%;
    margin: 5px 0;
    font-family: IdealSans-Light-Pro;
    font-size: larger;
}
.email-sent {
    margin-bottom: 35px;
}
.coupon-form-title.email-sent-coupon {
    text-align: center;
    color: #ef4d32;
    padding: 0 50px;
    width: 460px;
    font-size: 45px;
}
.coupon-form-text.email-sent-town, .coupon-form-text.email-sent-to {
    text-align: center;
    font-size: 30px; 
}
/*LISTING(listing.css)*/

/*BXSLIDER(jquery.bxslider.min.css)*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}
.bx-wrapper img {
    max-width: 100%;
    display: block;
}
/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
    left: -35px;
    background: url("images/thumbnail-arrow-left.png") no-repeat 0 0px;
}
.bx-wrapper .bx-next {
    right: -45px;
    background: url("images/thumbnail-arrow-right.png") no-repeat 0px 0px;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 34%;
    outline: 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
    text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}
.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
/*BXSLIDER(jquery.bxslider.min.css)*/

/*SWEETALERT(sweetalert.css)*/
body.stop-scrolling {
    height: 100%;
    overflow: hidden; }

.sweet-overlay {
    background-color: black;
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    /* IE8 */
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 10000; }

.sweet-alert {
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999; }
@media all and (max-width: 540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px; } }
.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
.sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: 22px; }
.sweet-alert fieldset {
    border: none;
    position: relative; }
.sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
.sweet-alert .sa-error-container.show {
    padding: 10px 0;
    max-height: 100px;
    webkit-transition: padding 0.2s, max-height 0.2s;
    transition: padding 0.25s, max-height 0.25s; }
.sweet-alert .sa-error-container .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ea7d7d;
    color: white;
    line-height: 24px;
    text-align: center;
    margin-right: 3px; }
.sweet-alert .sa-error-container p {
    display: inline-block; }
.sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: #f06e57;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -9px; }
.sweet-alert .sa-input-error::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .sa-input-error::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.sweet-alert .sa-input-error.show {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
.sweet-alert input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
.sweet-alert input:focus {
    outline: none;
    box-shadow: 0px 0px 3px #c4e6f5;
    border: 1px solid #b4dbed; }
.sweet-alert input:focus::-moz-placeholder {
    transition: opacity 0.3s 0.03s ease;
    opacity: 0.5; }
.sweet-alert input:focus:-ms-input-placeholder {
    transition: opacity 0.3s 0.03s ease;
    opacity: 0.5; }
.sweet-alert input:focus::-webkit-input-placeholder {
    transition: opacity 0.3s 0.03s ease;
    opacity: 0.5; }
.sweet-alert input::-moz-placeholder {
    color: #bdbdbd; }
.sweet-alert input:-ms-input-placeholder {
    color: #bdbdbd; }
.sweet-alert input::-webkit-input-placeholder {
    color: #bdbdbd; }
.sweet-alert.show-input input {
    display: block; }
.sweet-alert button {
    background-color: #AEDEF4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
.sweet-alert button:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
.sweet-alert button:hover {
    background-color: #a1d9f2; }
.sweet-alert button:active {
    background-color: #81ccee; }
.sweet-alert button.cancel {
    background-color: #D0D0D0; }
.sweet-alert button.cancel:hover {
    background-color: #c8c8c8; }
.sweet-alert button.cancel:active {
    background-color: #b6b6b6; }
.sweet-alert button.cancel:focus {
    box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
.sweet-alert button::-moz-focus-inner {
    border: 0; }
.sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px; }
.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
.sweet-alert .sa-icon.sa-error {
    border-color: #F27474; }
.sweet-alert .sa-icon.sa-error .sa-x-mark {
    position: relative;
    display: block; }
.sweet-alert .sa-icon.sa-error .sa-line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #F27474;
    display: block;
    top: 37px;
    border-radius: 2px; }
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 17px; }
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px; }
.sweet-alert .sa-icon.sa-warning {
    border-color: #F8BB86; }
.sweet-alert .sa-icon.sa-warning .sa-body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #F8BB86; }
.sweet-alert .sa-icon.sa-warning .sa-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #F8BB86; }
.sweet-alert .sa-icon.sa-info {
    border-color: #C9DAE1; }
.sweet-alert .sa-icon.sa-info::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 29px;
    left: 50%;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #C9DAE1; }
.sweet-alert .sa-icon.sa-info::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
    background-color: #C9DAE1; }
.sweet-alert .sa-icon.sa-success {
    border-color: #A5DC86; }
.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.sweet-alert .sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px; }
.sweet-alert .sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px; }
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2; }
.sweet-alert .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #A5DC86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2; }
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .sa-icon.sa-custom {
    background-size: contain;
    border-radius: 0;
    border: none;
    background-position: center center;
    background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
    0% {
        top: 0%; }
    100% {
        top: 50%; } }

@keyframes slideFromTop {
    0% {
        top: 0%; }
    100% {
        top: 50%; } }

@-webkit-keyframes slideToTop {
    0% {
        top: 50%; }
    100% {
        top: 0%; } }

@keyframes slideToTop {
    0% {
        top: 50%; }
    100% {
        top: 0%; } }

@-webkit-keyframes slideFromBottom {
    0% {
        top: 70%; }
    100% {
        top: 50%; } }

@keyframes slideFromBottom {
    0% {
        top: 70%; }
    100% {
        top: 50%; } }

@-webkit-keyframes slideToBottom {
    0% {
        top: 50%; }
    100% {
        top: 70%; } }

@keyframes slideToBottom {
    0% {
        top: 50%; }
    100% {
        top: 70%; } }

.showSweetAlert[data-animation=pop] {
    -webkit-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
    -webkit-animation: none;
    animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
    -webkit-animation: slideFromTop 0.3s;
    animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
    -webkit-animation: slideFromBottom 0.3s;
    animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
    -webkit-animation: hideSweetAlert 0.2s;
    animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
    -webkit-animation: none;
    animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
    -webkit-animation: slideToTop 0.4s;
    animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
    -webkit-animation: slideToBottom 0.3s;
    animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px; }
    54% {
        width: 0;
        left: 1px;
        top: 19px; }
    70% {
        width: 50px;
        left: -8px;
        top: 37px; }
    84% {
        width: 17px;
        left: 21px;
        top: 48px; }
    100% {
        width: 25px;
        left: 14px;
        top: 45px; } }

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px; }
    54% {
        width: 0;
        left: 1px;
        top: 19px; }
    70% {
        width: 50px;
        left: -8px;
        top: 37px; }
    84% {
        width: 17px;
        left: 21px;
        top: 48px; }
    100% {
        width: 25px;
        left: 14px;
        top: 45px; } }

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px; }
    65% {
        width: 0;
        right: 46px;
        top: 54px; }
    84% {
        width: 55px;
        right: 0px;
        top: 35px; }
    100% {
        width: 47px;
        right: 8px;
        top: 38px; } }

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px; }
    65% {
        width: 0;
        right: 46px;
        top: 54px; }
    84% {
        width: 55px;
        right: 0px;
        top: 35px; }
    100% {
        width: 47px;
        right: 8px;
        top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0; }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1; } }

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0; }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1; } }

.animateErrorIcon {
    -webkit-animation: animateErrorIcon 0.5s;
    animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px; }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1; } }

@keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px; }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1; } }

.animateXMark {
    -webkit-animation: animateXMark 0.5s;
    animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #F8D486; }
    100% {
        border-color: #F8BB86; } }

@keyframes pulseWarning {
    0% {
        border-color: #F8D486; }
    100% {
        border-color: #F8BB86; } }

.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #F8D486; }
    100% {
        background-color: #F8BB86; } }

@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486; }
    100% {
        background-color: #F8BB86; } }

.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate; }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
    -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
    -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
    border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9; }

/*SWEETALERT(sweetalert.css)*/